@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;
  }
  .header .headBox {
    padding: 15px 20px;
  }
  .header .logoBox .headTtl {
    display: none;
  }
  .header .logoBox .logo {
    max-width: 160px;
  }
  .header .logoBox .logo a {
    display: block;
  }
  .header .hamburger {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 40px;
    z-index: 10000;
  }
  .header .hamburger .span {
    background: #000000;
    position: absolute;
    left: 50%;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    transition: 0.4s;
  }
  .header .hamburger .span:nth-of-type(1) {
    top: 10px;
  }
  .header .hamburger .span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header .hamburger .span:nth-of-type(3) {
    bottom: 10px;
  }
  .header .hamburger.is-open .span:nth-of-type(1) {
    transform: translate(-50%, 9px) rotate(-45deg);
  }
  .header .hamburger.is-open .span:nth-of-type(2) {
    opacity: 0;
  }
  .header .hamburger.is-open .span:nth-of-type(3) {
    transform: translate(-50%, -9px) rotate(45deg);
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
  .navBox {
    position: fixed;
    top: -100%;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0 0 60px;
    font-size: 16px;
    z-index: 998;
    background: #ffffff;
    transition: 0.6s;
  }
  .navBox.active {
    top: 51px;
  }
  .navBox .navList {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background: #005e5f;
  }
  .navBox .navList > .ul > .li {
    padding: 10px 20px;
  }
  .navBox .navList > .ul > .li + .li {
    border-top: 1px solid #ffffff;
  }
  .navBox .navList > .ul > .li a {
    display: block;
    color: #ffffff;
  }
  .navBox .navList > .ul .pulldown {
    pointer-events: none;
  }
  .navBox .navList > .ul .servicePanel {
    display: block !important;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap {
    padding: 10px 1em;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .left {
    display: none;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul .li + .li {
    margin: 10px 0 0;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul .li .ul {
    padding: 10px 0 0 1em;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul a {
    text-decoration: underline;
  }
  .navBox .navItem {
    padding: 20px;
  }
  .navBox .navItem .telBox {
    width: 270px;
    margin: 0 auto 20px;
  }
  .navBox .navItem .telBox a {
    display: inline-block;
    padding: 0 0 0 25px;
    font-size: 24px;
    font-weight: bold;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/header_tel.png) left center no-repeat;
    background-size: 18px auto;
  }
  .navBox .navItem .telBox > p {
    font-size: 11px;
  }
  .navBox .navItem .mailBox {
    width: 180px;
    margin: 0 auto;
  }
  .navBox .navItem .mailBox a {
    display: block;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background: #7dc9ca;
  }
  .navBox .navItem .mailBox a p {
    display: inline-block;
    padding: 0 0 0 20px;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/header_mail.png) left center no-repeat;
    background-size: 15px auto;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .main {
    margin: 61px 0 0;
  }

  .pageKvContainer .pageKv {
    height: 200px;
  }
  .pageKvContainer .pageKv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pageKvContainer .kvTitle {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding: 20px;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/page_kv_title_bg.png) right center no-repeat;
    background-size: cover;
  }
  .pageKvContainer .kvTitle h1 {
    font-size: 24px;
  }

  .pageSecTtlBox {
    margin: 0 0 30px;
  }
  .pageSecTtlBox .pageSecTtl {
    font-size: 24px;
  }
  .pageSecTtlBox .sub {
    font-size: 13px;
  }

  .mapBox {
    padding: 0 0 70%;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer .footContact {
    padding: 40px 0;
  }
  .footer .footContact .topTxt {
    margin: 0 0 3cap;
  }
  .footer .footContact .contactItem {
    max-width: 600px;
  }
  .footer .footContact .contactItem .itemBox {
    padding: 25px 20px;
  }
  .footer .footContact .contactItem .itemBox + .itemBox {
    margin: 20px 0 0;
  }
  .footer .footPanel {
    padding: 40px 0 20px;
  }
  .footer .footPanel .pagetop {
    top: 20px;
    right: 20px;
    width: 30px;
  }
  .footer .footPanel .footBox .leftBox .logo {
    max-width: 140px;
    margin: 0 0 20px;
  }
  .footer .footPanel .footBox .rightBox {
    display: none;
  }
  .footer .footPanel .copy {
    margin: 30px 0 0;
    text-align: center;
  }
}