@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain .topKvContainer .topKv {
    position: relative;
    height: 0;
    padding: 0 0 70%;
  }
  .topMain .topKvContainer .topKv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .topMain .topKvContainer .kvTtl {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .topMain .topKvContainer .kvTtl h1 {
    font-size: 24px;
    text-shadow: 0.5px 0.5px 0 #fff, -0.5px 0.5px 0 #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff;
  }
  .topMain .sec01 {
    padding: 0 0 60px;
  }
  .topMain .sec01:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55%;
    height: 60%;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/top_sec01_bg.png) bottom no-repeat;
    background-size: 100% auto;
  }
  .topMain .sec01 .secContainer {
    padding: 50px 0;
  }
  .topMain .sec01 .txt {
    margin: 0 0 30px;
  }
  .topMain .sec02 {
    padding: 60px 0 80px;
  }
  .topMain .sec02::before {
    display: none;
  }
  .topMain .sec02 .topPanel {
    position: relative;
    margin: 0 0 40px;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/top_sec02_top_bg.png) no-repeat;
    background-size: cover;
  }
  .topMain .sec02 .topPanel .txtBox {
    padding: 20px;
  }
  .topMain .sec02 .topPanel .txtBox .txt {
    color: #ffffff;
  }
  .topMain .sec02 .listPanel {
    margin: 0 0 60px;
  }
  .topMain .sec02 .listPanel .ul .li + .li {
    margin: 20px 0 0;
  }
  .topMain .sec02 .listPanel .ul .headBox {
    padding: 15px 20px 0;
  }
  .topMain .sec02 .listPanel .ul .headBox .ttl {
    font-size: 24px;
  }
  .topMain .sec02 .listPanel .ul .bodyBox {
    padding: 15px 20px 20px;
  }
  .topMain .sec02 .listPanel .ul .bodyBox .txt {
    margin: 0 0 15px;
  }
  .topMain .sec02 .listPanel .ul .list01 .headBox .icon {
    max-width: 120px;
    margin: 20px auto 0;
  }
  .topMain .sec02 .listPanel .ul .list02 .headBox .icon {
    max-width: 100px;
    margin: 10px auto 0;
  }
  .topMain .sec02 .listPanel .ul .list03 .headBox .icon {
    max-width: 120px;
    margin: 10px auto 0;
  }
  .topMain .sec02 .bnrPanel01 {
    margin: 0 0 60px;
  }
  .topMain .sec02 .bnrPanel01 .photo {
    padding: 0 0 100%;
  }
  .topMain .sec02 .bnrPanel01 .bnrBox {
    padding: 40px 20px;
  }
  .topMain .sec02 .bnrPanel01 .bnrBox .txtBox {
    display: block;
  }
  .topMain .sec02 .bnrPanel01 .bnrBox .txtBox .txt {
    margin: 0 0 20px;
  }
  .topMain .sec02 .bnrPanel01 .bnrBox .txtBox .btnMore {
    width: 220px;
    margin: 0 auto;
  }
  .topMain .sec02 .bnrList .bnrPanel + .bnrPanel {
    margin: 20px 0 0;
  }
  .topMain .sec02 .bnrList .bnrPanel .photo {
    padding: 0 0 66%;
  }
  .topMain .sec02 .bnrList .bnrPanel .bnrBox .inner {
    padding: 35px 20px;
  }
  .topMain .sec03 {
    padding: 0 0 60px;
  }
  .topMain .sec03 .blogListPanel {
    margin: 0 0 60px;
  }
  .topMain .sec03 .blogListPanel .webgene-blog .webgene-item {
    padding: 0 0 10px 0;
  }
  .topMain .sec03 .blogListPanel .webgene-blog .webgene-item + .webgene-item {
    margin: 30px 0 0;
  }
  .topMain .sec03 .blogListPanel .webgene-blog .webgene-item .info .cate {
    font-size: 12px;
  }
}
/*////////////////////////////////////////////////////////////
	strength
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .strengthMain .sec01 {
    padding: 60px 0 80px;
  }
  .strengthMain .sec01 .secBox + .secBox {
    margin: 50px 0 0;
  }
  .strengthMain .sec01 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .strengthMain .sec01 .secBox .txtBox .ttl {
    margin: 0 0 15px;
    font-size: 20px;
  }
}
/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain .pTtl {
    margin: 0 0 20px;
  }
  .serviceMain .pTtl h3 {
    padding: 0 30px;
    font-size: 18px;
  }
  .serviceMain .pTtl h3:before {
    width: 15px;
  }
  .serviceMain .pTtl h3:after {
    width: 15px;
  }
  .serviceMain .sec01 {
    padding: 60px 0;
  }
  .serviceMain .sec01 .topPanel {
    margin: 0 0 30px;
  }
  .serviceMain .sec01 .topPanel .txtBox {
    margin: 0 0 30px;
  }
  .serviceMain .sec01 .topPanel .txtBox .ttl {
    margin: 0 0 15px;
    font-size: 18px;
  }
  .serviceMain .sec01 .topPanel .chart {
    max-width: 350px;
    margin: 0 auto;
  }
  .serviceMain .sec01 .secPanel01 {
    margin: 0 0 40px;
    padding: 20px;
  }
  .serviceMain .sec01 .secPanel02 .topTxt {
    margin: 0 0 20px;
  }
  .serviceMain .sec01 .secPanel02 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .serviceMain .sec01 .secPanel02 .listBox .ul .dl {
    margin: 15px 0 0;
  }
  .serviceMain .sec01 .secPanel02 .listBox .ul .dl .dt {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .serviceMain .sec02 {
    padding: 60px 0;
  }
  .serviceMain .sec02 .secPanel01 {
    margin: 0 0 40px;
  }
  .serviceMain .sec02 .secPanel01 .txtBox {
    padding: 20px 0 0;
  }
  .serviceMain .sec02 .secPanel01 .txtBox .ttl {
    margin: 0 0 25px;
    font-size: 18px;
  }
  .serviceMain .sec02 .secPanel02 {
    margin: 0 0 40px;
  }
  .serviceMain .sec02 .secPanel02 .secBox {
    padding: 0 20px;
  }
  .serviceMain .sec02 .secPanel02 .secBox .dl {
    padding: 20px 10px;
  }
  .serviceMain .sec02 .secPanel02 .secBox .dl .dt {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .serviceMain .sec02 .secPanel02 .secBox .dl .dd {
    line-height: 2;
  }
  .serviceMain .sec02 .secPanel03 .txtBox {
    padding: 20px 0 0;
  }
  .serviceMain .sec02 .secPanel03 .txtBox .box .dl {
    padding: 15px 10px;
  }
  .serviceMain .sec02 .secPanel03 .txtBox .box .dl .dt {
    font-size: 18px;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .serviceMain .sec02 .secPanel03 {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .sec02 .secPanel03 .photo {
    width: 50%;
  }
  .serviceMain .sec02 .secPanel03 .txtBox {
    width: 45%;
  }
  .serviceMain .sec02 .secPanel03 .txtBox .box .dl {
    display: flex;
    align-items: center;
  }
  .serviceMain .sec02 .secPanel03 .txtBox .box .dl .dt {
    width: 30%;
  }
  .serviceMain .sec02 .secPanel03 .txtBox .box .dl .dd {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  .serviceMain .sec03 {
    padding: 60px 0;
  }
}
/*////////////////////////////////////////////////////////////
	trucks
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .trucksMain .pTtl {
    margin: 0 0 20px;
  }
  .trucksMain .pTtl h3 {
    padding: 0 30px;
    font-size: 18px;
  }
  .trucksMain .pTtl h3:before {
    width: 15px;
  }
  .trucksMain .pTtl h3:after {
    width: 15px;
  }
  .trucksMain .sec01 {
    padding: 40px 0 80px;
  }
  .trucksMain .sec01 .topTxt {
    padding: 0 0 30px;
  }
  .trucksMain .sec01 .listContainer {
    padding: 50px 0;
  }
  .trucksMain .sec01 .listContainer .listTable .table .tr > * {
    padding: 12px;
  }
  .trucksMain .slidePanel .slideBox .ul .li {
    width: 50%;
  }
}
/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .recruitMain .sec01 {
    padding: 60px 0;
  }
  .recruitMain .sec01 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .recruitMain .sec01 .secBox .txtBox .ttl {
    margin: 0 0 15px;
    font-size: 18px;
  }
  .recruitMain .sec02 {
    padding: 60px 0;
  }
  .recruitMain .sec02 .secBox {
    padding: 20px;
  }
  .recruitMain .sec02 .secBox + .secBox {
    margin: 15px 0 0;
  }
  .recruitMain .sec02 .secBox .ttl {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .recruitMain .sec03 {
    padding: 60px 0;
  }
  .recruitMain .sec03 .listBox .ul .li {
    padding: 20px;
  }
  .recruitMain .sec03 .listBox .ul .li + .li {
    margin: 15px 0 0;
  }
  .recruitMain .sec03 .listBox .ul .dl .dt {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .recruitMain .sec04 {
    padding: 60px 0;
  }
  .recruitMain .sec04 .infoBox {
    margin: 0 0 60px;
  }
  .recruitMain .sec04 .infoBox .dl {
    padding: 15px 0;
  }
  .recruitMain .sec04 .infoBox .dl .dt {
    font-size: 16px;
  }
  .recruitMain .sec04 .entryPanel {
    padding: 40px 0;
  }
  .recruitMain .sec04 .entryPanel .pageSecTtlBox {
    text-align: center;
  }
  .recruitMain .sec04 .entryPanel .txtBox {
    display: block;
    text-align: center;
  }
  .recruitMain .sec04 .entryPanel .txtBox .btnMore {
    margin: 20px auto 0;
  }
}
/*////////////////////////////////////////////////////////////
	guide
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .guideMain .sec01 {
    padding: 60px 0;
  }
  .guideMain .sec01 .secPanel {
    padding: 15px 20px;
  }
  .guideMain .sec01 .secPanel + .secPanel {
    margin: 15px 0 0;
  }
  .guideMain .sec01 .secPanel .step {
    width: 55px;
    height: 50px;
    margin: 0 auto 20px;
  }
  .guideMain .sec01 .secPanel .step p {
    transform: skewX(20deg);
  }
  .guideMain .sec01 .secPanel .step .span {
    font-size: 12px;
  }
  .guideMain .sec01 .secPanel .step .em {
    font-size: 20px;
  }
  .guideMain .sec01 .secPanel .secBox {
    padding: 0;
  }
  .guideMain .sec01 .secPanel .secBox .ttl {
    margin: 0 0 15px;
    font-size: 18px;
    text-align: center;
  }
  .guideMain .sec01 .secPanel .txtBox {
    margin: 0 0 20px;
  }
  .guideMain .sec01 .contactItem {
    max-width: 600px;
  }
  .guideMain .sec01 .contactItem .itemBox {
    padding: 5px 20px;
  }
  .guideMain .sec01 .contactItem .itemBox + .itemBox {
    margin: 20px 0 0;
  }
  .guideMain .sec02 {
    padding: 60px 0;
  }
  .guideMain .sec02 .secBox .txtBox .txt p + p {
    margin: 15px 0 0;
  }
  .guideMain .sec02 .secBox .chart {
    max-width: 500px;
    margin: 30px auto 0;
  }
  .guideMain .sec03 {
    padding: 60px 0;
  }
  .guideMain .sec03 .faqBox + .faqBox {
    margin: 15px 0 0;
  }
  .guideMain .sec03 .faqBox .dl .dt {
    padding: 10px 50px 10px 15px;
  }
  .guideMain .sec03 .faqBox .dl .dt::before {
    content: "+";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }
  .guideMain .sec03 .faqBox .dl .dt .span {
    font-size: 18px;
  }
  .guideMain .sec03 .faqBox .dl .dd {
    padding: 15px;
  }
}
/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .companyMain .sec01 {
    padding: 60px 0;
  }
  .companyMain .sec01 .secBox {
    padding: 0 0 60px;
  }
  .companyMain .sec01 .secBox .txt p + p {
    margin: 15px 0 0;
  }
  .companyMain .sec01 .secBox .name {
    margin: 25px 0 0;
  }
  .companyMain .sec01 .secBox .name .em {
    font-size: 20px;
  }
  .companyMain .sec02 {
    padding: 60px 0;
  }
  .companyMain .sec02 .infoBox .dl {
    padding: 15px 0;
  }
  .companyMain .sec02 .infoBox .dl .dt {
    font-size: 16px;
  }
  .companyMain .sec02 .mapContainer {
    padding: 60px 0 0;
  }
  .companyMain .sec02 .mapContainer .mapPanel + .mapPanel {
    margin: 50px 0 0;
  }
  .companyMain .sec02 .mapContainer .pTtl {
    margin: 0 0 20px;
  }
  .companyMain .sec02 .mapContainer .pTtl h3 {
    padding: 0 30px;
    font-size: 18px;
  }
  .companyMain .sec02 .mapContainer .pTtl h3:before {
    width: 15px;
  }
  .companyMain .sec02 .mapContainer .pTtl h3:after {
    width: 15px;
  }
  .companyMain .sec03 {
    padding: 60px 0;
  }
  .companyMain .sec03 .infoBox .dl {
    padding: 15px 0;
  }
  .companyMain .sec03 .infoBox .dl .dt {
    margin: 0 0 5px;
  }
}
/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain .contactFormSection .pTtl {
    margin: 0 0 30px;
  }
  .contactMain .contactFormSection .pTtl h3 {
    padding: 0 30px;
    font-size: 18px;
  }
  .contactMain .contactFormSection .pTtl h3:before {
    width: 15px;
  }
  .contactMain .contactFormSection .pTtl h3:after {
    width: 15px;
  }
  .contactMain .contactFormSection .formContainer01 {
    padding: 40px 0;
  }
  .contactMain .contactFormSection .formContainer02 {
    padding: 40px 0;
  }
  .contactMain .telSection {
    padding: 60px 0;
  }
  .contactMain .telSection .telBox {
    max-width: 500px;
    padding: 20px;
  }
  .contactMain .telSection .telBox a {
    display: inline-block;
    padding: 0 0 0 25px;
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/footer_tel.png) left center no-repeat;
    background-size: 20px auto;
  }
  .contactMain .telSection .telBox > p {
    margin: 10px 0 0;
    font-size: 11px;
  }
}
/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain .contactForm .form .checkList .ul {
    padding: 0;
  }
  .formMain .contactForm .formBox + .formBox {
    margin-top: 40px;
  }
  .formMain .contactForm .formBox > .dl {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl::before {
    display: none;
  }
  .formMain .contactForm .formBox > .dl.line .dt {
    padding: 10px;
  }
  .formMain .contactForm .formBox > .dl > .dt {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .formMain .contactForm .formBox > .dl > .dt .span {
    width: auto;
    min-width: 0;
    margin-right: 10px;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
  .formMain .contactForm .formBox > .dl > .dt .span br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dt .em {
    font-size: 12px;
    vertical-align: middle;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside {
    margin-top: 5px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p {
    font-size: 12px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dd {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: none;
  }
  .formMain .contactForm .formBox .radioBox {
    padding: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list {
    display: block;
    margin: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list + .list {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li {
    display: block;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li + .li {
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem {
    display: inline-block;
    padding: 0 5px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem + input {
    display: inline-block;
    width: 150px;
  }
  .formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
    display: block;
  }
  .formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
    display: block;
  }
  .formMain .contactForm .formBox .datePanel {
    display: block;
    font-size: 14px;
  }
  .formMain .contactForm .formBox .datePanel + .datePanel {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .datePanel > * {
    padding: 0 0 5px;
  }
  .formMain .contactForm .formBox .datePanel input {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .selectBox {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .dateTtl {
    margin: 0 10px 0 0;
  }
  .formMain .contactForm .formBox .datePanel .dateTxt {
    margin: 0 5px;
  }
  .formMain .contactForm .formBox .dateBox input[type=text] {
    width: 70px;
  }
  .formMain .contactForm .formBox .dateBox .radioList {
    display: block;
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .selectBox {
    width: 180px;
  }
  .formMain .contactForm .formBox .privacy .agreeBox {
    height: 250px;
    padding: 20px 10px;
  }
  .formMain .contactForm .fileUploadBox {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileBox {
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .fileArea {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileArea .inputFile {
    width: 200px;
  }
  .formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
    width: 100%;
    margin: 10px 0 0;
  }
  .formMain .contactForm .fileUploadTitleBox {
    margin: 40px 0 20px;
  }
  .formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
    padding: 0 15px 0 0;
    font-size: 20px;
  }
}
/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain .blogSection {
    padding: 50px 0 80px;
  }
  .blogMain .catePanel {
    padding: 40px 0;
  }
  .blogMain .catePanel .webgene-blog .webgene-item {
    display: block;
    width: 180px;
    margin: 0 auto 20px;
  }
  .blogMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -10px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(50% - 10px);
    margin: 40px 0 0 10px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 0;
    margin: 0 0 10px;
    padding: 0 0 80%;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .title {
    min-height: 0;
    margin: 0;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .more p {
    padding: 0 30px 10px 0;
    background: url(https://s-5512793.smooooth.jp/system_panel/uploads/images/blog_list_arrow.png) right 5px center no-repeat;
    background-size: 10px auto;
  }
  .blogMain .blogPanel--list .webgene-pagination {
    margin: 60px auto 0;
  }
  .blogMain .blogPanel--detail .webgene-blog .ttlBox {
    font-size: 20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide {
    margin: 0 0 40px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
    padding: 0 0 70%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li > div {
    overflow: hidden;
    position: relative;
    padding: 0 0 100%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-prev {
    left: -20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-next {
    right: -20px;
  }
  .blogMain .blogPanel--detail .btnBackBox {
    margin: 50px 0 0;
  }
  .blogMain .blogPanel--detail .btnBack {
    margin: 40px auto 0;
  }
}