@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 12px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
.header .logoBox {
  position: fixed;
  top: 38px;
  left: 20px;
  width: 100%;
  max-width: 140px;
  z-index: 10000;
}
.header .logoBox p {
  display: none;
  margin: 5px 0 0;
  font-size: 8px;
}
.header .hamburger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 30px;
  right: 0;
  width: 77px;
  height: 53px;
  z-index: 10000;
  border-radius: 30px 0 0 30px;
  background: #ffffff;
}
.header .hamburger span {
  background: #f88f87;
  position: absolute;
  left: 35%;
  width: 30px;
  height: 2px;
  transition: 0.4s;
}
.header .hamburger span:nth-of-type(1) {
  top: 20px;
}
.header .hamburger span:nth-of-type(2) {
  width: 15px;
  bottom: 20px;
}
.header .hamburger.is-open span:nth-of-type(1) {
  transform: translate(0, 5px) rotate(-25deg);
}
.header .hamburger.is-open span:nth-of-type(2) {
  width: 30px;
  transform: translate(0, -5px) rotate(25deg);
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
.navBox {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 30px 50px;
  z-index: 1000;
  background: #f7dfd3;
}
.navBox .navList {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}
.navBox .navList ul li {
  position: relative;
  padding: 0 0 0 15px;
}
.navBox .navList ul li + li {
  margin: 20px 0 0;
}
.navBox .navList ul li a {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.navBox .navList ul .current::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto 0;
  border-radius: 50%;
  background: #ffffff;
}
.navBox .navList ul .current a {
  color: #f88f87;
}
.navBox .bnrList {
  max-width: 315px;
  margin: 40px auto 0;
}
.navBox .bnrList ul li + li {
  margin: 12px 0 0;
}
.navBox .bnrList ul li a {
  display: block;
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.mapBox {
  padding: 0 0 70%;
}

.btnMore {
  max-width: 250px;
  width: 100%;
}
.btnMore a div {
  top: -5px;
  left: -5px;
  font-size: 14px;
  padding: 9px 10px;
  border-radius: 50px;
}

.btnMorePink a {
  border: 2px solid #f88f87;
}
.btnMorePink a div {
  border: 2px solid #f88f87;
}

.btnMoreGreen a {
  border: 2px solid #8ac45f;
}
.btnMoreGreen a div {
  border: 2px solid #8ac45f;
}

.btnMoreBlue a {
  border: 2px solid #84c7e0;
}
.btnMoreBlue a div {
  border: 2px solid #84c7e0;
}

.btnMoreBlueDeep a {
  border: 2px solid #1777bf;
}
.btnMoreBlueDeep a div {
  border: 2px solid #1777bf;
}

.btnPager {
  max-width: 100%;
  width: auto;
}
.btnPager a div {
  font-size: 18px;
}
.btnPager a div::before {
  right: 15px;
  width: 25px;
  height: 25px;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer.arrow:before {
  width: 32px;
  height: 18px;
}
.footer .footContact .slidePanel .slideBox ul li {
  position: relative;
  width: 50%;
  height: 300px;
}
.footer .footContact .slidePanel .slideBox ul li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer .footContact .contactPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 385px;
  padding: 0 20px;
}
.footer .footContact .contactPanel .contactItem {
  width: 100%;
  height: 238px;
  border-radius: 48%;
}
.footer .footContact .contactPanel .contactItem + .contactItem {
  margin: 20px 0 0;
}
.footer .footContact .contactPanel .contactItem dl dt {
  margin: 0 0 15px;
  font-size: 28px;
}
.footer .footContact .contactPanel .contactItem dl dd .txt {
  font-size: 10px;
}
.footer .footContact .contactPanel .contactItem dl dd .btnMore {
  margin: 20px auto 0;
}
@media (min-width: 1140px) {
  .footer .footContact .contactPanel {
    display: flex;
    justify-content: space-between;
  }
  .footer .footContact .contactPanel .contactItem {
    width: 46%;
    height: 25vw;
  }
}
.footer .footPanel {
  padding: 70px 20px;
  text-align: center;
  background: url("../image/common/footer_panel_bg_sp.png") no-repeat;
  background-size: cover;
}
.footer .footPanel .footBox {
  width: 100%;
}
.footer .footPanel .footBox .logo {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}
.footer .footPanel .footBox .footNav {
  display: none;
}
.footer .footPanel .footBox .txtBox {
  margin: 30px 0 0;
  font-size: 12px;
}
.footer .footPanel .copy {
  display: block;
  margin: 180px 0 0;
}
.footer .footPanel .copy dt {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 500;
}
.footer .footPanel .copy dd {
  font-size: 8px;
  text-align: center;
}