@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvContainer {
    position: relative;
    .topKv {
      position: relative;
      height: 800px;
      .kvBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .kv01 {
          background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_kv_01.png)
            center no-repeat;
          background-size: cover;
        }
        .kv02 {
          background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_kv_02.png)
            center no-repeat;
          background-size: cover;
        }
        .kv03 {
          background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_kv_03.png)
            center no-repeat;
          background-size: cover;
        }
      }
    }
    .topKvTitlePanel {
      position: absolute;
      left: 0;
      bottom: 100px;
      width: 900px;
      padding: 30px 20px 0 100px;
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_kv_bg.png)
        no-repeat;
      background-size: cover;
      .topKvTitle01 {
        margin: 0 0 5px;
        h1 {
          font-size: 80px;
          font-weight: 900;
          color: #ffffff;
          line-height: 1.2;
        }
      }
      .topKvTitle02 {
        position: relative;
        top: 15px;
        .ttlBg {
          + .ttlBg {
            margin: 3px 0 0;
          }
          .inner {
            display: inline-block;
            padding: 5px 20px;
            background: #ffffff;
          }
          p {
            font-size: 30px;
            white-space: noWrap;
            background: linear-gradient(
              90deg,
              #8fcbd2 0%,
              #a8ccb8 40%,
              #c1cd9e 80%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    .topKvScroll {
      position: absolute;
      left: 30px;
      bottom: 0;
      width: 40px;
    }
  }
  .sec01 {
    padding: 120px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec01_bg.png)
      no-repeat;
    background-size: cover;
    .txt {
      text-align: center;
    }
  }
  .sec02 {
    transition: 0.6s;
    &.bg01 {
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec02_bg_01.png)
        no-repeat;
      background-size: cover;
    }
    &.bg02 {
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec02_bg_02.png)
        no-repeat;
      background-size: cover;
    }
    &.bg03 {
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec02_bg_03.png)
        no-repeat;
      background-size: cover;
    }
    .secPanel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 740px;
      background: #ffffff;
      transition: 0.6s;
    }
    .listBox {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      transition: 0.6s;
      .ul {
        .li {
          padding: 15px 40px;
          background: #ffffff;
          + .li {
            margin: 20px 0 0;
          }
        }
        .ttl {
          font-size: 44px;
          font-weight: 900;
        }
        .box {
          text-align: center;
          > p {
            margin: 0 0 10px;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          .li {
            a {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      &:hover {
        .secPanel {
          padding: 200px 20px;
          background: none;
        }
        .listBox {
          max-width: 1000px;
        }
      }
    }
  }
  .sec03 {
    padding: 200px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec03_bg.png)
      no-repeat;
    background-size: cover;
    .secWrap01 {
      position: relative;
    }
    .secPanel {
      .ttlBox {
        text-align: center;
        .pageSecTtlBox {
          .sub {
            color: #b5b9d2;
          }
          .pageSecTtl {
            color: #ffffff;
          }
        }
      }
      .blogContainer {
        .webgene-blog {
          .webgene-header {
            display: none;
          }
          .webgene-item {
            a {
              display: block;
            }
            .txtBox {
              padding: 10px 0;
              color: #ffffff;
            }
          }
        }
        @media (min-width: 1025px) {
          .webgene-blog {
            display: flex;
            margin: 0 0 0 -50px;
            .webgene-item {
              width: calc((100% / 3) - 50px);
              margin: 0 0 0 50px;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .ttlBox {
          width: 200px;
        }
        .blogContainer {
          width: calc(100% - 300px);
        }
      }
      .btnMore {
        position: absolute;
        left: 30px;
        bottom: 60px;
      }
    }
  }
  .sec04 {
    padding: 200px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/top_sec04_bg.png)
      no-repeat;
    background-size: cover;
    .ttl {
      font-size: 150px;
      font-weight: 900;
      color: #98b441;
      line-height: 1;
    }
    .itemList {
      position: relative;
      top: -50px;
      max-width: 1000px;
      margin: 0 auto;
      .itemBox {
        padding: 20px;
        text-align: center;
        border: 1px solid #000000;
        background: #ffffff;
        .dl {
          .dt {
            max-width: 340px;
            margin: 0 auto 20px;
            padding: 0 0 5px;
            font-size: 40px;
            font-weight: 900;
            border-bottom: 1px dashed #000000;
          }
          .more {
            width: 240px;
            margin: 0 auto;
            a {
              display: block;
              padding: 10px;
              color: #ffffff;
              text-align: center;
              border-radius: 20px;
            }
          }
          .recruit {
            a {
              background: #27a9b8;
            }
          }
          .contact {
            a {
              background: #97ae51;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .itemList {
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: 49%;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	reason
///////////////////////////////////////////////////////////*/
.reasonMain {
  .sec01 {
    padding: 80px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/reason_sec01_bg.png)
      no-repeat;
    background-size: cover;
    .secPanel {
      position: relative;
      .photo {
        max-width: 600px;
      }
      .secTtl {
        margin: 0 0 20px;
        font-size: 40px;
        font-weight: 900;
      }
      .txtBox {
        position: relative;
        padding: 20px 20px 20px 0;
        background: #ffffff;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -50vw;
          width: 50vw;
          height: 100%;
          background: #ffffff;
        }
        .txt {
          position: relative;
          max-width: 550px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        .photo {
          position: absolute;
          right: 0;
          bottom: -40px;
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    .secBox {
      + .secBox {
        margin: 60px 0 0;
      }
      .photo {
        position: relative;
      }
      .txtBox {
        padding: 15px 0 0;
        .ttl {
          margin: 0 0 20px;
          font-size: 34px;
          font-weight: 700;
          color: #27a9b8;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 50%;
          height: 400px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          width: 45%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
    }
  }
  .secBottom {
    padding: 100px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/reason_bottom_bg.png)
      no-repeat;
    background-size: cover;
    .secBox {
      padding: 20px;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      .message {
        font-size: 0;
        p {
          display: inline;
          font-size: 30px;
          font-weight: 900;
          line-height: 1.7;
        }
        .em {
          color: #97ae51;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain {
  .sec01 {
    padding: 100px 0;
    .secBox {
      .txtBox {
        .ttlBox {
          margin: 0 0 20px;
          .ttl01 {
            font-size: 0;
            p {
              display: inline;
              font-size: 40px;
              font-weight: 900;
            }
            .em {
              color: #97ae51;
            }
          }
          .ttl02 {
            font-size: 20px;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .photo {
          width: 45%;
        }
        .txtBox {
          width: 47%;
        }
      }
    }
  }
  .sec02 {
    padding: 0 0 120px;
    .secBox {
      padding: 20px;
      background: #f5f5f4;
      + .secBox {
        margin: 30px 0 0;
      }
      .ttlBox {
        position: relative;
        .ttl {
          font-size: 34px;
          font-weight: 900;
          color: #27a9b8;
        }
      }
      .txtBox {
        position: relative;
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ttlBox {
          width: 240px;
        }
        .txtBox {
          width: calc(100% - 240px);
          padding: 0 0 0 30px;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1px;
            height: 80%;
            margin: auto 0;
            background: #000000;
          }
        }
      }
    }
  }
  .slidePanel {
    padding: 100px 0 0;
    .slideBox {
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .li {
          width: calc(100% / 4);
          margin: 0 1px;
        }
      }
    }
  }
  .secPartner {
    padding: 0 0 120px;
    .partnerPanel {
      a {
        position: relative;
        display: block;
        padding: 50px 20px;
        color: #ffffff;
        background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/service_partner_bg.png)
          no-repeat;
        background-size: cover;
        &:after {
          content: "";
          position: absolute;
          right: 10px;
          bottom: 10px;
          width: 20px;
          height: 20px;
          background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/service_partner_arrow.png)
            no-repeat;
          background-size: 20px auto;
        }
      }
      .inner {
        max-width: 1000px;
        margin: 0 auto;
      }
      .ttl {
        max-width: 400px;
        margin: 0 0 20px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
.flowMain {
  .sec01 {
    padding: 120px 0;
    .topTxt {
      margin: 0 0 60px;
      text-align: center;
    }
    .secPanel {
      padding: 0 80px 30px 40px;
      background: #f5f5f4;
      .pTtl {
        display: flex;
        align-items: flex-end;
        margin: 0 0 20px;
        padding: 0 0 5px;
        border-bottom: 1px solid #000000;
        .step {
          position: relative;
          width: 60px;
          margin: 0 20px 0 0;
          padding: 0 5px 10px;
          font-family: Futura, "Century Gothic", "游ゴシック体", "YuGothic";
          font-weight: bold;
          color: #ffffff;
          text-align: center;
          background: #97ae51;
          &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 20px;
            background: #97ae51;
          }
          .span {
            position: relative;
            font-size: 18px;
          }
          .em {
            position: relative;
            font-size: 26px;
            line-height: 1;
          }
        }
        .ttl {
          font-size: 34px;
          font-weight: 900;
          color: #97ae51;
        }
      }
      .txt {
        padding: 0 20px;
      }
      .contactPanel {
        margin: 20px 0 0;
        text-align: center;
        .ttl {
          margin: 0 0 15px;
          font-size: 24px;
          font-weight: 900;
        }
        .list {
          .ul {
            .li {
              a {
                display: block;
                font-weight: 900;
                p {
                  line-height: 1;
                }
              }
            }
            .tel {
              a {
                padding: 11px 20px;
                background: #e0edee;
                .em {
                  display: inline-block;
                  padding: 0 0 0 35px;
                  font-size: 40px;
                  color: #27a9b8;
                  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_tel.png)
                    left bottom 5px no-repeat;
                  background-size: 25px auto;
                }
              }
            }
            .contact {
              a {
                padding: 15px 20px;
                color: #ffffff;
                background: #27a9b8;
                .span {
                  margin: 0 0 10px;
                  font-size: 18px;
                }
                .em {
                  display: inline-block;
                  padding: 0 0 0 30px;
                  font-size: 24px;
                  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_mail.png)
                    left center no-repeat;
                  background-size: 24px auto;
                }
              }
            }
            .line {
              a {
                padding: 15px 20px;
                color: #ffffff;
                background: #97ae51;
                .span {
                  margin: 0 0 10px;
                  font-size: 18px;
                }
                .em {
                  display: inline-block;
                  padding: 0 0 0 30px;
                  font-size: 24px;
                  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_line.png)
                    left center no-repeat;
                  background-size: 24px auto;
                }
              }
            }
          }
          @media (min-width: 1025px) {
            .ul {
              display: flex;
              justify-content: space-between;
              .li {
                width: calc((100% / 3) - 2px);
              }
            }
          }
        }
      }
      .secBox {
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          .photoBox {
            width: 340px;
          }
          .txtBox {
            width: calc(100% - 380px);
          }
        }
      }
      .point {
        padding: 20px;
        background: #27a9b8;
        .dl {
          .dt {
            display: inline-block;
            margin: 0 0 10px;
            padding: 0 0 0 50px;
            font-size: 24px;
            font-weight: 900;
            color: #feff93;
            background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_point_icon.png)
              left 5px center no-repeat;
            background-size: 40px auto;
          }
          .dd {
            color: #ffffff;
            line-height: 2;
          }
        }
      }
    }
    .arrow {
      width: 60px;
      margin: 20px auto;
    }
  }
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
.recruitMain {
  .topSection {
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_top_bg.png)
      no-repeat;
    background-size: cover;
    .secWrap {
      position: relative;
      height: 900px;
    }
    .titleBox {
      position: absolute;
      right: 0;
      bottom: 60px;
      font-weight: 900;
      color: #ffffff;
      .title01 {
        font-size: 100px;
        line-height: 1;
      }
      .title02 {
        font-size: 40px;
      }
    }
  }
  .sec01 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_sec01_bg.png)
      no-repeat;
    background-size: cover;
    .pageSecTtlBox {
      text-align: left;
      .sub {
        color: #caccd7;
      }
    }
    .txt {
      p + p {
        margin: 30px 0 0;
      }
    }
    .name {
      margin: 50px 0 0;
      p {
        display: inline-block;
        font-weight: 900;
      }
      .em {
        font-size: 24px;
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_sec02_bg.png)
      no-repeat;
    background-size: cover;
    .listBox {
      .ul {
        .li {
          padding: 20px;
          border: 1px solid #000000;
          background: #ffffff;
        }
        .dl {
          .dt {
            margin: 0 0 10px;
            padding: 0 0 5px;
            font-size: 34px;
            font-weight: 900;
            text-align: center;
            border-bottom: 1px dashed #000000;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 10px);
          }
        }
      }
    }
    .more {
      width: 240px;
      margin: 60px auto 0;
      a {
        display: block;
        padding: 10px;
        text-align: center;
        color: #ffffff;
        border-radius: 20px;
        background: #27a9b8;
      }
    }
  }
  .sec03 {
    padding: 100px 0;
    .infoBox {
      .dl {
        line-height: 2;
        .dt {
          padding: 15px 20px;
          color: #27a9b8;
          border-bottom: 1px solid #27a9b8;
        }
        .dd {
          padding: 15px 20px;
          border-bottom: 1px solid #000000;
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          .dt {
            width: 200px;
          }
          .dd {
            width: calc(100% - 200px);
          }
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_sec04_bg.png)
      no-repeat;
    background-size: cover;
    .pageSecTtlBox {
      .sub {
        color: #caccd7;
      }
    }
    .topTxt {
      margin: 0 0 30px;
      text-align: center;
    }
  }
  .sec05 {
    padding: 100px 0;
    .secPanel {
      padding: 60px 20px;
      background: #f5f5f4;
    }
    .secBoxList {
      max-width: 1000px;
      margin: 0 auto;
    }
    .secBox {
      padding: 20px;
      text-align: center;
      .ttl {
        margin: 0 0 15px;
        font-size: 34px;
        font-weight: 900;
      }
      .txt {
        display: inline-block;
        text-align: left;
      }
    }
    .secBox01 {
      background: #e0edee;
      .tel {
        a {
          display: inline-block;
          padding: 11px 20px;
          background: #e0edee;
          .em {
            display: inline-block;
            padding: 0 0 0 35px;
            font-size: 40px;
            color: #27a9b8;
            background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_tel_icon.png)
              left bottom 15px no-repeat;
            background-size: 25px auto;
          }
        }
      }
    }
    .secBox02 {
      color: #ffffff;
      background: #97ae51;
      .qrBox {
        max-width: 340px;
        margin: 20px auto 0;
        .ttlBox {
          .ttl {
            width: 180px;
          }
        }
        .qr {
          width: 100px;
          a {
            display: block;
          }
        }
      }
      @media (min-width: 1025px) {
        .qrBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBoxList {
        display: flex;
        justify-content: space-between;
        .secBox {
          width: 49%;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	job
///////////////////////////////////////////////////////////*/
.jobMain {
  .sec01 {
    padding: 100px 0;
    .messageBox {
      margin: 0 0 60px;
      font-size: 0;
      text-align: center;
      p {
        display: inline;
        font-size: 34px;
        font-weight: 900;
      }
      .em {
        color: #97ae51;
      }
      .span {
        color: #27a9b8;
      }
    }
    .aboutTtl {
      margin: 0 0 30px;
      padding: 5px 40px;
      font-size: 30px;
      font-weight: 900;
      color: #ffffff;
      background: #1f296d;
    }
    .aboutPanel {
      margin: 0 0 60px;
      .pTtl {
        margin: 0 0 20px;
        padding: 10px 40px;
        font-size: 24px;
        font-weight: 900;
        background: #d8eff2;
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          .photo {
            width: 400px;
          }
          .txtBox {
            width: calc(100% - 440px);
          }
        }
      }
    }
    .wantedPanel {
      .pTtl {
        position: relative;
        margin: 0 0 30px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #000000;
        }
        > * {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 24px;
          font-weight: 900;
          background: #ffffff;
        }
      }
      .listBox {
        .ul {
          .dl {
            margin: 10px 0 0;
            .dt {
              margin: 0 0 10px;
              font-size: 24px;
              font-weight: 900;
              text-align: center;
              color: #27a9b8;
            }
            .dd {
              line-height: 2;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 3) - 20px);
            }
            .dl {
              .dt {
                min-height: 108px;
              }
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    .secContainer {
      .leftPanel {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 60px;
          width: 1px;
          height: calc(100% - 60px);
          background: #97ae51;
        }
        .secBox {
          display: flex;
          justify-content: space-between;
          padding: 0 0 30px;
          .timeBox {
            width: 120px;
            .time {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 120px;
              height: 120px;
              color: #ffffff;
              border-radius: 50%;
              background: #97ae51;
            }
          }
          .dl {
            width: calc(100% - 140px);
            .dt {
              padding: 5px 30px;
              font-size: 24px;
              font-weight: 900;
              color: #64bbc7;
              border-bottom: 1px solid #000000;
            }
            .dd {
              padding: 10px 30px;
              line-height: 2;
            }
          }
        }
      }
      .rightPanel {
        .ul {
          .li {
            + .li {
              margin: 20px 0 0;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .leftPanel {
          width: 70%;
        }
        .rightPanel {
          width: 25%;
        }
      }
    }
  }
  .secBottom {
    padding: 100px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/job_bottom_bg.png)
      no-repeat;
    background-size: cover;
    .secBox {
      position: relative;
      padding: 20px 20px 40px;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      .message {
        font-size: 0;
        p {
          display: inline;
          font-size: 30px;
          font-weight: 900;
          line-height: 1.7;
        }
        .em {
          color: #97ae51;
        }
      }
      .more {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        width: 240px;
        margin: 0 auto;
        a {
          display: block;
          padding: 10px;
          text-align: center;
          color: #ffffff;
          border-radius: 20px;
          background: #27a9b8;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	partner
///////////////////////////////////////////////////////////*/
.partnerMain {
  .topSection {
    padding: 60px 0 100px;
    .listBox {
      margin: 0 0 60px;
      padding: 40px 20px;
      background: #f5f5f4;
      .ul {
        max-width: 520px;
        margin: 0 auto;
        .li {
          padding: 0 0 0 35px;
          font-size: 20px;
          font-weight: 900;
          color: #27a9b8;
          background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/partner_check.png)
            left center no-repeat;
          background-size: 25px auto;
          + .li {
            margin: 15px 0 0;
          }
        }
      }
    }
    .messageBox {
      margin: 0 0 30px;
      font-size: 0;
      text-align: center;
      p {
        display: inline;
        font-size: 34px;
        font-weight: 900;
      }
      .em {
        color: #97ae51;
      }
    }
    .txt {
      text-align: center;
    }
  }
  .sec01 {
    padding: 60px 0 80px;
    color: #ffffff;
    text-align: center;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/partner_sec01_bg.png)
      center no-repeat;
    background-size: cover;
    .pageSecTtlBox {
      .sub {
        color: #ffffff;
      }
    }
    .list {
      .ul {
        .li {
          border: 1px solid #ffffff;
          .inner {
            position: relative;
            top: 6px;
            left: 6px;
            padding: 10px 20px;
            border: 1px solid #ffffff;
          }
          p {
            font-size: 24px;
            font-weight: 900;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 30px);
          }
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0 160px;
    .secPanel {
      .secBoxList {
        .secBox {
          padding: 20px 30px;
          background: #f5f5f4;
          + .secBox {
            margin: 10px 0 0;
          }
          .dl {
            line-height: 2;
            .dt {
              font-size: 24px;
              font-weight: 900;
              color: #27a9b8;
            }
          }
        }
      }
      .photoList {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .photo01 {
          position: relative;
          max-width: 300px;
          width: 100%;
        }
        .photo02 {
          position: absolute;
          left: -40px;
          bottom: -80px;
          max-width: 400px;
          width: 100%;
          z-index: 1;
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .secBoxList {
          width: 70%;
          .secBox {
            .dl {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .dt {
                width: 260px;
                border-right: 1px solid #000000;
              }
              .dd {
                width: calc(100% - 280px);
              }
            }
          }
        }
        .photoList {
          width: 30%;
        }
      }
    }
  }
  .secBottom {
    padding: 100px 0;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/partner_bottom_bg.png)
      no-repeat;
    background-size: cover;
    .secBox {
      padding: 20px;
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      .message {
        font-size: 0;
        p {
          display: inline;
          font-size: 30px;
          font-weight: 900;
          line-height: 1.7;
        }
        .em {
          color: #97ae51;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
.companyMain {
  .sec01 {
    .mainPanel {
      padding: 120px 0;
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/company_sec01_bg.png)
        no-repeat;
      background-size: cover;
      .pageSecTtlBox {
        text-align: left;
      }
      .txt {
        p + p {
          margin: 30px 0 0;
        }
      }
    }
    .subPanel {
      padding: 80px 0 120px;
      .pTtl {
        position: relative;
        margin: 0 0 30px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #000000;
        }
        > * {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 40px;
          font-weight: 900;
          background: #ffffff;
        }
      }
      .dl {
        .dt {
          font-weight: 900;
          .em {
            font-size: 34px;
          }
          .span {
            color: #27a9b8;
          }
        }
        .dd {
          line-height: 2;
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dt {
            width: 280px;
          }
          .dd {
            width: calc(100% - 280px);
            padding-left: 40px;
            border-left: 1px solid #000000;
          }
        }
      }
    }
  }
  .sec02 {
    .infoBox {
      padding: 0 0 60px;
      .dl {
        line-height: 2;
        .dt {
          padding: 15px 20px;
          color: #27a9b8;
          border-bottom: 1px solid #27a9b8;
        }
        .dd {
          padding: 15px 20px;
          border-bottom: 1px solid #000000;
          a {
            display: inline-block;
          }
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          .dt {
            width: 200px;
          }
          .dd {
            width: calc(100% - 200px);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .sec01 {
    padding: 60px 0 120px;
    .topTxt {
      margin: 0 0 30px;
      text-align: center;
    }
  }
  .sec02 {
    padding: 0 0 120px;
    .secBox {
      text-align: center;
      .pageSecTtlBox {
        margin: 0 0 10px;
      }
      .box {
        padding: 20px;
      }
      .txt {
        display: inline-block;
        text-align: left;
      }
    }
    .secBox01 {
      .box {
        background: #e0edee;
      }
      .tel {
        a {
          display: inline-block;
          padding: 8px 20px;
          background: #e0edee;
          .em {
            display: inline-block;
            padding: 0 0 0 35px;
            font-size: 40px;
            color: #27a9b8;
            background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_tel_icon.png)
              left bottom 15px no-repeat;
            background-size: 25px auto;
          }
        }
      }
    }
    .secBox02 {
      .box {
        color: #ffffff;
        background: #97ae51;
      }
      .qrBox {
        max-width: 380px;
        margin: 0 auto;
        .ttlBox {
          text-align: left;
          p {
            max-width: 230px;
            line-height: 2;
          }
        }
        .qr {
          width: 100px;
          a {
            display: block;
          }
        }
      }
      @media (min-width: 1025px) {
        .qrBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBoxList {
        display: flex;
        justify-content: space-between;
        .secBox {
          width: 49%;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    background: #ffffff;
    resize: none;
    box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .contactForm button[type="submit"] {
    overflow: hidden;
    position: relative;
    display: block;
    max-width: 220px;
    width: 100%;
    margin: 60px auto 0;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    border: 1px solid #97ae51;
    background: #97ae51;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm {
  }
  .contactForm .form {
    .checkList {
      .ul {
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 20px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #000000;
        background: #ffffff;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #27a9b8;
        border-right: 3px solid #27a9b8;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }

    .radioList01 {
      margin: -10px 0 0;
      .list {
        display: inline-block;
        margin: 10px 5px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #000000;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #27a9b8;
      }
    }

    .postalBox {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
      + input {
        + input {
          margin: 5px 0;
        }
      }
    }
  }
  .contactForm {
    text-align: left;
    .formBox {
      + .formBox {
        margin-top: 60px;
      }
      > .dl {
        display: table;
        width: 100%;
        > * {
          display: table-cell;
        }
        &.line {
          > .dt {
            padding: 20px 10px 0;
            vertical-align: top;
          }
        }
        > .dt {
          overflow: hidden;
          position: relative;
          width: 280px;
          padding: 10px 10px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #27a9b8;
          }
          .span {
            float: left;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }
          .em {
            float: right;
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            vertical-align: middle;
            background: #27a9b8;
          }
          .small {
            font-size: 12px;
          }
          .aside {
            margin-top: 10px;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }
        }

        > .dd {
          width: calc(100% - 280px);
          padding: 10px 10px;
          border-bottom: 1px solid #000000;
        }
      }
      &.white {
        > .dl {
          > .dt {
            color: #ffffff;
          }
          > .dd {
            border-bottom: 1px solid #ffffff;
          }
        }
      }
      .otherTtl {
        margin: 60px 0 20px;
        .ttl {
          width: 100%;
          max-width: 200px;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          border-radius: 10px;
          background: #124f9a;
        }
      }
      .otherRadio {
        .dt {
          display: block;
          text-align: right;
          .span {
            display: block;
            max-width: 260px;
            margin: 0;
          }
        }
      }
      .otherRadio01 {
        border-bottom: none;
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 10px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        margin: 30px auto 0;
        text-align: center;
        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          color: #161616;
          text-align: left;
          border: 1px solid #000000;
          background: #e6e6ec;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadPanel {
      padding: 20px;
    }
    .fileUploadTtl {
      margin: 0 0 15px;
    }
    .fileUploadBox {
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 20px;
        border-bottom: 1px solid #888163;
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 28%;
          font-size: 16px;
          color: #000000;
          text-align: center;
          border: 1px solid #dadada;
          background: #f8f8f8;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #54765f;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }

  .btnMore {
    margin: 0 auto;
  }
}

/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
.worksMain {
  .blogSection {
    padding: 80px 0 120px;
  }
  .catePanel {
    padding: 0 0 80px;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        a {
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          background: #27a9b8;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          a {
            display: block;
          }
          .photo {
            margin: 0 0 10px;
          }
          .title {
            min-height: 30px;
            margin: 0 0 10px;
          }
          .more {
            p {
              display: block;
              padding: 10px 0;
              border-bottom: 1px solid #090908;
              background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/works_more_arrow.png)
                right 5px center no-repeat;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -50px 0 0 -30px;
          .webgene-item {
            width: calc((100% / 3) - 30px);
            margin: 50px 0 0 30px;
            .photo {
              position: relative;
              height: 300px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #cdcdcd;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #000000;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            background: #171a1c;
          }
          .time {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 30px;
          padding: 0 0 10px;
          font-size: 30px;
          font-weight: 900;
          border-bottom: 1px solid #090908;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          max-width: 800px;
          margin: 0 0 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              // width: auto;
              max-height: 550px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
      }
    }
  }
  .btnBackBox {
    margin: 80px 0 0;
    text-align: center;
  }
  .btnContact {
    max-width: 260px;
    margin: 0 auto;
    a {
      display: block;
      padding: 10px;
      color: #ffffff;
      text-align: center;
      border-radius: 30px;
      background: #97ae51;
    }
  }
  .btnBack {
    max-width: 180px;
    margin: 100px auto 0;
    a {
      display: block;
      padding: 5px 10px;
      text-align: center;
      border-radius: 30px;
      border: 1px solid #000000;
      background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png)
        left 12px center no-repeat;
    }
  }
  .webgene-item-aroundPageLink {
    display: inline-block;
    a {
      display: block;
      width: 40px;
      color: #ffffff;
      line-height: 44px;
      border-radius: 20px;
      background: #d10b14;
    }
  }
}
