@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top {
  padding: 10vw 0 0;
}
#top .topMvContainer {
  padding: 0 5%;
}
#top .topMvContainer .kvSlidePanel {
  position: relative;
}
#top .topMvContainer .kvSlidePanel .message {
  position: absolute;
  top: -4vw;
  left: 4%;
  width: 40%;
}
#top .topMvContainer .kvSlidePanel .kvSlideBox {
  position: relative;
}
#top .topMvContainer .kvSlidePanel .logoCenter {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 15%;
  max-width: 255px;
  margin: 0 auto;
  z-index: 1;
}
#top .topMvContainer .kvSlidePanel .logoBottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  width: 80%;
  max-width: 1130px;
  margin: 0 auto;
  z-index: 1;
}
#top .topMvContainer .kvScroll {
  position: absolute;
  width: 80px;
  top: 2vw;
  right: 10%;
  width: 20px;
}
@media (min-width: 1140px) {
  #top .topMvContainer .kvNav {
    position: fixed;
    top: 9vw;
    right: 0;
    width: 5%;
    max-width: 95px;
    z-index: 99;
  }
  #top .topMvContainer .kvNav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vw;
    max-height: 215px;
    font-size: clamp(16px, 1vw, 21px);
    color: #ffffff;
    letter-spacing: 0.4em;
    border-radius: 20px 0 0 20px;
  }
  #top .topMvContainer .kvNav ul li a span {
    writing-mode: vertical-lr;
  }
  #top .topMvContainer .kvNav ul li:nth-child(1) a {
    background: #f5a073;
  }
  #top .topMvContainer .kvNav ul li:nth-child(2) a {
    background: #5d4c38;
  }
}
#top .popupEntry {
  display: none;
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  width: 25%;
  width: 445px;
  margin: 0 auto;
  border-radius: 20px;
  z-index: 99;
}
#top .popupEntry dl {
  text-align: center;
}
#top .popupEntry dl dt {
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 20px 20px 0 0;
  background: #f5a073;
}
#top .popupEntry dl dd {
  padding: 40px 20px 30px;
  color: #f5a073;
  border-radius: 0 0 20px 20px;
  background: #fdf7f0;
}
#top .popupEntry dl dd .welcome {
  display: inline-block;
  margin: 0 0 5px;
  padding: 0 10px;
  background: url("../image/top/popup_slash_01.png") left center no-repeat, url("../image/top/popup_slash_02.png") right center no-repeat;
  background-size: 8px auto, 8px auto;
}
#top .popupEntry dl dd .popupTtl {
  margin: 0 0 20px;
  font-size: 40px;
}
#top .popupEntry dl dd .linkEntry {
  max-width: 280px;
  margin: 0 auto;
}
#top .popupEntry dl dd .linkEntry a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: 14px;
  color: #f5a073;
  letter-spacing: 0.05em;
  border-radius: 30px;
  border: 1px solid #f5a073;
}
#top .popupEntry .popupClose {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 38px;
  cursor: pointer;
}
#top #section__feature {
  padding: 180px 10%;
}
#top #section__feature .sectionTtl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  width: 100%;
  text-align: center;
}
#top #section__feature .sectionTtl h2 {
  padding: 0 10px;
  font-size: clamp(18px, 2vw, 32px);
  color: #f5a073;
  letter-spacing: 0.2em;
  border-right: 2px solid #f5a073;
  white-space: nowrap;
}
#top #section__feature .listBox {
  margin: 0 0 150px;
}
#top #section__feature .listBox ul li .num {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 164px;
  height: 164px;
  margin: 0 auto;
  padding: 20px 35px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
}
#top #section__feature .listBox ul li .photo {
  margin: -30px 0 0;
}
#top #section__feature .listBox ul li .photo img {
  border-radius: 20px;
}
#top #section__feature .listBox ul li dl dt {
  margin: 0 0 15px;
  font-size: clamp(16px, 1.5vw, 28px);
  letter-spacing: 0.05em;
  text-align: center;
}
#top #section__feature .listBox ul li dl dd {
  font-size: clamp(12px, 0.8vw, 18px);
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 2;
}
@media (min-width: 1140px) {
  #top #section__feature .listBox ul {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  #top #section__feature .listBox ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0;
  }
  #top #section__feature .listBox ul li .icon {
    width: 50%;
  }
  #top #section__feature .listBox ul li .icon01 {
    max-width: 160px;
    margin: -30px auto 30px;
  }
  #top #section__feature .listBox ul li .icon02 {
    max-width: 150px;
    margin: -33px auto 30px;
  }
  #top #section__feature .listBox ul li .icon03 {
    max-width: 135px;
    margin: -27px auto 30px;
  }
  #top #section__feature .listBox ul li .icon04 {
    max-width: 135px;
    margin: -20px auto 30px;
  }
}
#top #section__feature .secBox .photoBox .photoBg {
  border-radius: 20px;
  background: #f5a073;
}
#top #section__feature .secBox .photoBox .photoBg .photo {
  position: relative;
  top: -20px;
  left: 20px;
}
#top #section__feature .secBox .txtBox dl dt {
  margin: 0 0 30px;
  font-size: clamp(20px, 1.5vw, 28px);
  color: #f5a073;
  letter-spacing: 0.05em;
}
#top #section__feature .secBox .txtBox dl dd .txt {
  margin: 0 0 4vw;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 500;
}
#top #section__feature .secBox .txtBox dl dd ul li + li .btnMoreBlack a {
  background: #716d64;
}
@media (min-width: 1140px) {
  #top #section__feature .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #top #section__feature .secBox .photoBox {
    width: 46%;
  }
  #top #section__feature .secBox .photoBox .photoBg {
    max-width: 670px;
  }
  #top #section__feature .secBox .txtBox {
    width: 48%;
  }
  #top #section__feature .secBox .txtBox dl dd .txt {
    width: 88%;
    max-width: 560px;
  }
  #top #section__feature .secBox .txtBox dl dd ul {
    display: flex;
    justify-content: space-between;
  }
  #top #section__feature .secBox .txtBox dl dd ul li {
    width: 48%;
  }
}
#top #section__flow {
  position: relative;
  padding: 0 0 220px;
}
#top #section__flow::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 100px);
  z-index: -1;
  background: #fdf7f0;
}
#top #section__flow .sectionTtl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  width: 100%;
  margin: 0 0 100px;
  text-align: center;
}
#top #section__flow .sectionTtl h2 {
  padding: 0 10px;
  font-size: clamp(18px, 2vw, 32px);
  color: #f5a073;
  letter-spacing: 0.2em;
  border-right: 2px solid #f5a073;
  white-space: nowrap;
}
#top #section__flow .scheduleContainer .tabList {
  width: 30%;
  max-width: 500px;
  margin: 0 auto 40px;
}
#top #section__flow .scheduleContainer .tabList ul {
  display: flex;
  justify-content: space-between;
}
#top #section__flow .scheduleContainer .tabList ul li {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 2vw 18px 3vw;
  font-size: clamp(12px, 1vw, 20px);
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #5d4c38;
}
#top #section__flow .scheduleContainer .tabList ul li span {
  font-weight: 500;
}
#top #section__flow .scheduleContainer .tabList ul li.active {
  pointer-events: none;
  color: #ffffff;
  background: #5d4c38;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox {
  position: relative;
  padding: 0 0 clamp(20px, 2vw, 50px);
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 25px;
  width: 2px;
  height: calc(100% - 55px);
  border-left: 2px dotted #f5a073;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .ttlHead {
  display: flex;
  align-items: center;
  color: #f5a073;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .ttlHead .clock {
  width: 55px;
  margin: 0 20px 0 0;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .ttlHead .time {
  width: 100px;
  font-size: clamp(12px, 1vw, 18px);
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .ttlHead .ttl {
  font-size: clamp(13px, 1.4vw, 28px);
  letter-spacing: 0.05em;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .cntBody {
  width: 100%;
  padding: 1vw 0 0 170px;
  font-size: clamp(12px, 1vw, 20px);
  letter-spacing: 0.05em;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .cntBody ul li + li {
  margin: 5px 0 0;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox .cntBody .txt {
  margin: 1vw 0 0;
  font-size: clamp(12px, 0.9vw, 18px);
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0;
}
#top #section__flow .scheduleContainer .secContainer .centerPanel .secBox:last-child::before {
  display: none;
}
@media (min-width: 1140px) {
  #top #section__flow .scheduleContainer .secContainer {
    display: flex;
    justify-content: space-between;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel {
    width: 30%;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul li {
    display: flex;
    flex-direction: column;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul li + li {
    margin: 3vw 0 0;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox01 .photo {
    width: 85%;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox02 {
    align-items: flex-end;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox02 .photo {
    width: 65%;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox03 .photo {
    width: 85%;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox04 {
    align-items: flex-end;
  }
  #top #section__flow .scheduleContainer .secContainer .leftPanel ul .photoBox04 .photo {
    width: 90%;
  }
  #top #section__flow .scheduleContainer .secContainer .centerPanel {
    position: relative;
    top: 60px;
    width: 32%;
  }
  #top #section__flow .scheduleContainer .secContainer .centerPanel .secBox {
    min-height: 170px;
  }
  #top #section__flow .scheduleContainer .secContainer .centerPanel .secBox:last-child {
    min-height: 0;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel {
    width: 30%;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul li {
    display: flex;
    flex-direction: column;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul li + li {
    margin: 3vw 0 0;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox05 {
    align-items: flex-end;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox05 .photo {
    width: 85%;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox06 .photo {
    width: 65%;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox07 {
    align-items: flex-end;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox07 .photo {
    width: 85%;
  }
  #top #section__flow .scheduleContainer .secContainer .rightPanel ul .photoBox08 .photo {
    width: 90%;
  }
  #top #section__flow .scheduleContainer .secContainer .spPhotoPanel {
    display: none;
  }
}
#top #section__schedule {
  padding: 220px 0;
}
#top #section__schedule .sectionTtl {
  margin: 0 0 4vw;
}
#top #section__schedule .sectionTtl h2 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#top #section__schedule .secContainer {
  padding: 0 0 0 10%;
}
#top #section__schedule .secContainer .txtBox .calendarBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2vw;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl {
  min-height: 10vw;
  flex: 1 1 30%;
  max-width: 32%;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dt {
  margin: 0 0 1vw;
  padding: 0 0 5px;
  border-bottom: 2px dotted #5d4c38;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dt em {
  font-size: clamp(22px, 2.2vw, 40px);
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dt span {
  font-size: clamp(11px, 1.3vw, 20px);
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dd {
  font-size: clamp(12px, 1vw, 24px);
  letter-spacing: 0.05em;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dd ul li {
  position: relative;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dd ul li::before {
  content: "-";
  margin: 0 3px 0 0;
  color: #f5a073;
}
#top #section__schedule .secContainer .txtBox .calendarBox dl dd ul li + li {
  margin: 5px 0 0;
}
#top #section__schedule .secContainer .txtBox .monthly {
  margin: 30px 0 0;
}
#top #section__schedule .secContainer .txtBox .monthly dl {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1.1vw, 24px);
  letter-spacing: 0.05em;
}
#top #section__schedule .secContainer .txtBox .monthly dl dt {
  width: 150px;
  margin: 0 20px 0 0;
}
#top #section__schedule .secContainer .txtBox .monthly dl dt span {
  display: block;
  padding: 10px;
  color: #f5a073;
  text-align: center;
  border: 1px solid #f5a073;
}
#top #section__schedule .secContainer .txtBox .monthly dl dd ul {
  display: flex;
  gap: 15px 30px;
}
#top #section__schedule .secContainer .txtBox .monthly dl dd ul li {
  position: relative;
}
#top #section__schedule .secContainer .txtBox .monthly dl dd ul li::before {
  content: "-";
  margin: 0 3px 0 0;
  color: #f5a073;
}
@media (min-width: 1140px) {
  #top #section__schedule .secContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  #top #section__schedule .secContainer .photoBox {
    width: 37%;
  }
  #top #section__schedule .secContainer .txtBox {
    width: 57%;
  }
}
#top #section__news {
  padding: 0 10% 200px;
}
#top #section__news .sectionTtl {
  margin: 0 0 100px;
  text-align: center;
}
#top #section__news .sectionTtl h2 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#top #section__news .listPanel .infoList .listItem a {
  display: block;
}
#top #section__news .listPanel .infoList .photoBox {
  position: relative;
}
#top #section__news .listPanel .infoList .photoBox .time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  width: 35%;
  max-width: 160px;
  font-size: clamp(11px, 1vw, 18px);
  font-weight: 300;
  text-align: center;
  z-index: 1;
  letter-spacing: 0.05em;
  border-radius: 0 0 20px 0;
  background: #ffffff;
}
#top #section__news .listPanel .infoList .photoBox .photo {
  position: relative;
  height: 0;
  padding: 0 0 70%;
}
#top #section__news .listPanel .infoList .photoBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
#top #section__news .listPanel .infoList .txtBox {
  padding: 25px 0 0;
}
#top #section__news .listPanel .infoList .txtBox .cate {
  display: inline-block;
  padding: 5px 15px;
  font-size: clamp(9px, 1vw, 14px);
  font-weight: 500;
  color: #f5a073;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 20px;
  border: 1px solid #f5a073;
}
#top #section__news .listPanel .infoList .txtBox .title {
  margin: 10px 0 0;
  font-size: clamp(12px, 1vw, 20px);
  line-height: 1.7;
}
@media (min-width: 1140px) {
  #top #section__news .listPanel .infoList .listItem {
    margin: 0 1.5vw;
  }
}
#top #section__news .listPanel .btmBox {
  width: 140px;
  margin: 50px auto 0;
}
#top #section__news .listPanel .btmBox ul {
  display: flex;
  justify-content: space-between;
}
#top #section__news .listPanel .btmBox ul li {
  width: 60px;
  cursor: pointer;
}
#top #section__guide .mvPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 390px;
  margin: 0 0 140px;
  background: url("../image/top/guide_mv_pc.png") center center/cover no-repeat;
}
#top #section__guide .mvPanel .sectionTtl {
  font-size: clamp(18px, 2vw, 30px);
  color: #ffffff;
}
#top #section__guide .guideSection {
  padding: 0 10%;
}
#top #section__guide .guideSection .guideSecTtl {
  margin: 0 0 70px;
  text-align: center;
}
#top #section__guide .guideSection .guideSecTtl h3 {
  display: inline-block;
  padding: 0 30px;
  font-size: clamp(16px, 1.5vw, 24px);
  line-height: 1.3;
  border-left: 4px solid #F5A073;
  border-right: 4px solid #F5A073;
}
#top #section__guide .guideSection .secContainer01 {
  margin: 0 0 140px;
}
#top #section__guide .guideSection .secContainer01 .infoBox {
  width: 70%;
  max-width: 1040px;
  margin: 0 auto;
}
#top #section__guide .guideSection .secContainer01 .infoBox dl {
  padding: 2vw 0;
  line-height: 2;
  border-bottom: 2px dotted #5d4c38;
}
#top #section__guide .guideSection .secContainer01 .infoBox dl:nth-child(1) {
  padding: 0 0 2vw;
}
#top #section__guide .guideSection .secContainer01 .infoBox dl dt {
  font-size: clamp(12px, 1.2vw, 20px);
  letter-spacing: 0.05em;
}
#top #section__guide .guideSection .secContainer01 .infoBox dl dd {
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 500;
  letter-spacing: 0.05em;
}
@media (min-width: 1140px) {
  #top #section__guide .guideSection .secContainer01 .infoBox dl {
    display: flex;
  }
  #top #section__guide .guideSection .secContainer01 .infoBox dl dt {
    width: 20%;
  }
  #top #section__guide .guideSection .secContainer01 .infoBox dl dd {
    width: 80%;
  }
}
#top #section__guide .guideSection .secContainer02 {
  margin: 0 0 140px;
}
#top #section__guide .guideSection .secContainer02 .flowList ol li {
  position: relative;
  text-align: center;
}
#top #section__guide .guideSection .secContainer02 .flowList ol li:not(:last-child) {
  padding: 3.5vw 30px 30px 30px;
  border-radius: 20px;
  border: 2px solid #f5a073;
}
#top #section__guide .guideSection .secContainer02 .flowList ol li:last-child .lastBox {
  width: 100%;
  padding: 2.5vw 10px;
  font-size: clamp(15px, 1.2vw, 24px);
  letter-spacing: 0.05em;
  color: #f5a073;
  line-height: 2;
  border-radius: 20px;
  background: #fdece3;
}
#top #section__guide .guideSection .secContainer02 .flowList ol .num {
  position: absolute;
  top: -1.8vw;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 4vw, 65px);
  height: clamp(40px, 4vw, 65px);
  margin: 0 auto;
  font-size: clamp(14px, 1vw, 19px);
  font-weight: 300;
  color: #f5a073;
  border-radius: 50%;
  border: 2px solid #f5a073;
  background: #ffffff;
}
#top #section__guide .guideSection .secContainer02 .flowList ol dl dt {
  margin: 0 0 12px;
  padding: 0 0 12px;
  font-size: clamp(15px, 1.2vw, 24px);
  letter-spacing: 0.05em;
  color: #f5a073;
  border-bottom: 2px dotted #f5a073;
}
#top #section__guide .guideSection .secContainer02 .flowList ol dl dd {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 500;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.05em;
}
#top #section__guide .guideSection .secContainer02 .flowList ol dl dd a {
  display: inline-block;
}
@media (min-width: 1140px) {
  #top #section__guide .guideSection .secContainer02 .flowList ol {
    display: flex;
    justify-content: space-between;
  }
  #top #section__guide .guideSection .secContainer02 .flowList ol li {
    width: calc(25% - 40px);
  }
  #top #section__guide .guideSection .secContainer02 .flowList ol li + li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    bottom: 0;
    width: 17px;
    height: 34px;
    margin: auto 0;
    background: url("../image/top/guide_flow_arrow_right.png") no-repeat;
    background-size: 100% auto;
  }
  #top #section__guide .guideSection .secContainer02 .flowList ol li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#top #section__guide .guideSection .secContainer03 .secBox dl dt {
  display: flex;
  padding: 20px 60px 20px 25px;
  font-size: clamp(16px, 1.2vw, 24px);
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  background: url("../image/common/accord_plus.png") right 20px center no-repeat #5d4c38;
  background-size: 18px auto;
}
#top #section__guide .guideSection .secContainer03 .secBox dl dt.active {
  background: url("../image/common/accord_minus.png") right 20px center no-repeat #5d4c38;
  background-size: 18px auto;
}
#top #section__guide .guideSection .secContainer03 .secBox dl dt span {
  margin: 0 13px 0 0;
  font-weight: 300;
}
#top #section__guide .guideSection .secContainer03 .secBox dl dd {
  display: none;
  padding: 20px 40px 0 25px;
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
}
#top #section__guide .guideSection .secContainer03 .secBox dl dd .box {
  display: flex;
}
#top #section__guide .guideSection .secContainer03 .secBox dl dd .box span {
  margin: 0 13px 0 0;
}
@media (min-width: 1140px) {
  #top #section__guide .guideSection .secContainer03 .secBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 0;
  }
  #top #section__guide .guideSection .secContainer03 .secBox dl {
    width: calc(50% - 20px);
  }
}
#top #section__visit {
  margin: 0 0 220px;
  padding: 200px 0 0 10%;
}
#top #section__visit .sectionTtl {
  margin: 0 0 4vw;
}
#top #section__visit .sectionTtl h2 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#top #section__visit .secContainer {
  position: relative;
}
#top #section__visit .secContainer .secPanel .topBox {
  margin: 0 0 80px;
}
#top #section__visit .secContainer .secPanel .topBox dl {
  display: flex;
  align-items: center;
  font-size: clamp(12px, 1.1vw, 24px);
  letter-spacing: 0.05em;
}
#top #section__visit .secContainer .secPanel .topBox dl + dl {
  margin: 25px 0 0;
}
#top #section__visit .secContainer .secPanel .topBox dl dt {
  width: 22%;
  margin: 0 4% 0 0;
}
#top #section__visit .secContainer .secPanel .topBox dl dt span {
  display: block;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  border: 1px solid #5d4c38;
}
#top #section__visit .secContainer .secPanel .topBox dl dd {
  letter-spacing: 0.05em;
}
#top #section__visit .secContainer .secPanel .flowList {
  margin: 0 0 50px;
}
#top #section__visit .secContainer .secPanel .flowList ol li {
  position: relative;
  padding: 15px 10px;
  border-radius: 20px;
  border: 2px solid #5d4c38;
}
#top #section__visit .secContainer .secPanel .flowList ol li + li {
  margin: 60px 0 0;
}
#top #section__visit .secContainer .secPanel .flowList ol li + li:before {
  content: "";
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  width: 35px;
  height: 18px;
  margin: 0 auto;
  background: url("../image/top/visit_flow_arrow_down.png") no-repeat;
  background-size: 100% auto;
}
#top #section__visit .secContainer .secPanel .flowList ol .num {
  position: absolute;
  top: 0;
  left: -1.8vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 4vw, 65px);
  height: clamp(40px, 4vw, 65px);
  margin: auto 0;
  font-size: clamp(14px, 1vw, 19px);
  font-weight: 300;
  border-radius: 50%;
  border: 2px solid #5d4c38;
  background: #ffffff;
}
#top #section__visit .secContainer .secPanel .flowList ol dl dt {
  font-size: clamp(12px, 1.2vw, 24px);
  letter-spacing: 0.05em;
}
#top #section__visit .secContainer .secPanel .flowList ol dl dd {
  font-size: clamp(12px, 1vw, 18px);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.05em;
}
#top #section__visit .secContainer .secPanel .btnMoreOrange {
  width: 45%;
}
@media (min-width: 1140px) {
  #top #section__visit .secContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
  #top #section__visit .secContainer .photoBox {
    width: 40%;
  }
  #top #section__visit .secContainer .secPanel {
    width: 55%;
  }
  #top #section__visit .secContainer .secPanel .flowList ol dl {
    display: flex;
    align-items: center;
  }
  #top #section__visit .secContainer .secPanel .flowList ol dl dt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 115px;
    width: 25%;
    padding: 0 1vw 0 3vw;
    border-right: 2px dotted #5d4c38;
  }
  #top #section__visit .secContainer .secPanel .flowList ol dl dd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 115px;
    width: 75%;
    padding: 0 2vw;
  }
}
#top #section__facility {
  position: relative;
  margin: 0 0 200px;
  padding: 0 0 130px;
}
#top #section__facility::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vw;
  max-height: 500px;
  z-index: -1;
  background: #fcf4ea;
}
#top #section__facility .sectionTtl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  width: 100%;
  margin: 0 0 40px;
  text-align: center;
}
#top #section__facility .sectionTtl h2 {
  padding: 0 10px;
  font-size: clamp(18px, 2vw, 32px);
  color: #f5a073;
  letter-spacing: 0.2em;
  border-right: 2px solid #f5a073;
  white-space: nowrap;
}
#top #section__facility .facilityList .listItem .num {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 164px;
  height: 164px;
  margin: 0 auto;
  padding: 40px 15px;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
}
#top #section__facility .facilityList .listItem .photo {
  margin: -50px 0 0;
}
#top #section__facility .facilityList .listItem .photo img {
  border-radius: 20px;
}
#top #section__facility .facilityList .listItem .txt {
  padding: 20px 0 0;
  font-size: clamp(12px, 1vw, 20px);
  letter-spacing: 0.05em;
  font-weight: 500;
}
@media (min-width: 1140px) {
  #top #section__facility .facilityList .listItem {
    margin: 0 1.5vw;
  }
}
#top #section__facility .btmBox {
  width: 140px;
  margin: 60px auto 0;
}
#top #section__facility .btmBox ul {
  display: flex;
  justify-content: space-between;
}
#top #section__facility .btmBox ul li {
  width: 60px;
  cursor: pointer;
}
#top #section__overview {
  padding: 0 0 250px;
}
#top #section__overview .topContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#top #section__overview .topContainer .photo {
  position: relative;
  width: 52%;
  z-index: 1;
}
#top #section__overview .topContainer .logo {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 40%;
  max-width: 740px;
}
#top #section__overview .overviewContainer {
  margin: -40px 0 0;
  padding: 0 10%;
}
#top #section__overview .sectionTtl {
  margin: 0 0 4vw;
}
#top #section__overview .sectionTtl h2 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#top #section__overview .infoPanel .infoBox > dl {
  padding: 25px 0;
  font-weight: 500;
  border-bottom: 2px dotted #5d4c38;
}
#top #section__overview .infoPanel .infoBox > dl > dd {
  letter-spacing: 0.05em;
}
#top #section__overview .infoPanel .infoBox > dl > dd a {
  display: inline-block;
}
#top #section__overview .infoPanel .infoBox > dl > dd dl {
  display: flex;
}
#top #section__overview .infoPanel .infoBox + .infoBox > dl:last-child {
  border: none;
}
@media (min-width: 1140px) {
  #top #section__overview .infoPanel {
    display: flex;
    gap: 0 5%;
  }
  #top #section__overview .infoPanel .infoBox {
    width: 43%;
  }
  #top #section__overview .infoPanel .infoBox > dl {
    display: flex;
    font-size: clamp(12px, 1.1vw, 20px);
  }
  #top #section__overview .infoPanel .infoBox > dl > dt {
    width: 25%;
  }
  #top #section__overview .mapPanel {
    width: 43%;
    margin: -20vw 0 0;
  }
}
#top #section__contact {
  padding: 0 0 250px;
}
#top #section__contact .contactSection {
  max-width: 1040px;
  margin: 0 auto;
}
#top #section__contact .contactSection .sectionTtl {
  margin: 0 0 70px;
  text-align: center;
}
#top #section__contact .contactSection .sectionTtl h2 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#top #section__contact .contactSection .contactStep {
  margin: 0 0 30px;
}
#top #section__contact .contactSection .contactStep ol {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0 5vw;
}
#top #section__contact .contactSection .contactStep ol li {
  color: #716d64;
  opacity: 0.5;
}
#top #section__contact .contactSection .contactStep ol li span {
  display: block;
  font-size: clamp(12px, 2vw, 20px);
  letter-spacing: 0.05em;
}
#top #section__contact .contactSection .contactStep ol li em {
  display: block;
  font-size: clamp(12px, 2vw, 20px);
}
#top #section__contact .contactSection .contactStep ol li.current {
  color: #f5a073;
  opacity: 1;
}
#top #section__contact .contactPanel {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 80px 20px;
  border-radius: 30px;
  background: #fcf4ea;
}
#top #section__contact .contactPanel .contactItemBox {
  width: 90%;
  margin: 0 auto;
}

/*===================================================
	フォーム
===================================================*/
.formBox {
  /*テキストエリア*/
}
.formBox form > dl {
  letter-spacing: 0.1em;
}
.formBox form > dl dt em {
  margin: 0 0 0 2px;
}
.formBox form > dl dd {
  font-weight: 500;
}
.formBox form > dl + dl {
  margin: 20px 0 0;
}
.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=tel] {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-family: "dnp-shuei-gothic-gin-std", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formBox textarea {
  width: 100%;
  height: 230px;
  padding: 20px;
  font-family: "dnp-shuei-gothic-gin-std", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  resize: none;
}
.formBox input[type=text]:focus,
.formBox input[type=email]:focus,
.formBox input[type=tel]:focus,
.formBox textarea:focus {
  outline: 0;
}
.formBox .birthBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #000000;
}
.formBox .birthBox ul {
  display: flex;
  align-items: center;
}
.formBox .birthBox ul li {
  position: relative;
  width: 100px;
}
.formBox .birthBox ul li + li {
  padding: 0 0 0 20px;
}
.formBox .birthBox ul li + li:before {
  content: "／";
  position: absolute;
  top: 5px;
  left: 0;
  color: #7d7c2c;
}
.formBox .birthBox input {
  height: 30px;
  padding: 0 10px;
  text-align: center;
  border: none;
}
.formBox .checkItem {
  margin: 20px 0 50px;
}
.formBox .checkItem br {
  display: none;
}
.formBox .checkItem > label {
  position: relative;
  display: inline-block;
}
.formBox .checkItem input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.formBox .checkItem > label > span {
  display: inline-block;
  height: 20px;
  padding-left: 25px;
  position: relative;
  line-height: 1;
  position: relative;
}
.formBox .checkItem > label > span::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 0;
  bottom: 0;
  width: 13px;
  height: 13px;
  margin: auto 0;
  border: 1px solid #454545;
}
.formBox .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 2px;
  width: 10px;
  height: 16px;
  transform: rotate(40deg);
  border-bottom: 2px solid #454545;
  border-right: 2px solid #454545;
}
.formBox .checkItem.agreeCheck > label {
  display: inline-block;
}
.formBox .checkItem.agreeCheck a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
.formBox .checkItem.agreeCheck em {
  display: inline-block;
  vertical-align: middle;
}
.formBox .checkItem.agreeCheck > span {
  vertical-align: middle;
}
.formBox .itemCheck .mwform-checkbox-field {
  position: relative;
  display: inline-block;
}
.formBox .itemCheck .mwform-checkbox-field input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.formBox .itemCheck .mwform-checkbox-field span {
  display: inline-block;
  padding-left: 25px;
  position: relative;
  line-height: 1;
  cursor: pointer;
}
.formBox .itemCheck .mwform-checkbox-field span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto 0;
  border: 1px solid #454545;
}
.formBox .itemCheck .mwform-checkbox-field input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 2px;
  width: 10px;
  height: 16px;
  transform: rotate(40deg);
  border-bottom: 2px solid #454545;
  border-right: 2px solid #454545;
}
.formBox .itemCheck .mwform-checkbox-field + .mwform-checkbox-field {
  margin-left: 15px;
}
.formBox form .mwform-radio-field {
  display: inline-block;
}
.formBox form .mwform-radio-field + .mwform-radio-field {
  margin: 0 0 0 5px;
}
.formBox form .mwform-radio-field label {
  position: relative;
  display: inline-block;
}
.formBox form .mwform-radio-field input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.formBox form .mwform-radio-field .mwform-radio-field-text {
  display: inline-block;
  padding: 0 0 0 20px;
  background: url("../image/common/form_radio_off.png") left center no-repeat;
  background-size: 14px auto;
}
.formBox form .mwform-radio-field input[type=radio]:checked + .mwform-radio-field-text {
  background: url("../image/common/form_radio_on.png") left center no-repeat;
  background-size: 14px auto;
}
@media (min-width: 1025px) {
  .formBox form > dl {
    display: flex;
    align-items: center;
  }
  .formBox form > dl dt {
    width: 200px;
  }
  .formBox form > dl dd {
    width: calc(100% - 200px);
  }
  .formBox .radioForm,
.formBox .msg {
    align-items: flex-start;
  }
  .formBox .radioForm dt,
.formBox .msg dt {
    padding: 10px 0 0;
  }
}
.formBox .age .inputBox {
  display: inline-block;
  max-width: 90px;
}
.formBox .age .inputBox + span,
.formBox .age .inputBox + p {
  display: inline-block;
  margin: 0 20px 0 10px;
}
.formBox .privacy {
  margin: 25px auto 0;
  border-radius: 5px;
  border: 1px solid #5d4c38;
}
.formBox .privacy .agreeBox {
  overflow: scroll;
  height: 230px;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.formBox .privacy .box + .box {
  margin: 10px 0 0;
}
.formBox .privacy dl dt {
  margin: 0 0 3px;
}
.formBox .privacy a {
  display: inline-block;
  color: #000000;
}
.formBox .policy {
  padding: 50px 0 0;
  font-size: 12px;
}
.formBox .policy p {
  white-space: noWrap;
}
.formBox .policy a {
  display: inline-block;
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .formBox .policy {
    line-height: 1.7;
  }
  .formBox .policy p {
    white-space: initial;
  }
}
.formBox .submitButton {
  position: relative;
  width: 40%;
  max-width: 230px;
  margin: 0 auto;
}
.formBox .submitButton > p,
.formBox .submitButton > div {
  display: none;
}
.formBox .submitButton.disabled {
  pointer-events: none;
}
.formBox input[type=submit] {
  display: block;
  width: 100%;
  height: 65px;
  padding: 0 2vw;
  font-family: "dnp-shuei-gothic-gin-std", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 1.2vw, 20px);
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  letter-spacing: 0.15em;
  border-radius: 50px;
  border: none;
  background: url("../image/common/btn_arrow_white.png") right 20px center no-repeat #5d4c38;
  background-size: 18px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.6s;
}
.formBox input[type=submit][disabled] {
  cursor: not-allowed;
}
@media (min-width: 1140px) {
  .formBox .submitButton:hover input[type=submit] {
    top: 0;
    left: 0;
  }
}

#contactConfirm #section__contact,
#contactComplete #section__contact {
  padding: 250px 20px 200px;
}
#contactConfirm .contactSection,
#contactComplete .contactSection {
  max-width: 780px;
  margin: 0 auto;
}
#contactConfirm .contactSection .sectionTtl,
#contactComplete .contactSection .sectionTtl {
  margin: 0 0 70px;
  text-align: center;
}
#contactConfirm .contactSection .sectionTtl h1,
#contactComplete .contactSection .sectionTtl h1 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#contactConfirm .contactSection .contactStep,
#contactComplete .contactSection .contactStep {
  margin: 0 0 100px;
}
#contactConfirm .contactSection .contactStep ol,
#contactComplete .contactSection .contactStep ol {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0 5vw;
}
#contactConfirm .contactSection .contactStep ol li,
#contactComplete .contactSection .contactStep ol li {
  color: #716d64;
  opacity: 0.5;
}
#contactConfirm .contactSection .contactStep ol li span,
#contactComplete .contactSection .contactStep ol li span {
  display: block;
  font-size: clamp(12px, 2vw, 20px);
  letter-spacing: 0.05em;
}
#contactConfirm .contactSection .contactStep ol li em,
#contactComplete .contactSection .contactStep ol li em {
  display: block;
  font-size: clamp(12px, 2vw, 20px);
}
#contactConfirm .contactSection .contactStep ol li.current,
#contactComplete .contactSection .contactStep ol li.current {
  color: #f5a073;
  opacity: 1;
}
#contactConfirm .formConfirm,
#contactComplete .formConfirm {
  width: 100%;
  margin: 0 auto;
}
#contactConfirm .formConfirm .selectList + p,
#contactConfirm .formConfirm .privacy,
#contactConfirm .formConfirm .checkTxt,
#contactConfirm .formConfirm .agreeCheck,
#contactComplete .formConfirm .selectList + p,
#contactComplete .formConfirm .privacy,
#contactComplete .formConfirm .checkTxt,
#contactComplete .formConfirm .agreeCheck {
  display: none;
}
#contactConfirm .formConfirm dl,
#contactComplete .formConfirm dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.05em;
}
#contactConfirm .formConfirm dl em,
#contactComplete .formConfirm dl em {
  margin: 0 0 0 4px;
}
#contactConfirm .formConfirm dl > *,
#contactComplete .formConfirm dl > * {
  padding: 20px 0;
}
#contactConfirm .formConfirm dl dt,
#contactComplete .formConfirm dl dt {
  width: 30%;
  font-size: clamp(14px, 1vw, 20px);
}
#contactConfirm .formConfirm dl dd,
#contactComplete .formConfirm dl dd {
  width: 70%;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 500;
}
#contactConfirm .formConfirm dl .radioArea,
#contactComplete .formConfirm dl .radioArea {
  padding: 0 0 5px;
}
#contactConfirm .formConfirm .age .inputBox,
#contactComplete .formConfirm .age .inputBox {
  display: inline-block;
}
#contactConfirm .formConfirm .age .inputBox + *,
#contactComplete .formConfirm .age .inputBox + * {
  display: inline-block;
}
#contactConfirm .formConfirm .dateFormPanel,
#contactComplete .formConfirm .dateFormPanel {
  margin: 40px 0 0;
}
#contactConfirm .formConfirm .dateFormPanel .ttl,
#contactComplete .formConfirm .dateFormPanel .ttl {
  font-size: 20px;
}
#contactConfirm .formConfirm .submitButton,
#contactComplete .formConfirm .submitButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 60%;
  max-width: 480px;
  margin: 0 auto;
  padding: 70px 0 0;
}
#contactConfirm .formConfirm .send,
#contactComplete .formConfirm .send {
  position: relative;
  width: 48%;
}
#contactConfirm .formConfirm .send::before,
#contactComplete .formConfirm .send::before {
  content: "＞";
  position: absolute;
  top: 39%;
  right: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 1vw, 18px);
  width: 18px;
  color: #ffffff;
  line-height: 1;
  z-index: 1;
}
#contactConfirm .formConfirm .send input[type=submit],
#contactComplete .formConfirm .send input[type=submit] {
  position: relative;
  display: block;
  width: 100%;
  height: 65px;
  font-family: "dnp-shuei-gothic-gin-std", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  padding: 0 3vw;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #5d4c38;
  background: #5d4c38;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.6s;
}
#contactConfirm .formConfirm .back,
#contactComplete .formConfirm .back {
  position: relative;
  width: 48%;
}
#contactConfirm .formConfirm .back::before,
#contactComplete .formConfirm .back::before {
  content: "＞";
  position: absolute;
  top: 38%;
  right: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: clamp(13px, 1vw, 18px);
  width: 18px;
  color: #5d4c38;
  line-height: 1;
  z-index: 1;
}
#contactConfirm .formConfirm .back button.btnBack,
#contactComplete .formConfirm .back button.btnBack {
  position: relative;
  display: block;
  width: 100%;
  height: 65px;
  font-family: "dnp-shuei-gothic-gin-std", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  padding: 0 3vw;
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 600;
  color: #5d4c38;
  text-align: left;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #5d4c38;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.6s;
}
@media (min-width: 1140px) {
  #contactConfirm .formConfirm .submitButton .send:hover input[type=submit],
#contactComplete .formConfirm .submitButton .send:hover input[type=submit] {
    top: 0;
    left: 0;
  }
  #contactConfirm .formConfirm .submitButton .back:hover button.btnBack,
#contactComplete .formConfirm .submitButton .back:hover button.btnBack {
    top: 0;
    left: 0;
  }
}
#contactConfirm .formConfirm .birthBox ul li,
#contactComplete .formConfirm .birthBox ul li {
  display: inline-block;
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(1)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(1)::after {
  content: "年";
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(2)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(2)::after {
  content: "月";
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(3)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(3)::after {
  content: "日";
}
#contactConfirm .completePanel,
#contactComplete .completePanel {
  text-align: center;
}
#contactConfirm .completePanel .secTtl,
#contactComplete .completePanel .secTtl {
  margin: 0 0 30px;
  font-size: clamp(24px, 2.5vw, 40px);
  color: #f5a073;
}
#contactConfirm .completePanel .txt,
#contactComplete .completePanel .txt {
  margin: 0 0 30px;
  font-size: clamp(12px, 1vw, 16px);
}
#contactConfirm .completePanel .tel a,
#contactComplete .completePanel .tel a {
  display: inline-block;
  font-size: clamp(24px, 2vw, 32px);
  letter-spacing: 0.05em;
}
#contactConfirm .completePanel .btnToTop,
#contactComplete .completePanel .btnToTop {
  max-width: 230px;
  margin: 40px auto 0;
}
#contactConfirm .completePanel .btnToTop a,
#contactComplete .completePanel .btnToTop a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
  font-size: clamp(12px, 1vw, 20px);
  letter-spacing: 0.05em;
  border-radius: 40px;
  border: 1px solid #5d4c38;
}
#contactConfirm .completePanel .btnToTop a span,
#contactComplete .completePanel .btnToTop a span {
  font-weight: 500;
}

/*////////////////////////////////////////////////////////////
	news
///////////////////////////////////////////////////////////*/
#news .blogSection {
  padding: 250px 5% 300px;
}
#news .blogSection .sectionTtl {
  margin: 0 0 90px;
  text-align: center;
}
#news .blogSection .sectionTtl h1 {
  display: inline-block;
  padding: 0 0 5px;
  font-size: clamp(18px, 2vw, 30px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#news .blogSection .blogContainer .leftPanel dl + dl {
  margin: 30px 0 0;
}
#news .blogSection .blogContainer .leftPanel dl dt {
  margin: 0 0 15px;
  font-size: clamp(12px, 1.4vw, 18px);
  color: #f5a073;
  border-bottom: 2px solid #f5a073;
}
#news .blogSection .blogContainer .leftPanel dl dd ul li {
  position: relative;
}
#news .blogSection .blogContainer .leftPanel dl dd ul li + li {
  margin: 10px 0 0;
}
#news .blogSection .blogContainer .leftPanel dl dd ul li a {
  display: inline-block;
  font-size: clamp(12px, 1vw, 18px);
}
#news .blogSection .blogContainer .leftPanel dl dd .cateList li::before {
  content: "・";
  color: #f5a073;
}
#news .blogSection .blogContainer .rightPanel .infoList {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
#news .blogSection .blogContainer .rightPanel .infoList .listItem {
  width: calc(50% - 60px);
}
#news .blogSection .blogContainer .rightPanel .infoList .listItem a {
  display: block;
}
#news .blogSection .blogContainer .rightPanel .infoList .cateSp {
  display: none;
}
#news .blogSection .blogContainer .rightPanel .infoList .photoBox {
  position: relative;
}
#news .blogSection .blogContainer .rightPanel .infoList .photoBox .time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  width: 35%;
  max-width: 160px;
  font-size: clamp(11px, 1vw, 18px);
  font-weight: 300;
  text-align: center;
  z-index: 1;
  letter-spacing: 0.05em;
  border-radius: 0 0 20px 0;
  background: #ffffff;
}
#news .blogSection .blogContainer .rightPanel .infoList .photoBox .photo {
  position: relative;
  height: 0;
  padding: 0 0 70%;
}
#news .blogSection .blogContainer .rightPanel .infoList .photoBox .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
#news .blogSection .blogContainer .rightPanel .infoList .txtBox {
  padding: 25px 0 0;
}
#news .blogSection .blogContainer .rightPanel .infoList .txtBox .cate {
  display: inline-block;
  padding: 5px 15px;
  font-size: clamp(9px, 1vw, 14px);
  font-weight: 500;
  color: #f5a073;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 20px;
  border: 1px solid #f5a073;
}
#news .blogSection .blogContainer .rightPanel .infoList .txtBox .title {
  margin: 10px 0 0;
  font-size: clamp(12px, 1vw, 20px);
  line-height: 1.7;
}
@media (min-width: 1140px) {
  #news .blogSection .blogContainer {
    display: flex;
    justify-content: space-between;
  }
  #news .blogSection .blogContainer .leftPanel {
    width: 220px;
  }
  #news .blogSection .blogContainer .rightPanel {
    width: calc(100% - 320px);
  }
}
#news .list__pagination {
  margin: 100px 0 0;
}
#news .list__pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 70px;
}
#news .list__pagination .pagination li {
  margin: 0 5px;
}
#news .list__pagination .pagination li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 1.5vw, 30px);
  line-height: 1;
}
#news .list__pagination .pagination li.current a {
  font-weight: 500;
  color: #f5a073;
}
#news .list__pagination .pagination li.previous {
  height: 25px;
}
#news .list__pagination .pagination li.previous a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  background: url("../image/common/pagination_prev.png") no-repeat;
  background-size: 100%;
}
#news .list__pagination .pagination li.next {
  height: 25px;
}
#news .list__pagination .pagination li.next a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  background: url("../image/common/pagination_next.png") no-repeat;
  background-size: 100%;
}
#news .toTop {
  width: 30%;
  max-width: 320px;
  margin: 0 auto;
}
#news .toTop a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 1.5vw, 20px) 2vw;
  font-size: clamp(14px, 1vw, 20px);
  color: #f5a073;
  border: 1px solid #f5a073;
}
#news .toTop a span {
  margin: 0 0 0 20px;
  font-weight: 500;
}
#news .blogDetailSection {
  padding: 300px 10% 150px;
}
#news .blogDetailSection .blogDetailContainer .cate {
  display: inline-block;
  margin: 0 0 20px;
  padding: 5px 15px;
  font-size: clamp(9px, 1vw, 14px);
  font-weight: 500;
  color: #f5a073;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 20px;
  border: 1px solid #f5a073;
}
#news .blogDetailSection .blogDetailContainer .title {
  margin: 0 0 40px;
  padding: 0 0 25px;
  font-size: clamp(14px, 2.5vw, 40px);
  border-bottom: 2px dotted #5d4c38;
}
#news .blogDetailSection .blogDetailContainer .postContents {
  font-size: clamp(12px, 1.2vw, 18px);
  line-height: 2;
}
#news .blogDetailSection .blogDetailContainer .postContents p + p {
  margin: 20px 0 0;
}
#news .blogDetailSection .blogDetailContainer .postContents img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 60px 0;
  border-radius: 20px;
}
#news .blogDetailSection .btmPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0;
}
#news .blogDetailSection .btmPanel .btnAll {
  width: 210px;
  margin: 0 auto;
}
#news .blogDetailSection .btmPanel .btnAll a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 1.5vw, 20px) 2vw;
  font-size: clamp(14px, 1vw, 20px);
  color: #f5a073;
  border: 1px solid #f5a073;
}
#news .blogDetailSection .btmPanel .prev,
#news .blogDetailSection .btmPanel .next {
  width: 165px;
}
#news .blogDetailSection .btmPanel .prev a,
#news .blogDetailSection .btmPanel .next a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 1.1vw, 20px) 10px;
  font-size: clamp(14px, 1vw, 20px);
  color: #f5a073;
  border-radius: 40px;
  border: 1px solid #f5a073;
}
@media (min-width: 1140px) {
  #news .blogDetailSection {
    position: relative;
  }
  #news .blogDetailSection::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: #fcf4ea;
  }
  #news .blogDetailSection:after {
    content: "";
    position: absolute;
    top: 7vw;
    right: 9%;
    width: 95px;
    height: 100%;
    background: url("../image/news/news_detail_logo.png") no-repeat;
    background-size: 100% auto;
  }
  #news .blogDetailSection .blogDetailContainer {
    width: 80%;
    max-width: 1160px;
  }
}