@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: $SPfontSize;
  }
  a:hover {
    text-decoration: none;
  }
  /*改行*/
  .pcBreak {
    display: none;
  }
  .spBreak {
    display: block;
  }
  /*spのみ表示*/
  .pcHidden {
    display: block;
  }
  .spHidden {
    display: none;
  }
  #sideBtn {
    display: none;
  }
  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 999;
    background: #ffffff;
    .logoBox {
      width: 130px;
      .logoBox {
        a {
          display: block;
        }
      }
      > p {
        display: none;
      }
    }
    .hamburger {
      cursor: pointer;
      display: block;
      position: fixed;
      top: 3px;
      right: 10px;
      width: 50px;
      height: 40px;
      z-index: 10000;
    }
    .hamburger .span {
      background: #000000;
      position: absolute;
      left: 50%;
      width: 25px;
      height: 2px;
      transform: translateX(-50%);
      transition: 0.4s;
    }
    .hamburger .span:nth-of-type(1) {
      top: 10px;
    }
    .hamburger .span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .hamburger .span:nth-of-type(3) {
      bottom: 10px;
    }
    .is-open.hamburger .span:nth-of-type(1) {
      transform: translate(-50%, 9px) rotate(-45deg);
    }
    .is-open.hamburger .span:nth-of-type(2) {
      opacity: 0;
    }
    .is-open.hamburger .span:nth-of-type(3) {
      transform: translate(-50%, -9px) rotate(45deg);
    }
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
  .navBox {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #ffffff;
    transition: 0.6s;

    &.active {
      top: 50px;
    }
    .navList {
      margin-bottom: 20px;
      text-align: center;

      .ul {
        border-top: 1px solid #cccccc;

        > .li {
          border-bottom: 1px solid #cccccc;
        }

        a {
          display: block;
          padding: 10px 20px;

          &.pcBreak {
            display: none;
          }
        }
        .pulldown {
          > p {
            display: inline-block;
            padding: 10px 20px;
            cursor: pointer;
          }

          .subList {
            display: none;
          }
        }
        .entry {
          a {
            color: #ffffff;
            background: #f19623;
            p {
              display: inline-block;
              padding: 0 0 0 25px;
              background: url(https://s-9687534.smooooth.jp/system_panel/uploads/images/header_entry.png)
                left center no-repeat;
              background-size: 18px auto;
            }
          }
        }
      }
    }
    .langBox {
      .language {
        position: relative;
        width: 120px;
        margin: 0 auto 20px;
        text-align: center;
        z-index: 1;
        .lang {
          display: inline-block;
          padding: 0 20px 0 0;
          cursor: pointer;
          background: url(https://kenbyu.info/system_panel/uploads/images/header_lang_arrow.png)
            right center no-repeat;
          background-size: 13px auto;
        }
        .langList {
          position: absolute;
          top: 20px;
          left: -20px;
          width: 100%;
          .ul {
            border: 1px solid #cccccc;
            .li {
              + .li {
                border-top: 1px solid #cccccc;
              }
              a {
                display: block;
                padding: 5px 10px;
                font-size: 13px;
                text-align: center;
                background: #ffffff;
              }
            }
          }
        }
      }
      .english {
        position: relative;
        width: 120px;
        margin: 0 auto;
        a {
          display: block;
          padding: 4px 10px;
          font-size: 12px;
          color: #ffffff;
          text-align: center;
          border-radius: 4px;
          background: #000000;
        }
        p {
          position: relative;
          padding: 0 0 0 10px;
          &:after {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            width: 28px;
            height: 28px;
            background: url(https://s-9687534.smooooth.jp/system_panel/uploads/images/header_en_jp.png)
              no-repeat;
            background-size: 100% auto;
          }
        }
        .jp {
          display: none;
        }
      }
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .main {
    margin: 50px 0 0;
  }
  .pageKv {
    height: 250px;
    margin: 0 0 40px;
    padding: 0 0 0 10px;
    .kvTtl {
      margin: 0;
      padding: 90px 10px 0;
      h1 {
        font-size: 36px;
      }
    }
  }
  .pageSecTtlBox {
    margin: 0 0 40px;
    .sub {
      font-size: 16px;
    }
    .pageSecTtl {
      font-size: 24px;
    }
  }
  .mapBox {
    padding: 0 0 70%;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer {
    padding: 60px 0 0;
    .footContact {
      margin: 0 0 60px;
      &::before {
        width: calc(100% - 20px);
      }
      .secContainer {
        padding: 40px 10px;
        .topBox {
          margin: 0 0 60px;
          padding: 0 0 60px;
          background: url(https://s-9687534.smooooth.jp/system_panel/uploads/images/footer_contact_icon_01.png)
              left bottom no-repeat,
            url(https://s-9687534.smooooth.jp/system_panel/uploads/images/footer_contact_icon_02.png)
              right bottom no-repeat;
          background-size: 60px auto, 50px auto;
          .dl {
            .dt {
              p {
                font-size: 20px;
              }
            }
          }
        }
        .contactBox {
          .contactItem {
            padding: 40px 20px 20px;
            + .contactItem {
              margin: 50px 0 0;
            }
            .dl {
              width: 100%;
              .dt {
                top: -15px;
                max-width: 300px;

                p {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    .footPanel {
      padding: 60px 0 20px;
      .pagetop {
        position: absolute;
        top: -80px;
        right: 20px;
        width: 50px;
        cursor: pointer;
      }
      .logo {
        max-width: 240px;
      }
      .btnRecruit {
        max-width: 300px;
        margin: 0 auto 50px;
        a {
          font-size: 20px;
        }
      }
    }
  }
}
