@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvPanel {
      .topKv {
        height: 500px;
      }
      .kvTtl {
        position: absolute;
        left: 20px;
        bottom: 160px;
        .title01 {
          font-size: 18px;
        }
      }
      .kvRecruit {
        position: absolute;
        top: 20%;
        right: 0;
        width: 40px;
        height: 125px;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #ffffff;
          writing-mode: vertical-lr;
          background: #1b459a;
          p {
            padding: 25px 0 0;
            background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/top_kv_recruit_icon.png)
              center top no-repeat;
            background-size: 20px auto;
          }
        }
      }
      .kvNews {
        max-width: 900px;
        padding: 10px 20px;
        .ttl {
          font-size: 20px;
        }
        .newsBox {
          width: 100%;
          .webgene-blog {
            display: block;
            background: none;
            .webgene-header {
              margin: 0 0 10px;
              font-size: 20px;
            }
            .webgene-item {
              a {
                display: block;
                padding: 0 35px 0 0;
                background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/top_kv_news_arrow.png)
                  right center no-repeat;
                background-size: 20px auto;
              }
              .info {
                min-width: 170px;
                margin: 0 0 10px;
              }
              .title {
              }
            }
          }
        }
      }
    }
    .sec01 {
      padding: 60px 0;
      .secBox {
        margin: 0 0 40px;
        .txtBox {
          padding: 0 0 20px;

          .ttl {
            font-size: 24px;
          }
        }
      }
      .buttonItem {
        .btnMore {
          margin: 10px auto;
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          .txtBox {
            width: 50%;
          }
          .photo {
            width: 45%;
          }
        }
        .buttonItem {
          display: flex;
          justify-content: space-between;
          max-width: 660px;
          margin: 0 auto;
          > * {
            width: 280px;
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .topTxt {
        margin: 0 0 30px;
      }
      .listBox {
        margin: 0 0 40px;
        .ul {
          .li {
            + .li {
              margin: 40px 0 0;
            }
          }
          .photoBox {
            padding: 30px 20px;
          }
        }
      }
    }
    .secLink {
      .multiPanel {
        .multiBox {
          .secBox {
            padding: 30px 20px;
          }
        }
        .multiBox01 {
          background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/top_sec_link_01.png)
            center no-repeat;
          background-size: cover;
        }
        .multiBox02 {
          background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/top_sec_link_02.png)
            center no-repeat;
          background-size: cover;
        }
      }
      .singlePanel {
        padding: 30px 0;
        background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/top_sec_link_03.png)
          center no-repeat;
        background-size: cover;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	about
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .aboutMain {
    .sec01 {
      padding: 80px 0 60px;
      .ttl {
        margin: 0 0 15px;
        font-size: 20px;
      }
      .pageSlidePanel {
        padding: 60px 0 0;
      }
    }
    .sec02 {
      padding: 60px 0;
      .secBox {
        padding: 20px;
        .txtBox {
          .ttl {
            font-size: 20px;
          }
        }
      }
    }
    .sec03 {
      padding: 60px 0;
      .topTxt {
        margin: 0 0 40px;
      }
      .secBox {
        + .secBox {
          margin: 50px 0 0;
        }
        .ttl {
          max-width: 220px;
        }
        .listBox {
          .list {
            + .list {
              margin: 20px 0 0;
            }
          }
          .ul {
            .li {
              padding: 10px 20px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	product
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .productMain {
    .sec01 {
      padding: 60px 0;
      .topTxt {
        margin: 0 0 25px;
      }
      .secBox {
        padding: 20px;
        .txtBox {
          padding: 20px 0 0;
        }
        .ttl {
          font-size: 20px;
        }
        .dl {
          .dt {
            font-size: 18px;
          }
        }
      }
      .other {
        margin: 25px 0 0;
        padding: 20px;
        .ttl {
          font-size: 20px;
        }
        .list {
          max-width: 350px;
          margin: 0 auto 40px;
          .ul {
            display: block;
            .li {
              width: 100%;
              + .li {
                margin: 15px 0 0;
              }
            }
          }
        }
        .dl {
          .dt {
            padding: 0 15px;
            font-size: 18px;
          }
          .ul {
            .li {
              display: block;
              padding: 15px;
              .left {
                width: 100%;
                margin: 0 0 5px;
              }
            }
          }
        }
      }
      .btnMore {
        margin: 40px auto 0;
      }
    }
    .sec02 {
      padding: 60px 0;
      .secBoxList {
        .secBox {
          padding: 20px;
          + .secBox {
            margin: 20px 0 0;
          }
          .txtBox {
            padding: 15px 0 0;
            .ttl {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	facility
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .facilityMain {
    .sec01 {
      padding: 60px 0;
      .secBoxList {
        .secBox {
          padding: 20px;
          .txtBox {
            padding: 20px 0 0;
          }
          .ttl {
            font-size: 20px;
          }
        }
      }
      .btnMore {
        margin: 40px auto 0;
      }
    }
    .slidePanel {
      padding: 0 0 30px;
      .slideBox {
        .ul {
          .li {
            width: calc(100% / 2);
            margin: 0 2px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .flowMain {
    .sec01 {
      padding: 60px 0;
      .secPanelList {
        .secPanel {
          &:not(:last-child):before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 3px;
            margin: 0 auto;
            height: calc(100% - 150px);
            background: #2f3232;
          }
          .iconBox {
            .icon {
              width: 100px;
              height: 100px;
              margin: 0 auto;
              border: 3px solid #2f3232;
              img {
                width: 40px;
              }
            }
          }
          .secBox {
            padding: 20px;
            .ttlBox {
              display: block;
              text-align: center;
              .num {
                margin: 0 10px 0 0;
                font-size: 30px;
              }
              .ttl {
                font-size: 20px;
              }
            }
            .txtBox {
              padding: 0;
            }
          }
        }
      }
      .contactItem {
        max-width: 400px;
        text-align: center;
        .telBox {
          margin: 0 0 20px;
          .tel {
            .em {
              padding: 0 0 0 40px;
              font-size: 30px;
              background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/flow_sec01_tel.png)
                left center no-repeat;
              background-size: 25px auto;
            }
            .span {
              padding: 0 0 0 40px;
            }
          }
        }
        .mailBox {
          width: 240px;
          margin: 0 auto;
        }
      }
      .guarantee {
        padding: 20px;
        .ttl {
          font-size: 20px;
        }
        .list {
          .ul {
            .li {
              padding: 10px;
            }
          }
        }
      }
      .about {
        margin: 40px 0 0;
        .box {
          padding: 20px;
          + .box {
            margin: 40px 0 0;
          }
        }
        .ttl {
          font-size: 20px;
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .secPanel {
        position: relative;
        .secBox {
          padding: 0 0 20px;
          .dl {
            .dt {
              margin: 0 0 15px;
              font-size: 20px;
            }
          }
        }
        .map {
          max-width: 360px;
          margin: 0 auto;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .recruitMain {
    .sec01 {
      padding: 80px 0 60px;
      .ttl {
        margin: 0 0 15px;
        font-size: 20px;
      }
    }
    .sec02 {
      padding: 60px 0;
      .secBox {
        padding: 20px;
        .txtBox {
          .ttl {
            display: block;
            p {
              margin: 0 0 10px;
              font-size: 30px;
            }
            h3 {
              font-size: 20px;
            }
          }
        }
      }
    }
    .sec03 {
      padding: 60px 0;
      .infoBox {
        .dl {
          .dt {
            padding: 10px 15px;
          }
          .dd {
            padding: 10px 15px;
          }
        }
      }
    }
    .sec04 {
      padding: 60px 0;
    }
  }
}

/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .companyMain {
    .sec01 {
      .secContainer01 {
        padding: 60px 0;
        .ttl {
          margin: 0 0 30px;
          font-size: 20px;
        }
        .secBox {
          .photoBox {
            .name {
              font-size: 18px;
            }
          }
          .txtBox {
            padding: 20px 0 0;
            .txt {
              p + p {
                margin: 15px 0 0;
              }
            }
          }
        }
      }
      .secContainer02 {
        padding: 60px 0;
        .ttl01 {
          margin: 0 0 30px;
          font-size: 20px;
        }
        .infoBox {
          .dl {
            .dt {
              padding: 10px 15px;
            }
            .dd {
              padding: 10px 15px;
            }
          }
        }
        .subBox {
          margin: 40px 0 0;
          padding: 20px;
          .ttl02 {
            margin: 0 0 20px;
            font-size: 20px;
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .infoBox {
        .dl {
          .dt {
            padding: 10px 15px;
          }
          .dd {
            padding: 10px 15px;
          }
        }
      }
      .photoBpx {
        margin: 40px 0 0;
        .photo {
          + .photo {
            margin: 20px 0 0;
          }
        }
      }
      .mapBox {
        margin: 40px 0 0;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .sec01 {
      padding: 60px 0;
      .contactItem {
        margin: 0 0 40px;
        color: #ffffff;
        .contactBox {
          + .contactBox {
            margin: 20px 0 0;
          }
        }
        .telBox {
          .tel {
            .em {
              padding: 0 0 0 40px;
              font-size: 30px;
              background: url(https://s-9556564.smooooth.jp/system_panel/uploads/images/footer_contact_tel.png)
                left center no-repeat;
              background-size: 25px auto;
            }
            .span {
              padding: 0 0 0 40px;
            }
          }
        }
        .snsBox {
          max-width: 330px;
          .ul {
            .li {
              width: 80px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain {
    .contactForm {
      .form {
        .checkList {
          .ul {
            padding: 0;
          }
        }
      }
      .formBox {
        + .formBox {
          margin-top: 40px;
        }

        > .dl {
          display: block;
          width: 100%;
          padding: 10px;
          &::before {
            display: none;
          }
          &.line {
            .dt {
              padding: 10px;
            }
          }

          > .dt {
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px;

            .span {
              width: auto;
              min-width: 0;
              margin-right: 10px;
              padding: 0;
              font-size: 16px;
              text-align: left;

              br {
                display: none;
              }
            }

            .em {
              font-size: 12px;
              vertical-align: middle;
            }

            .aside {
              margin-top: 5px;

              p {
                font-size: 12px;

                br {
                  display: none;
                }
              }
            }
          }

          > .dd {
            display: block;
            width: 100%;
            padding: 10px;
            border-bottom: none;
          }
        }
        .radioBox {
          padding: 0;
        }
        .radioList01 {
          .list {
            display: block;
            margin: 0;
            + .list {
              margin: 20px 0 0;
            }
          }
        }

        .checkList01 {
          .ul {
            .li {
              display: block;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
          .checkItem {
            display: inline-block;
            padding: 0 5px 0 0;
            + input {
              display: inline-block;
              width: 150px;
            }
          }
        }

        .addressBox,
        .dateBox {
          .dl {
            display: block;

            .dt {
              display: block;
              width: 100%;
            }

            .dd {
              display: block;
            }
          }
        }

        .datePanel {
          display: block;
          font-size: 14px;
          + .datePanel {
            margin: 20px 0 0;
          }
          > * {
            padding: 0 0 5px;
          }
          input {
            width: 60px;
          }
          .selectBox {
            width: 60px;
          }
          .dateTtl {
            margin: 0 10px 0 0;
          }
          .dateTxt {
            margin: 0 5px;
          }
        }

        .dateBox {
          input[type="text"] {
            width: 130px;
          }

          .radioList {
            display: block;
            margin: 10px 0 0;
          }
        }

        .selectBox {
          width: 180px;
        }

        .privacy {
          .agreeBox {
            height: 250px;
            padding: 20px 10px;
          }
        }
      }
      .fileUploadBox {
        display: block;
        .fileBox {
          width: 100%;
        }
        .fileArea {
          display: block;
          .inputFile {
            width: 200px;
          }
          > p,
          .fileTxt {
            width: 100%;
            margin: 10px 0 0;
          }
        }
      }
      .fileUploadTitleBox {
        margin: 40px 0 20px;
        .fileUploadTitle {
          p {
            padding: 0 15px 0 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain {
    .catePanel {
      padding: 0 0 60px;
    }
    .blogPanel {
      &--list {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -10px;
          .webgene-item {
            width: calc((100% / 2) - 10px);
            margin: 40px 0 0 10px;
            .photo {
              position: relative;
              height: 0;
              margin: 0 0 10px;
              padding: 0 0 80%;
              img {
                @include cover-image;
              }
            }
            .title {
              min-height: 0;
              margin: 0;
            }
            .more {
              p {
                padding: 5px 0;
                font-size: 12px;
                background: url(https://s-9891413.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png)
                  right 2px center no-repeat;
                background-size: 15px auto;
              }
            }
          }
        }
        .webgene-pagination {
          margin: 60px auto 0;
        }
      }
      &--detail {
        .webgene-blog {
          .ttlBox {
            font-size: 20px;
          }
          .slickSlide {
            margin: 0 0 40px;
            .slider {
              .li {
                > div {
                  padding: 0 0 70%;
                }
              }
            }
          }
          .thumb-item {
            &.slider {
              .li {
                > div {
                  overflow: hidden;
                  position: relative;
                  padding: 0 0 100%;
                }
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .slick-prev {
            left: -20px;
          }
          .slick-next {
            right: -20px;
          }
        }
        .btnBackBox {
          margin: 50px 0 0;
        }
        .btnBack {
          margin: 40px auto 0;
        }
      }
    }
  }
}
