@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top #loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../image/common/loading_bg.png") center no-repeat;
  background-size: cover;
}
#top #loading__image {
  width: 13%;
  max-width: 255px;
  margin: 0 auto 80px;
}
#top #loading__progress {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 460px;
  height: 4px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}
#top #loading__progress .progress-bar {
  width: 0;
  height: 100%;
  border-radius: 10px;
  background: #ffffff;
  transition: width 0.1s ease-in-out;
}
#top .topKvPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
}
#top .topKvPanel__left {
  position: relative;
  width: 50%;
}
#top .topKvPanel__right {
  position: relative;
  width: 50%;
}
#top .topKvPanel .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  max-width: 255px;
  height: 255px;
  margin: auto;
}
#top .topKvPanel .textPanel {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: auto 0;
  padding: 15px 0;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  z-index: 1;
  background: #ffffff;
}
#top .topKvPanel .textPanel .loop01 {
  width: 100%;
  animation: loop 10s linear infinite;
}
#top .topKvPanel .textPanel .loop02 {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  animation: loop 10s -5s linear infinite;
}
#top .topKvPanel .kvScroll {
  position: absolute;
  right: 60px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  padding: 20px 5px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  writing-mode: vertical-lr;
  border-radius: 0 0 20px 20px;
  background: #000000;
}
#top .topKvPanel .kvTitle {
  display: none;
}
@media (min-width: 1140px) {
  #top .topKvPanel .kv01 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 100vh;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
  }
  #top .topKvPanel .kvSlider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 50vh;
    min-height: calc(50vh - 30px);
    max-height: calc(50vh - 30px);
  }
}
#top .navigationPanel {
  position: relative;
  min-height: 60px;
  padding: 15px 60px;
  font-size: 18px;
  background: #3b4339;
}
#top .navigationPanel ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top .navigationPanel ul li a {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
#top #section__concept {
  border-top: 1px solid #3b4339;
  background: #3b4339;
}
#top #section__concept .mvContainer {
  max-height: 900px;
  min-height: 515px;
  padding: 200px 20px;
  color: #ffffff;
  border-radius: 0 0 0 120px;
  background: url("../image/top/concept_bg.jpg") center no-repeat #3b4339;
  background-size: cover;
}
#top #section__concept .mvContainer .secBox {
  max-width: 980px;
  width: 70%;
  margin: 0 auto;
}
#top #section__concept .mvContainer .secBox .ttlBox h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 3vw, 60px);
  line-height: 1.2;
}
#top #section__concept .mvContainer .secBox .txtBox .subTtl {
  margin: 0 0 30px;
  font-size: 30px;
  font-size: clamp(20px, 2vw, 30px);
}
#top #section__concept .mvContainer .secBox .txtBox .txt {
  max-width: 440px;
  font-size: clamp(12px, 0.8vw, 14px);
}
#top #section__concept .mvContainer .secBox .txtBox .txt p + p {
  margin: 30px 0 0;
}
@media (min-width: 1140px) {
  #top #section__concept .mvContainer .secBox {
    display: flex;
    justify-content: space-between;
  }
}
#top #section__concept .subContainer {
  padding: 60px 20px;
  padding: 60px clamp(100px, 1vw, 180px);
  background: #ffffff;
}
#top #section__concept .subContainer .secBox .photoList ul {
  display: flex;
}
#top #section__concept .subContainer .secBox .photoList ul li {
  width: 25%;
}
#top #section__concept .subContainer .secBox .txtBox .txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 1140px) {
  #top #section__concept .subContainer .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #top #section__concept .subContainer .secBox .photoList {
    width: calc(100% - 350px);
  }
  #top #section__concept .subContainer .secBox .txtBox {
    width: 240px;
  }
}
#top #section__points {
  position: relative;
  background: #646c6e;
}
#top #section__points .progressBox--sticky {
  display: none;
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 10;
  width: 500px;
  height: 1px;
  background: #000;
}
#top #section__points .progressBox--sticky .progressbar {
  height: 3px;
  background: #000;
  border-radius: 6px;
  width: 0%;
  transition: width 0.2s ease;
}
#top #section__points .pointsContainer {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  width: 100vw;
}
#top #section__points .pointsContainer .pointsPanel {
  position: relative;
  min-width: 100vw;
}
#top #section__points .pointsContainer .pointsPanel .txtBox {
  padding: 40px 100px;
  background: #ffffff;
}
#top #section__points .pointsContainer .pointsPanel .txtBox__inner {
  max-width: 530px;
  margin: 0 auto;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .secTtl {
  margin: 0 0 30px;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .secTtl h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 3vw, 60px);
  line-height: 1.2;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .num {
  margin: 0 20px 0 0;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .num p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  width: clamp(50px, 4vw, 75px);
  height: 75px;
  height: clamp(50px, 4vw, 75px);
  font-size: 35px;
  font-size: clamp(25px, 2vw, 35px);
  border-radius: 50%;
  border: 1px solid #000000;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .ttl {
  font-size: 14px;
  font-size: clamp(12px, 0.8vw, 14px);
  line-height: 1.1;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  max-width: 110px;
  margin: 0 0 0 auto;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .pager > * {
  width: 30%;
  max-width: 35px;
  cursor: pointer;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .numBox .pager .inActive {
  opacity: 0.3;
}
#top #section__points .pointsContainer .pointsPanel .txtBox dl {
  padding: 0 0 60px;
}
#top #section__points .pointsContainer .pointsPanel .txtBox dl dt {
  margin: 0 0 15px;
  font-size: 25px;
  font-size: clamp(20px, 1.5vw, 25px);
}
#top #section__points .pointsContainer .pointsPanel .txtBox dl dd {
  font-size: clamp(12px, 0.8vw, 14px);
  line-height: 2;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressBox {
  height: 1px;
  background: #000000;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressbar {
  position: relative;
  top: -1px;
  height: 3px;
  border-radius: 6px;
  background: #000000;
  width: 0%;
  transition: width 0.2s ease;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressbar--01 {
  width: 25%;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressbar--02 {
  width: 50%;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressbar--03 {
  width: 75%;
}
#top #section__points .pointsContainer .pointsPanel .txtBox .progressbar--04 {
  width: 100%;
}
@media (min-width: 1140px) {
  #top #section__points .pointsContainer {
    max-height: 80vh;
  }
  #top #section__points .pointsContainer .pointsPanel {
    display: flex;
    flex-direction: row-reverse;
    max-height: 80vh;
  }
  #top #section__points .pointsContainer .pointsPanel > * {
    width: 50%;
  }
  #top #section__points .pointsContainer .pointsPanel .txtBox__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
#top #section__support .supportContainer {
  position: relative;
  padding: 0 0 180px;
  color: #ffffff;
  z-index: 1;
  border-radius: 0 0 120px 0;
  background: #383e40;
}
#top #section__support .supportHeader {
  padding: 100px 20px 50px;
  padding: 100px 100px 50px;
  border-bottom: 2px solid #ffffff;
}
#top #section__support .supportHeader .secBox .secTtl h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
  line-height: 1.2;
}
#top #section__support .supportHeader .secBox .txtBox dl dt {
  margin: 0 0 15px;
  font-size: 25px;
  font-size: clamp(20px, 1.5vw, 25px);
}
#top #section__support .supportHeader .secBox .txtBox dl dd {
  font-size: clamp(12px, 0.8vw, 14px);
  line-height: 2;
  letter-spacing: -0.04em;
}
@media (min-width: 1140px) {
  #top #section__support .supportHeader .secBox {
    display: flex;
    justify-content: space-between;
  }
  #top #section__support .supportHeader .secBox .ttlBox {
    width: 45%;
  }
  #top #section__support .supportHeader .secBox .txtBox {
    width: 50%;
  }
}
#top #section__support .supportBody {
  padding: 0 20px;
  padding: 0 100px;
}
#top #section__support .supportBody .listPanel {
  padding: 100px 0;
}
#top #section__support .supportBody .listPanel ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1540px;
  margin: 0 auto;
}
#top #section__support .supportBody .listPanel ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  aspect-ratio: 1/1;
  font-size: clamp(20px, 1.5vw, 25px);
  text-align: center;
  line-height: 2;
  border: 2px solid #ffffff;
}
#top #section__support .supportBody .listPanel ul li:nth-child(odd) {
  border-radius: 50%;
}
#top #section__support .supportBody .listPanel ul li:nth-child(even) {
  border-radius: 0 0 50% 50%;
}
#top #section__support .supportBody .listPanel ul .last {
  display: none;
}
#top #section__support .supportBody .photoPanel .leftBox {
  position: relative;
}
#top #section__support .supportBody .photoPanel .rightBox .photo02 {
  margin: 0 0 10px;
}
@media (min-width: 1140px) {
  #top #section__support .supportBody .photoPanel {
    display: flex;
    justify-content: space-between;
  }
  #top #section__support .supportBody .photoPanel .leftBox {
    width: 59%;
  }
  #top #section__support .supportBody .photoPanel .leftBox .photo01 {
    position: relative;
    height: 100%;
  }
  #top #section__support .supportBody .photoPanel .leftBox .photo01 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #top #section__support .supportBody .photoPanel .rightBox {
    width: 40%;
  }
}
#top #section__support .supportMv {
  margin: -120px 0 0;
}
#top #section__voice {
  border-top: 40px solid #354130;
  background: #f1f2ed;
}
#top #section__voice .voiceHeader {
  padding: 100px 20px 50px;
  padding: 100px 100px 50px;
  border-bottom: 1px solid #000000;
}
#top #section__voice .voiceHeader .secBox .secTtl h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
  line-height: 1.2;
}
#top #section__voice .voiceHeader .secBox .txtBox dl dt {
  margin: 0 0 5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: clamp(14px, 1.5vw, 16px);
}
#top #section__voice .voiceHeader .secBox .txtBox dl dd {
  font-size: 30px;
  font-size: clamp(20px, 1.5vw, 30px);
  letter-spacing: -0.04em;
  line-height: 1.2;
}
@media (min-width: 1140px) {
  #top #section__voice .voiceHeader .secBox {
    display: flex;
    justify-content: space-between;
  }
  #top #section__voice .voiceHeader .secBox .ttlBox {
    width: 20%;
  }
  #top #section__voice .voiceHeader .secBox .txtBox {
    width: 60%;
  }
}
#top #section__voice .voiceBody .secBox {
  position: relative;
  padding: 40px;
}
#top #section__voice .voiceBody .secBox .photoBox {
  position: relative;
}
#top #section__voice .voiceBody .secBox .photoBox .more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 280px;
  height: 65px;
  margin: auto;
  padding: 20px 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  letter-spacing: -0.02em;
  border-radius: 30px;
  background: #000000;
}
#top #section__voice .voiceBody .secBox .ttlBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: clamp(20px, 2vw, 40px) clamp(40px, 2vw, 90px);
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.85);
}
#top #section__voice .voiceBody .secBox .ttlBox dl {
  max-width: 740px;
  margin: 0 auto;
  letter-spacing: -0.02em;
}
#top #section__voice .voiceBody .secBox .ttlBox dl dt {
  margin: 0 0 10px;
}
#top #section__voice .voiceBody .secBox .ttlBox dl dt em {
  margin: 0 15px 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 1.5vw, 22px);
}
#top #section__voice .voiceBody .secBox .ttlBox dl dt span {
  font-size: 16px;
}
#top #section__voice .voiceBody .secBox .ttlBox dl dd {
  min-height: 60px;
  font-size: clamp(18px, 1vw, 22px);
}
#top #section__voice .voiceBody .secBox.secBoxBg {
  padding: 0;
}
#top #section__voice .voiceBody .secBox.secBoxBg .photoBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#top #section__voice .voiceBody .secBox.secBoxBg .photoBox .photo {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#top #section__voice .voiceBody .secBox.secBoxBg .photoBox .photo img {
  height: 100%;
}
#top #section__voice .voiceBody .secBox .logoBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top #section__voice .voiceBody .secBox .logoBox__inner {
  max-width: 469px;
  width: 50%;
  margin: 0 auto;
}
#top #section__voice .voiceBody .secBox .logoBox p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: clamp(10px, 1.5vw, 14px);
  color: #ffffff;
  line-height: 1.7;
}
@media (min-width: 1140px) {
  #top #section__voice .voiceBody .secPanel01 {
    display: flex;
  }
  #top #section__voice .voiceBody .secPanel01 .secBox {
    width: 50%;
  }
  #top #section__voice .voiceBody .secPanel01 .secBox + .secBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: calc(100% - 150px);
    background: #000000;
  }
  #top #section__voice .voiceBody .secPanel01 .secBox + .secBox .ttlBox {
    border-left: none;
  }
  #top #section__voice .voiceBody .secPanel02 .ttlBox {
    max-width: 960px;
  }
  #top #section__voice .voiceBody .secBox .photoBox .more {
    transition: 0.6s;
  }
  #top #section__voice .voiceBody .secBox .photoBox .more:hover {
    opacity: 0.6;
  }
}
#top #section__flow {
  padding: 160px 0;
  color: #ffffff;
  background: #354130;
}
#top #section__flow .flowContainer .titlePhoto {
  position: relative;
  margin: 0 80px 0 0;
}
#top #section__flow .flowContainer .titlePhoto .ttlBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
#top #section__flow .flowContainer .titlePhoto .ttlBox h2 {
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
  line-height: 1.2;
}
#top #section__flow .flowContainer .flowPanel {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
#top #section__flow .flowContainer .flowPanel .flowBox {
  display: flex;
  min-height: 200px;
}
#top #section__flow .flowContainer .flowPanel .flowBox .flowTtl {
  width: 15%;
  padding: 0 20px 0 0;
}
#top #section__flow .flowContainer .flowPanel .flowBox .flowTtl p {
  position: relative;
  top: -10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(11px, 0.9vw, 16px);
  line-height: 1.2;
}
#top #section__flow .flowContainer .flowPanel .flowBox .txtBox {
  width: 85%;
  border-left: 1px solid #ffffff;
}
#top #section__flow .flowContainer .flowPanel .flowBox .txtBox dl dt {
  margin: 0 0 10px;
}
#top #section__flow .flowContainer .flowPanel .flowBox .txtBox dl dt span {
  display: inline-block;
  margin: 0 10px 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 26px;
  font-size: clamp(22px, 1.5vw, 30px);
}
#top #section__flow .flowContainer .flowPanel .flowBox .txtBox dl dt em {
  display: inline-block;
  font-size: 24px;
  font-size: clamp(18px, 1.5vw, 25px);
}
#top #section__flow .flowContainer .flowPanel .flowBox .txtBox dl dd {
  line-height: 2;
}
#top #section__flow .flowContainer .flowPanel .flowBox + .flowBox .txtBox {
  border-top: 1px solid #ffffff;
}
#top #section__flow .flowContainer .flowPanel .message {
  padding: 30px 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background: #3b4339;
}
@media (min-width: 1140px) {
  #top #section__flow .flowContainer {
    display: flex;
    padding: 0 100px 0 0;
  }
  #top #section__flow .flowContainer .titlePhoto {
    width: 780px;
    width: 40%;
  }
  #top #section__flow .flowContainer .titlePhoto .photo {
    position: relative;
    height: 75vh;
    max-height: 770px;
  }
  #top #section__flow .flowContainer .titlePhoto .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #top #section__flow .flowContainer .flowPanel {
    overflow-y: auto;
    width: calc(100% - 780px);
    width: 55%;
    height: 75vh;
    max-height: 770px;
  }
  #top #section__flow .flowContainer .flowPanel .flowBox .txtBox {
    padding: clamp(20px, 1.7vw, 50px);
  }
  #top #section__flow .flowContainer .flowPanel .flowBox .txtBox dl dd {
    max-width: 730px;
  }
}
#top #section__news {
  padding: 200px 100px;
  color: #ffffff;
  background: url("../image/top/news_bg.jpg") center no-repeat;
  background-size: cover;
}
#top #section__news .secBox .ttlBox h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
}
#top #section__news .secBox .txtBox .newsList ul li {
  display: flex;
  padding: 30px 20px;
  font-size: clamp(12px, 0.8vw, 14px);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
}
#top #section__news .secBox .txtBox .newsList ul li + li {
  margin: 15px 0 0;
}
#top #section__news .secBox .txtBox .newsList ul li .newsLabel {
  min-width: 90px;
  margin: 0 15px 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#top #section__news .secBox .txtBox .newsList ul li .time {
  margin: 0 20px 0 0;
}
#top #section__news .secBox .txtBox .newsList ul li .newsTxt {
  letter-spacing: -0.03em;
}
@media (min-width: 1140px) {
  #top #section__news .secBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  #top #section__news .secBox .ttlBox {
    width: 230px;
  }
  #top #section__news .secBox .txtBox {
    width: calc(100% - 330px);
  }
}
#top #section__faq {
  background: #383e40;
}
#top #section__faq .faqContainer {
  padding: 200px 100px;
  border-radius: 300px 0 300px 0;
  background: #ffffff;
}
#top #section__faq .secBox .ttlBox h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
}
#top #section__faq .secBox .txtBox dl + dl {
  margin: 20px 0 0;
}
#top #section__faq .secBox .txtBox dl dt {
  display: flex;
  padding: 20px 100px 20px 60px;
  color: #ffffff;
  border-radius: 60px;
  cursor: pointer;
  background: url("../image/common/accord_down.png") right 50px center no-repeat #383e40;
  background-size: 18px auto;
}
#top #section__faq .secBox .txtBox dl dt.active {
  background: url("../image/common/accord_up.png") right 50px center no-repeat #383e40;
  background-size: 18px auto;
}
#top #section__faq .secBox .txtBox dl dt span {
  margin: 0 15px 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
#top #section__faq .secBox .txtBox dl dt em {
  font-size: clamp(12px, 0.8vw, 14px);
}
#top #section__faq .secBox .txtBox dl dd {
  display: none;
  padding: 20px 60px;
  font-size: clamp(12px, 0.8vw, 14px);
  line-height: 1.7;
}
@media (min-width: 1140px) {
  #top #section__faq .secBox {
    display: flex;
    justify-content: space-between;
  }
  #top #section__faq .secBox .ttlBox {
    width: 160px;
  }
  #top #section__faq .secBox .txtBox {
    width: calc(100% - 260px);
  }
}
#top #section__slide .slidePanel .slideBox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#top #section__slide .slidePanel .slideBox ul li {
  width: 33.3333333333%;
}
#top #section__contact {
  padding: 200px 100px;
  background: url("../image/top/contact_bg.png") center no-repeat;
  background-size: cover;
}
#top #section__contact .contactContainer {
  position: relative;
  padding: 180px 100px 150px;
  background: #ffffff;
}
#top #section__contact .contactContainer .secTtl {
  position: absolute;
  top: -10px;
  left: 0;
}
#top #section__contact .contactContainer .secTtl h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
  line-height: 1.2;
}
#top #section__contact .contactContainer .topTxt {
  margin: 0 0 60px;
  font-size: 30px;
  font-size: clamp(24px, 2vw, 30px);
  text-align: center;
  line-height: 1.7;
}

/* --------------------------------------------------
	modal
-------------------------------------------------- */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.itemModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px 60px;
  z-index: 1001;
}

.modalBox {
  overflow: auto;
  overscroll-behavior: none;
  position: relative;
  width: 100%;
  max-width: 1540px;
  max-height: calc(100vh - 40px);
  padding: 100px clamp(100px, 7vw, 130px) 120px;
  background: white;
}

.modalBoxInner .photoPanel {
  margin: 0 0 90px;
}
.modalBoxInner .photoPanel .mvBox {
  position: relative;
  width: 100%;
}
.modalBoxInner .photoPanel .mvBox .mv {
  overflow: hidden;
  position: relative;
  padding: 0 0 13%;
}
.modalBoxInner .photoPanel .mvBox .mv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modalBoxInner .photoPanel .photoList {
  display: flex;
  gap: 30px;
  justify-content: center;
  max-width: 950px;
  width: 70%;
  margin: 40px auto 0;
}
.modalBoxInner .photoPanel .photoList .photo {
  overflow: hidden;
  position: relative;
  width: calc(33.3333333333% - 20px);
  height: 0;
  padding: 0 0 12%;
}
.modalBoxInner .photoPanel .photoList .photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.6s;
}
@media (min-width: 1140px) {
  .modalBoxInner .photoPanel .photoList .photo:hover img {
    opacity: 0.6;
  }
}
.modalBoxInner .detailPanel .staffBox dl {
  margin: 20px 0 0;
}
.modalBoxInner .detailPanel .staffBox dl dt {
  margin: 0 0 5px;
  font-size: clamp(12px, 1vw, 14px);
}
.modalBoxInner .detailPanel .staffBox dl dd {
  font-size: 20px;
  font-size: clamp(18px, 1.5vw, 20px);
}
.modalBoxInner .detailPanel .commentBox dl {
  padding: 0 0 40px;
}
.modalBoxInner .detailPanel .commentBox dl + dl {
  padding: 40px 0;
  border-top: 1px solid #000000;
}
.modalBoxInner .detailPanel .commentBox dl dt {
  margin: 0 0 20px;
  font-size: 24px;
  font-size: clamp(20px, 1.5vw, 24px);
}
.modalBoxInner .detailPanel .commentBox dl dd {
  font-size: clamp(14px, 1vw, 18px);
  line-height: 2;
}
.modalBoxInner .detailPanel .commentBox dl dd p + p {
  margin: 20px 0 0;
}
@media (min-width: 1140px) {
  .modalBoxInner .detailPanel {
    display: flex;
    justify-content: space-between;
  }
  .modalBoxInner .detailPanel .staffBox {
    width: 35%;
  }
  .modalBoxInner .detailPanel .commentBox {
    overflow-y: scroll;
    width: 57%;
    max-height: 640px;
  }
}

.modalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}
.modalClose p {
  display: none;
}

@media (min-width: 1140px) {
  .modalScroll {
    display: none !important;
  }
}
/*===================================================
	フォーム
===================================================*/
.formBox {
  max-width: 900px;
  margin: 0 auto;
  /*テキストエリア*/
}
.formBox form > dl {
  letter-spacing: 0.1em;
}
.formBox form > dl dt em {
  margin: 0 0 0 4px;
  color: #9f9f9f;
}
.formBox form > dl + dl {
  margin: 40px 0 0;
}
.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=tel] {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 0;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #000000;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formBox textarea {
  width: 100%;
  height: 280px;
  padding: 20px;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid #000000;
  background: #ffffff;
  resize: none;
}
.formBox input[type=text]:focus,
.formBox input[type=email]:focus,
.formBox input[type=tel]:focus,
.formBox textarea:focus {
  outline: 0;
}
.formBox .birthBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #000000;
}
.formBox .birthBox ul {
  display: flex;
  align-items: center;
}
.formBox .birthBox ul li {
  position: relative;
  width: 100px;
}
.formBox .birthBox ul li + li {
  padding: 0 0 0 20px;
}
.formBox .birthBox ul li + li:before {
  content: "／";
  position: absolute;
  top: 5px;
  left: 0;
  color: #7d7c2c;
}
.formBox .birthBox input {
  height: 30px;
  padding: 0 10px;
  text-align: center;
  border: none;
}
.formBox .checkItem {
  margin: 50px 0 60px;
  text-align: center;
}
.formBox .checkItem > label {
  position: relative;
  display: block;
}
.formBox .checkItem input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
.formBox .checkItem > label > span {
  display: inline-block;
  padding-left: 25px;
  position: relative;
  line-height: 1;
}
.formBox .checkItem > label > span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto 0;
  border: 1px solid #000000;
  background: #ffffff;
}
.formBox .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 2px;
  width: 10px;
  height: 16px;
  transform: rotate(40deg);
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
}
.formBox .checkItem.agreeCheck > label {
  display: inline-block;
}
.formBox .checkItem.agreeCheck > label > span {
  text-decoration: underline;
}
.formBox .checkItem.agreeCheck em {
  display: inline-block;
}
.formBox .radioArea {
  padding: 0 0 20px;
  border-bottom: 1px solid #000000;
}
.formBox form .mwform-radio-field {
  display: block;
}
.formBox form .mwform-radio-field + .mwform-radio-field {
  margin: 5px 0 0;
}
.formBox form .mwform-radio-field label {
  position: relative;
  display: inline-block;
}
.formBox form .mwform-radio-field input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.formBox form .mwform-radio-field .mwform-radio-field-text {
  display: inline-block;
  padding: 0 0 0 24px;
  background: url("../image/common/form_radio_off.png") left center no-repeat;
  background-size: 14px auto;
}
.formBox form .mwform-radio-field input[type=radio]:checked + .mwform-radio-field-text {
  background: url("../image/common/form_radio_on.png") left center no-repeat;
  background-size: 14px auto;
}
@media (min-width: 1025px) {
  .formBox form > dl {
    display: flex;
    align-items: center;
  }
  .formBox form > dl dt {
    width: 250px;
  }
  .formBox form > dl dd {
    width: calc(100% - 250px);
  }
  .formBox .radioForm,
.formBox .msg {
    align-items: flex-start;
  }
}
.formBox .privacy {
  max-width: 388px;
  margin: 50px auto 0;
  border: 1px solid #000000;
}
.formBox .privacy .agreeBox {
  overflow: scroll;
  height: 80px;
  padding: 10px;
  font-size: 12px;
  background: #ffffff;
}
.formBox .privacy .box + .box {
  margin: 10px 0 0;
}
.formBox .privacy dl dt {
  margin: 0 0 3px;
}
.formBox .privacy a {
  display: inline-block;
  color: #000000;
}
.formBox .submitButton {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
}
.formBox .submitButton .submitTxt {
  position: relative;
  padding: 18px 10px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  letter-spacing: 0.1em;
  background: #707070;
}
.formBox .submitButton .submitTxt em {
  margin: 0 0 0 10px;
}
.formBox input[type=submit] {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.1em;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #383e40;
  background: #383e40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formBox input[type=submit][disabled] {
  cursor: default;
  opacity: 0.3;
}

#contactConfirm #section__contact,
#contactComplete #section__contact {
  padding: 200px 100px;
  background: url("../image/top/contact_bg.png") center no-repeat;
  background-size: cover;
}
#contactConfirm #section__contact .contactContainer,
#contactComplete #section__contact .contactContainer {
  position: relative;
  padding: 180px 140px 150px;
  background: #ffffff;
}
#contactConfirm #section__contact .contactContainer .secTtl,
#contactComplete #section__contact .contactContainer .secTtl {
  position: absolute;
  top: -10px;
  left: 0;
}
#contactConfirm #section__contact .contactContainer .secTtl h2,
#contactComplete #section__contact .contactContainer .secTtl h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-size: clamp(40px, 4vw, 60px);
  line-height: 1.2;
}
#contactConfirm #section__contact .contactContainer .topTxt,
#contactComplete #section__contact .contactContainer .topTxt {
  margin: 0 0 60px;
  font-size: 34px;
  font-size: clamp(24px, 2.2vw, 34px);
  text-align: center;
  line-height: 1.7;
}
#contactConfirm #section__contact .contactContainer .topComplete,
#contactComplete #section__contact .contactContainer .topComplete {
  margin: 0 0 40px;
  font-size: 34px;
  font-size: clamp(24px, 2.2vw, 34px);
  text-align: center;
  line-height: 1.7;
}
#contactConfirm #section__contact .contactContainer .txt,
#contactComplete #section__contact .contactContainer .txt {
  font-size: clamp(12px, 1vw, 14px);
  text-align: center;
}
#contactConfirm .formConfirm,
#contactComplete .formConfirm {
  max-width: 895px;
  margin: 0 auto;
}
#contactConfirm .formConfirm .selectList + p,
#contactConfirm .formConfirm .privacy,
#contactConfirm .formConfirm .checkTxt,
#contactConfirm .formConfirm .agreeCheck,
#contactComplete .formConfirm .selectList + p,
#contactComplete .formConfirm .privacy,
#contactComplete .formConfirm .checkTxt,
#contactComplete .formConfirm .agreeCheck {
  display: none;
}
#contactConfirm .formConfirm dl,
#contactComplete .formConfirm dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-size: clamp(15px, 1vw, 18px);
  letter-spacing: 0.15em;
}
#contactConfirm .formConfirm dl em,
#contactComplete .formConfirm dl em {
  margin: 0 0 0 4px;
  color: #9f9f9f;
}
#contactConfirm .formConfirm dl > *,
#contactComplete .formConfirm dl > * {
  padding: 30px 0;
}
#contactConfirm .formConfirm dl dt,
#contactComplete .formConfirm dl dt {
  width: 20%;
}
#contactConfirm .formConfirm dl dd,
#contactComplete .formConfirm dl dd {
  width: 75%;
}
#contactConfirm .formConfirm dl .radioArea,
#contactComplete .formConfirm dl .radioArea {
  padding: 0 0 5px;
  border-bottom: 1px solid #000000;
}
#contactConfirm .formConfirm dl .inputBox,
#contactComplete .formConfirm dl .inputBox {
  padding: 0 0 5px;
  border-bottom: 1px solid #000000;
}
#contactConfirm .formConfirm dl.msg .inputBox,
#contactComplete .formConfirm dl.msg .inputBox {
  padding: 20px;
  border: 1px solid #000000;
}
#contactConfirm .formConfirm .dateFormPanel,
#contactComplete .formConfirm .dateFormPanel {
  margin: 40px 0 0;
}
#contactConfirm .formConfirm .dateFormPanel .ttl,
#contactComplete .formConfirm .dateFormPanel .ttl {
  font-size: 20px;
}
#contactConfirm .formConfirm .submitButton,
#contactComplete .formConfirm .submitButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0 0;
}
#contactConfirm .formConfirm input[type=submit],
#contactComplete .formConfirm input[type=submit] {
  display: block;
  width: 48%;
  height: 70px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.1em;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #383e40;
  background: #383e40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#contactConfirm .formConfirm input[type=submit][disabled],
#contactComplete .formConfirm input[type=submit][disabled] {
  cursor: default;
  opacity: 0.3;
}
#contactConfirm .formConfirm button.btnBack,
#contactComplete .formConfirm button.btnBack {
  display: block;
  width: 48%;
  height: 70px;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 1px solid #000000;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#contactConfirm .formConfirm .birthBox ul li,
#contactComplete .formConfirm .birthBox ul li {
  display: inline-block;
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(1)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(1)::after {
  content: "年";
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(2)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(2)::after {
  content: "月";
}
#contactConfirm .formConfirm .birthBox ul li:nth-child(3)::after,
#contactComplete .formConfirm .birthBox ul li:nth-child(3)::after {
  content: "日";
}
#contactConfirm .btnToTop,
#contactComplete .btnToTop {
  max-width: 240px;
  margin: 40px auto 0;
}
#contactConfirm .btnToTop a,
#contactComplete .btnToTop a {
  display: block;
  padding: 13px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #000000;
}
#contactConfirm .btnToTop a span,
#contactComplete .btnToTop a span {
  display: inline-block;
  padding: 0 30px 0 0;
  line-height: 1;
  background: url("../image/common/btn_to_top_arrow.png") right center no-repeat;
  background-size: 14px auto;
}