@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 16px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .pageMainTtlBox .secWrap {
    padding: 20px 20px 10px;
  }
  .pageMainTtlBox .pageMainTtl {
    font-size: 24px;
  }
  .pageMainTtlBox .sub {
    font-size: 14px;
  }

  .pageSecTtlBox {
    margin: 0 0 40px;
  }
  .pageSecTtlBox .pageSecTtl {
    font-size: 24px;
  }
  .pageSecTtlBox .sub {
    font-size: 14px;
  }

  .mapBox {
    padding: 0 0 70%;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer .footContact {
    padding: 40px 0 60px;
  }
  .footer .footContact .ttl {
    margin: 0 0 20px;
    font-size: 24px;
  }
  .footer .footContact .ul {
    margin: 0 0 20px;
  }
  .footer .footContact .ul .li a {
    padding: 0 0 0 35px;
    font-size: 24px;
  }
  .footer .footContact .ul .li .tel01 {
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/footer_tel_01.png) left center no-repeat;
    background-size: 20px auto;
  }
  .footer .footContact .ul .li .tel02 {
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/footer_tel_02.png) left center no-repeat;
    background-size: 30px auto;
  }
  .footer .footBlog .secWrap {
    padding: 60px 20px;
  }
  .footer .footBlog .secPanel {
    margin: 0 auto 40px;
  }
  .footer .footBlog .secPanel .blogList .webgene-blog .webgene-item a {
    padding: 15px 50px 15px 15px;
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat;
    background-size: 20px auto;
  }
  .footer .footBlog .secPanel .blogList .webgene-blog .webgene-item a .time {
    margin: 0 0 5px;
  }
  .footer .footPanel {
    padding: 40px 0 15px;
  }
  .footer .footPanel .logo {
    width: 110px;
    margin: 0 0 15px;
  }
  .footer .footPanel .txt {
    margin: 0 0 40px;
  }
}