@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain .topKvContainer {
    padding: 5px;
  }
  .topMain .topKvContainer .topKv {
    height: 400px;
  }
  .topMain .topKvContainer .kvTitleBox {
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: calc(100% - 20px);
    max-width: 360px;
    padding: 20px;
  }
  .topMain .topKvContainer .kvTitleBox h1 {
    display: none;
  }
  .topMain .topKvContainer .kvTitleBox .kvTitle {
    margin: 0 0 10px;
  }
  .topMain .topKvContainer .kvTitleBox .kvTitle .ttl p {
    display: inline;
    font-size: 24px;
    line-height: 1.3;
  }
  .topMain .topNavPanel {
    display: none;
  }
  .topMain .sec01 {
    padding: 60px 0;
  }
  .topMain .sec01 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .topMain .sec01 .listBox .ul .dl {
    margin: 15px 0 0;
  }
  .topMain .sec01 .listBox .ul .dl .dt {
    font-size: 20px;
  }
  .topMain .sec01 .listBox .ul .dl .dd .more {
    margin: 20px 0 0;
  }
  .topMain .slideSection {
    padding: 50px 20px 50px 0;
  }
  .topMain .slideSection .slidePanel {
    width: 100%;
  }
  .topMain .slideSection .slidePanel .slideBox .ul .li {
    width: 50%;
  }
  .topMain .sec02 {
    padding: 30px 0 60px;
  }
  .topMain .sec02 .txt p + p {
    margin: 20px 0 0;
  }
  .topMain .sec03 .secContainer {
    padding: 60px 20px;
  }
  .topMain .sec03 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .topMain .sec03 .secBox .txtBox .list {
    margin: 0 0 20px;
  }
  .topMain .sec03 .secBox .txtBox .list .ul .li a {
    padding: 15px;
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat;
    background-size: 20px auto;
  }
  .topMain .sec03 .secBox .txtBox .list .ul .li a p {
    font-size: 20px;
  }
  .topMain .sec03 .secBox .txtBox .info .dl .dt {
    width: 85px;
  }
  .topMain .sec03 .secBox .txtBox .info .dl + .dl {
    margin: 5px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	commitment
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .commitmentMain .sec01 {
    padding: 40px 0;
  }
  .commitmentMain .sec01 .secContainer .secPanel {
    margin: 0 0 20px;
  }
  .commitmentMain .sec01 .secContainer .secPanel .secBox .ttl01 {
    margin: 0 0 20px;
    font-size: 30px;
  }
  .commitmentMain .sec01 .secContainer .secPanel .secBox .ttl02 {
    margin: 0 0 20px;
    font-size: 20px;
  }
  .commitmentMain .sec02 {
    padding: 40px 0;
  }
  .commitmentMain .sec02 .listBox .ul .li {
    padding: 20px;
  }
  .commitmentMain .sec02 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .commitmentMain .sec02 .listBox .ul .ttl02 {
    font-size: 20px;
    text-align: center;
  }
  .commitmentMain .sec02 .listBox .ul .icon01 {
    width: 80px;
    margin: 0 auto 30px;
  }
  .commitmentMain .sec02 .listBox .ul .icon02 {
    width: 60px;
    margin: 0 auto 30px;
  }
  .commitmentMain .sec02 .listBox .ul .icon03 {
    width: 50px;
    margin: 0 auto 30px;
  }
  .commitmentMain .sec03 {
    padding: 40px 0;
  }
  .commitmentMain .sec03 .casePanel .webgene-blog .webgene-item + .webgene-item {
    margin: 30px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain .sec01 {
    padding: 40px 0;
  }
  .serviceMain .sec01 .secContainer01 {
    margin: 0 0 30px;
  }
  .serviceMain .sec01 .secContainer01 .ttlBox {
    margin: 0 0 20px;
  }
  .serviceMain .sec01 .secContainer01 .ttlBox .ttl p {
    font-size: 20px;
  }
  .serviceMain .sec01 .secContainer01 .txtBox {
    padding: 5px;
  }
  .serviceMain .sec01 .secContainer01 .txtBox .txt {
    padding: 20px;
  }
  .serviceMain .sec01 .secContainer02 .txtBox {
    margin: 0 0 20px;
  }
  .serviceMain .sec01 .secContainer02 .chartPanel .chartBox {
    max-width: 400px;
    margin: 0 auto;
  }
  .serviceMain .sec02 {
    padding: 40px 0;
  }
  .serviceMain .sec02 .listBox .ul .li {
    padding: 20px;
  }
  .serviceMain .sec02 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .serviceMain .sec02 .listBox .ul .ttl02 {
    font-size: 20px;
  }
  .serviceMain .sec03 {
    padding: 40px 0;
  }
}
/*////////////////////////////////////////////////////////////
	area
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .areaMain .sec01 {
    padding: 40px 0;
  }
  .areaMain .sec01 .topBox {
    margin: 0 0 40px;
  }
  .areaMain .sec01 .topBox .ttlBox {
    margin: 0 0 20px;
  }
  .areaMain .sec01 .topBox .ttlBox .ttl p {
    font-size: 20px;
  }
  .areaMain .sec01 .secContainer .secPanel + .secPanel {
    margin: 30px 0 0;
  }
  .areaMain .sec01 .secContainer .secPanel .pTtl h3 {
    font-size: 18px;
  }
  .areaMain .sec01 .secContainer .secPanel .areaBox .dl {
    line-height: 1.7;
  }
  .areaMain .sec01 .secContainer .secPanel .areaBox .dl + .dl {
    border-top: none;
  }
  .areaMain .sec01 .secContainer .secPanel .areaBox .dl .dt {
    padding: 15px;
  }
  .areaMain .sec01 .secContainer .secPanel .areaBox .dl .dd {
    padding: 15px;
  }
}
/*////////////////////////////////////////////////////////////
	shop
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .shopMain .sec01 {
    padding: 40px 0;
  }
  .shopMain .sec01 .txt {
    margin: 0 0 20px;
  }
  .shopMain .sec02 {
    padding: 40px 0;
  }
  .shopMain .sec02 .txtBox {
    padding: 20px;
  }
  .shopMain .sec03 {
    padding: 40px 0;
  }
  .shopMain .sec03 .infoBox .dl .dt {
    padding: 10px 20px;
    font-size: 16px;
  }
  .shopMain .sec03 .infoBox .dl .dd {
    padding: 10px 20px;
  }
  .shopMain .slidePanel {
    margin: 60px 0;
  }
  .shopMain .slidePanel .slideBox .ul .li {
    width: 50%;
  }
}
/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .companyMain .sec01 {
    padding: 40px 0;
  }
  .companyMain .sec01 .infoBox .dl .dt {
    padding: 10px 20px;
    font-size: 16px;
  }
  .companyMain .sec01 .infoBox .dl .dd {
    padding: 10px 20px;
  }
  .companyMain .mapContainer {
    margin: 60px 0 0;
  }
}
/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain .sec01 {
    padding: 40px 0;
  }
  .contactMain .sec01 .topList {
    max-width: 400px;
    margin: 0 auto 40px;
  }
  .contactMain .sec01 .topList .ul .li + .li {
    margin: 15px 0 0;
  }
  .contactMain .sec01 .secBox .ttl {
    font-size: 24px;
  }
  .contactMain .sec01 .secBox .txt {
    margin: 0 0 30px;
  }
  .contactMain .sec01 .contact {
    max-width: 330px;
    margin: 0 auto;
  }
  .contactMain .sec01 .contact .ul .li a {
    padding: 0 0 0 35px;
    font-size: 24px;
  }
  .contactMain .sec01 .contact .ul .li .tel01 {
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/footer_tel_01.png) left center no-repeat;
    background-size: 20px auto;
  }
  .contactMain .sec01 .contact .ul .li .tel02 {
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/footer_tel_02.png) left center no-repeat;
    background-size: 30px auto;
  }
}
/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain .blogSection {
    padding: 40px 0;
  }
  .blogMain .catePanel {
    max-width: 220px;
    margin: 0 auto 40px;
  }
  .blogMain .catePanel .webgene-item {
    margin: 5px 0 0;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item a {
    padding: 15px 50px 15px 15px;
    background: url(https://s-2676856.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 15px center no-repeat;
    background-size: 20px auto;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item a .time {
    margin: 0 0 5px;
  }
  .blogMain .blogPanel--list .webgene-pagination {
    margin: 60px auto 0;
  }
  .blogMain .blogPanel--detail .webgene-blog .ttlBox {
    font-size: 20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide {
    margin: 0 0 40px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
    padding: 0 0 70%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li > div {
    overflow: hidden;
    position: relative;
    padding: 0 0 100%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-prev {
    left: -20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-next {
    right: -20px;
  }
  .blogMain .blogPanel--detail .btnBackBox {
    margin: 40px 0 0;
  }
}