@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvPanel {
    .kvWrap {
      position: relative;
    }
    .topKv {
      position: relative;
      height: 800px;
      .kvBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .kv01 {
          background: url(https://trust-logistics.jp/system_panel/uploads/images/top_kv_01.png)
            center no-repeat;
          background-size: cover;
        }
        .kv02 {
          background: url(https://trust-logistics.jp/system_panel/uploads/images/top_kv_02.png)
            center no-repeat;
          background-size: cover;
        }
        .kv03 {
          background: url(https://trust-logistics.jp/system_panel/uploads/images/top_kv_03.png)
            center no-repeat;
          background-size: cover;
        }
      }
    }
    .kvTtl {
      position: absolute;
      left: 5%;
      bottom: 130px;
      .title01 {
        max-width: 900px;
      }
      .title02 {
        margin: 30px 0 0;
        font-size: 24px;
      }
    }
    .kvScroll {
      position: absolute;
      left: 30px;
      bottom: 10px;
      width: 13px;
    }
  }
  .sec01 {
    padding: 100px 0;
    .secPanel {
      .ttlBox {
        .secTtlBox {
          .sub {
            font-size: 24px;
            color: #c2b43f;
            line-height: 1.2;
          }
          .secTtl {
            font-size: 40px;
          }
        }
      }
      .newsBox {
        .webgene-blog {
          overflow-y: auto;
          height: 165px;
          .webgene-header {
            display: none;
          }
          .webgene-item {
            a {
              display: flex;
              padding: 15px 30px;
              border-bottom: 1px solid #121212;
            }
            .time {
              width: 140px;
              color: #36a476;
            }
            .title {
              width: calc(100% - 140px);
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .ttlBox {
          width: 180px;
        }
        .newsBox {
          width: calc(100% - 240px);
        }
      }
    }
  }
  .topSecTtlBox {
    margin: 0 0 30px;
    .sub {
      font-size: 24px;
      color: #c2b43f;
      line-height: 1.2;
    }
    .secTtl {
      font-size: 50px;
    }
    &.center {
      text-align: center;
    }
    &.white {
      .secTtl {
        color: #ffffff;
      }
    }
  }
  .sec02 {
    padding: 80px 0;
    background: url(https://trust-logistics.jp/system_panel/uploads/images/top_sec02_bg.png)
      no-repeat;
    background-size: cover;
    .txt {
      margin: 0 0 40px;
      color: #ffffff;
      text-align: center;
    }
    .btnMore {
      margin: 0 auto;
    }
  }
  .sectionsContainer {
    background: url(https://trust-logistics.jp/system_panel/uploads/images/top_container_bg.png)
      left top no-repeat;
    background-size: cover;
  }
  .sec03 {
    .secPanel {
      position: relative;
      .photoBox {
        max-width: 1100px;
        .photo {
          position: relative;
          height: 700px;
          img {
            @include cover-image;
          }
        }
      }
      .txtBox {
        position: absolute;
        right: 10%;
        bottom: 140px;
        width: 760px;
        max-width: 760px;
        padding: 60px;
        color: #ffffff;
        background: #1cba80;
        .secTtl {
          margin: 0 0 20px;
          p {
            font-size: 20px;
            color: #c2b43f;
          }
          h2 {
            font-size: 50px;
            line-height: 1.3;
          }
        }
        .txt {
          margin: 0 0 80px;
        }
        .btnMore {
          position: absolute;
          right: 120px;
          bottom: 40px;
          width: 240px;
        }
        .img {
          position: absolute;
          left: -50px;
          bottom: -100px;
          width: 300px;
        }
      }
    }
  }
  .listSec {
    padding: 100px 0;
    .listBox {
      .ul {
        .li {
          background: #a4bab1;
        }
        .dl {
          display: flex;
          flex-direction: column;
          height: 100%;
          position: relative;
          top: -7px;
          left: -7px;
          padding: 20px;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/top_list_sec_arrow.png)
            right 5px bottom 5px no-repeat #ffffff;
          background-size: 30px auto;
          .dt {
            margin: 0 0 15px;
            font-size: 30px;
            color: #75a996;
            text-align: center;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 30px);
          }
        }
      }
    }
  }
  .sec04 {
    .secPanel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .photoBox {
        max-width: 1100px;
        width: 100%;
        .photo {
          position: relative;
          height: 700px;
          img {
            @include cover-image;
          }
        }
      }
      .txtBox {
        position: absolute;
        right: 50%;
        bottom: 140px;
        width: 700px;
        max-width: 760px;
        padding: 60px;
        background: #ffffff;
        .secTtl {
          margin: 0 0 20px;
          p {
            font-size: 20px;
            color: #c2b43f;
          }
          h2 {
            font-size: 50px;
            line-height: 1.3;
          }
        }
        .txt {
          margin: 0 0 40px;
        }
      }
    }
  }
  .sec05 {
    position: relative;
    padding: 200px 0 100px;
    .message {
      position: absolute;
      top: 80px;
      right: 10px;
      width: 80%;
    }
    .mvPanel {
      position: relative;
      .secTtl {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 400px;
        padding: 20px;
        text-align: center;
        background: #ffffff;
        p {
          font-size: 20px;
          color: #ad9144;
        }
        h2 {
          font-size: 50px;
          line-height: 1.3;
        }
      }
    }
    .ttlBox {
      margin: 60px 0 30px;
      text-align: center;
      .ttl {
        margin: 0 0 15px;
        font-size: 0;
        p {
          display: inline;
          font-size: 40px;
        }
        .em {
          color: #ee7800;
        }
      }
    }
    .listBox {
      color: #ffffff;
      .ul {
        a {
          display: flex;
          flex-direction: column;
          height: 100%;
          color: #ffffff;
          background: #1cba80;
        }
        .dl {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 20px;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/top_sec05_arrow.png)
            left top no-repeat;
          background-size: 180px auto;
          .dt {
            margin: 0 0 10px;
            font-size: 32px;
            text-align: center;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 10px);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  feature
///////////////////////////////////////////////////////////*/
.featureMain {
  .topSection {
    padding: 100px 0;
    text-align: center;
    background: #e8f5ef;
    .titleBox {
      margin: 0 0 30px;
      .title {
        max-width: 800px;
        margin: 0 auto;
      }
      > p {
        margin: 20px 0 0;
        font-size: 20px;
        color: #c2b43f;
      }
    }
  }
  .sec01 {
    padding: 100px 0;
    .listBox {
      .ul {
        .photoBox {
          background: #a4bab1;
          .photo {
            position: relative;
            top: -7px;
            left: -7px;
          }
        }
        .dl {
          padding: 15px;
          .dt {
            margin: 0 0 15px;
            font-size: 30px;
            color: #75a996;
            text-align: center;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -60px 0 0 -30px;
          .li {
            width: calc((100% / 3) - 30px);
            margin: 60px 0 0 30px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  transport
///////////////////////////////////////////////////////////*/
.transportMain {
  .sec01 {
    .secContainer01 {
      padding: 100px 0;
      background: #e8f5ef;
      .secBox01 {
        margin: 0 0 60px;
        .txtBox {
          .ttl {
            margin: 0 0 10px;
            font-size: 34px;
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox01 {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-direction: row-reverse;
          .chart {
            width: 35%;
            padding: 0 5% 0 0;
          }
          .txtBox {
            width: 68%;
            .txt {
              max-width: 680px;
            }
          }
        }
      }
      .secBox02 {
        position: relative;
        margin: 0 0 50px;
        padding: 60px 60px 20px;
        background: #ffffff;
        .dl {
          .dt {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            p {
              max-width: 340px;
              margin: 0 auto;
              padding: 10px 20px;
              font-size: 26px;
              background: #ffffff;
              box-shadow: 0 1px 3px rgba(3, 0, 11, 0.14);
            }
          }
          .dd {
            line-height: 2;
          }
        }
      }
      .secBox03 {
        position: relative;
        padding: 30px 20px;
        border: 1px solid #090908;
        background: #ffffff;
        .check {
          position: absolute;
          top: -30px;
          left: 30px;
          width: 80px;
        }
        .dl {
          max-width: 800px;
          margin: 0 auto;
          text-align: center;
          .dt {
            font-size: 34px;
            margin: 0 0 10px;
            padding: 0 0 10px;
            border-bottom: 2px solid #090908;
          }
          .btnMore02 {
            max-width: 330px;
            margin: 20px auto 0;
          }
        }
      }
    }
    .secContainer02 {
      padding: 100px 0;
      .secBox {
        padding: 20px 40px;
        background: #ffffff;
        .dl {
          margin: 0 0 30px;
          .dt {
            position: relative;
            margin: 0 0 10px;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              margin: auto 0;
              background: #090908;
            }
            p {
              position: relative;
              display: inline-block;
              padding: 0 30px 0 0;
              font-size: 34px;
              background: #ffffff;
            }
          }
          .dd {
            line-height: 2;
          }
        }
      }
      .listBox {
        padding: 40px 0 0;
        .ul {
          .dl {
            .dt {
              margin: 0 0 10px;
              padding: 5px;
              color: #903c2a;
              text-align: center;
              border-bottom: 1px solid #903c2a;
              p {
                display: inline-block;
              }
              .em {
                font-size: 26px;
              }
              .span {
                font-size: 20px;
              }
            }
            .dd {
              line-height: 2;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 3) - 20px);
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    background: #cce3d9;
    .secBox {
      position: relative;
      .ttl {
        margin: 0 0 30px;
        font-size: 40px;
      }
      .txt {
        width: 50%;
        p + p {
          margin: 20px 0 0;
        }
      }
      .map {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45%;
        max-width: 450px;
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  warehouse
///////////////////////////////////////////////////////////*/
.warehouseMain {
  .secContainer01 {
    padding: 100px 0;
    background: #e8f5ef;
    .secBox01 {
      margin: 0 0 60px;
      .txtBox {
        .ttl {
          margin: 0 0 10px;
          font-size: 34px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox01 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row-reverse;
        .photo {
          width: 45%;
          padding: 0 5% 0 0;
        }
        .txtBox {
          width: 50%;
        }
      }
    }
    .secBox02 {
      .ttl {
        position: relative;
        margin: 0 0 30px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #090908;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 30px 0 0;
          font-size: 34px;
          background: #e8f5ef;
        }
      }
      .list {
        padding: 20px 40px;
        border: 1px solid #090908;
        background: #ffffff;
        .ul {
          .li {
            padding: 15px 20px;
            + .li {
              border-top: 1px solid #903c2a;
            }
          }
          .dl {
            display: flex;
            align-items: center;
            .dt {
              width: 140px;
              font-size: 26px;
              color: #903c2a;
            }
            .dd {
              line-height: 2;
            }
          }
        }
      }
    }
  }
  .secContainer02 {
    padding: 100px 0;
    .secPanelList {
      .secPanel {
        background: #a4bab1;
        + .secPanel {
          margin: 50px 0 0;
        }
      }
      .secBox {
        position: relative;
        top: -7px;
        left: -7px;
        border: 1px solid #a4bab1;
        background: #ffffff;
        .txtBox {
          padding: 30px 60px;
          .ttl {
            margin: 0 0 15px;
            font-size: 30px;
            color: #75a996;
          }
          .info {
            .dl {
              display: flex;
              padding: 20px;
              line-height: 2;
              + .dl {
                border-top: 1px solid #75a996;
              }
              .dt {
                width: 120px;
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          .photo {
            width: 45%;
          }
          .txtBox {
            width: 50%;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  trucks
///////////////////////////////////////////////////////////*/
.trucksMain {
  .sec01 {
    padding: 100px 0;
    .topTxt {
      margin: 0 0 30px;
      font-size: 20px;
      text-align: center;
    }
    .mv {
      margin: 0 0 60px;
    }
    .secBox02 {
      .ttl {
        position: relative;
        margin: 0 0 30px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #090908;
        }
        h3 {
          position: relative;
          display: inline-block;
          padding: 0 30px 0 0;
          font-size: 34px;
          background: #ffffff;
        }
      }
      .trucksTable {
        border: 1px solid #090908;
        .tr {
          display: table;
          width: 100%;
          > * {
            display: table-cell;
            padding: 15px 50px;
            text-align: center;
          }
          .th {
            width: 55%;
            border-right: 1px solid #090908;
          }
          .td {
            width: 45%;
          }
        }
        .thead {
          border-bottom: 1px solid #090908;
          > * {
            background: #e8f5f0;
          }
        }
        .tbody {
          .tr {
            + .tr {
              border-top: 1px solid #090908;
            }
            .th {
              text-align: left;
            }
          }
        }
      }
    }
  }
  .slidePanel {
    margin: 60px 0 0;
    .slideBox {
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .li {
          width: calc(100% / 5);
          margin: 0 5px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  flow
///////////////////////////////////////////////////////////*/
.flowMain {
  .sec01 {
    padding: 100px 0;
    .topTxt {
      margin: 0 0 30px;
      font-size: 20px;
      text-align: center;
    }
    .secPanel {
      border: 1px solid #090908;
      .pHead {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #090908;
        .step {
          position: relative;
          top: -20px;
          min-width: 55px;
          padding: 5px;
          color: #ffffff;
          text-align: center;
          line-height: 1.2;
          background: #1cba80;
          .em {
            font-size: 16px;
          }
          .span {
            font-size: 22px;
          }
        }
        .ttl {
          margin: 0 0 0 10px;
          font-size: 30px;
        }
      }
      .pBody {
        padding: 20px 30px;
      }
      .contactTtl {
        margin: 20px 0 10px;
        font-size: 30px;
        text-align: center;
      }
      .contactItem {
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        .itemBox {
          padding: 15px 0;
          border-top: 1px solid #090908;
          border-bottom: 1px solid #090908;
          .ttl {
            margin: 0 0 5px;
            font-size: 24px;
          }
          .tel {
            a {
              display: inline-block;
              font-size: 40px;
              color: #090908;
            }
          }
          .btnContact {
            max-width: 300px;
            margin: 0 auto;
            a {
              display: block;
              padding: 12px 10px;
              color: #ffffff;
              text-align: center;
              background: #c2b43f;
              p {
                display: inline-block;
                padding: 0 0 0 30px;
                background: url(https://trust-logistics.jp/system_panel/uploads/images/footer_contact_mail.png)
                  left center no-repeat;
                background-size: 20px auto;
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .contactItem {
          display: flex;
          justify-content: space-between;
          .itemBox {
            width: 48%;
          }
          .btnContact {
            position: relative;
            top: 10px;
          }
        }
      }
    }
    .arrow {
      width: 40px;
      margin: -3px auto 30px;
    }
    .secBox {
      max-width: 1100px;
      margin: 0 auto;
      .point {
        margin: 20px 0 0;
        color: #ffffff;
        background: #1cba80;
        .dl {
          padding: 10px 20px;
          background: url(https://trust-logistics.jp/system_panel/uploads/images//flow_sec01_arrow_bg.png)
            left top no-repeat;
          background-size: 180px auto;
          .dt {
            margin: 0 0 10px;
            font-size: 30px;
          }
          .dd {
            line-height: 2;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: calc(100% - 350px);
        }
        .photo {
          width: 250px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  recruit
///////////////////////////////////////////////////////////*/
.recruitMain {
  .sec01 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://trust-logistics.jp/system_panel/uploads/images/recruit_sec01_bg.png)
      no-repeat;
    background-size: cover;
    .pageSecTtlBox {
    }
    .ttl {
      margin: 0 0 30px;
      font-size: 34px;
      text-align: center;
    }
    .txt {
      max-width: 900px;
      p + p {
        margin: 20px 0 0;
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    .secBox {
      background: #a4bab1;
      .dl {
        position: relative;
        top: -7px;
        left: -7px;
        padding: 30px;
        background: #ffffff;
        .dt {
          font-size: 30px;
          color: #75a996;
          text-align: center;
        }
        .dd {
          line-height: 2;
        }
      }
      + .secBox {
        margin: 30px 0 0;
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dt {
            width: 280px;
            padding: 10px 5px;
            border-right: 1px solid #75a996;
          }
          .dd {
            width: calc(100% - 320px);
          }
        }
      }
    }
  }
  .sec03 {
    padding: 100px 0;
    .infoBox {
      .dl {
        display: flex;
        justify-content: space-between;
        width: 100%;
        line-height: 2;
        .dt {
          width: 200px;
          padding: 15px 20px;
          color: #36a476;
          text-align: center;
          vertical-align: middle;
          border-bottom: 1px solid #121212;
        }
        .dd {
          width: calc(100% - 203px);
          padding: 15px 20px;
          vertical-align: middle;
          border-bottom: 1px solid #121212;
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0;
    background: #e9f4ef;
    .topTxt {
      margin: 0 0 30px;
      text-align: center;
    }
  }
}

/*////////////////////////////////////////////////////////////
  about
///////////////////////////////////////////////////////////*/
.aboutMain {
  .sec01 {
    padding: 100px 0;
    background: #e8f5ef;
    .secTtl {
      margin: 0 0 60px;
      font-size: 34px;
      text-align: center;
    }
    .section {
      + .section {
        margin: 60px 0 0;
      }
      .secPanel {
        .ttl {
          padding: 10px 40px;
          font-size: 24px;
          color: #ffffff;
          background: #1cba80;
        }
        .secBox {
          padding: 20px 40px;
          background: #ffffff;
          .txtBox {
            padding: 20px 0 0;
            .txtTtl {
              margin: 0 0 10px;
              font-size: 30px;
            }
          }
        }
        @media (min-width: 1025px) {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              width: 35%;
            }
            .txtBox {
              width: 60%;
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    .dataListPanel {
      padding: 50px 0 0;
    }
    .dataListBox {
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -60px 0 0;
        .li {
          width: calc((100% / 3) - 30px);
          margin: 60px 0 0;
          background: #a4bab1;
        }
        .dl {
          position: relative;
          top: -7px;
          left: -7px;
          padding: 10px;
          text-align: center;
          border: 1px solid #a4bab1;
          background: #ffffff;
          .dt {
            position: absolute;
            top: -40px;
            left: -22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 120px;
            font-size: 24px;
            line-height: 1.2;
            color: #ffffff;
            text-indent: -1em;
            background: url(https://trust-logistics.jp/system_panel/uploads/images/about_sec02_band.png)
              no-repeat;
            background-size: 100% auto;
            p {
              position: relative;
              top: -5px;
              transform: rotate(-10deg);
              -moz-transform: rotate(-10deg);
              -webkit-transform: rotate(-10deg);
            }
          }

          .dd {
            padding: 40px 0 30px;
            p {
              display: inline-block;
            }
            .em {
              display: inline-block;
              min-width: 140px;
              font-size: 50px;
              font-weight: bold;
            }

            .span {
            }
          }
        }
      }
    }
  }
  .sec03 {
    padding: 100px 0;
    .listBox {
      max-width: 1300px;
      margin: 0 auto;
      .ul {
        .photoBox {
          background: #a4bab1;
          .photo {
            position: relative;
            top: -7px;
            left: -7px;
          }
        }
        .dl {
          padding: 15px 0;
          .dt {
            margin: 0 0 15px;
            font-size: 24px;
            color: #75a996;
            text-align: center;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -60px 0 0 -30px;
          .li {
            width: calc((100% / 3) - 30px);
            margin: 60px 0 0 30px;
          }
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0;
    background: #f8f2e8;
    .secBox {
      position: relative;
      background: #a4bab1;
      + .secBox {
        margin: 80px 0 0;
      }
      .inner {
        position: relative;
        top: -7px;
        left: -7px;
        border: 1px solid #a4bab1;
        background: #ffffff;
      }
      .txtBox {
        padding: 60px 20px 20px;
        .num {
          position: absolute;
          top: -40px;
          right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          color: #ffffff;
          text-align: center;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/about_num_bg.png)
            no-repeat;
          background-size: 100% auto;
          .span {
            font-size: 16px;
            line-height: 1;
          }
          .em {
            font-size: 24px;
            line-height: 1;
          }
        }
        .ttl {
          margin: 0 0 15px;
          padding: 0 0 5px;
          font-size: 30px;
          color: #75a996;
          border-bottom: 1px solid #75a996;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox .inner {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 42%;
        }
        .txtBox {
          width: 55%;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  voice
///////////////////////////////////////////////////////////*/
.voiceMain {
  .sec01 {
    padding: 80px 0 120px;
    .secBoxList {
      padding: 50px 0 0;
    }
    .secBox {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      background: #a4bab1;
      + .secBox {
        margin: 100px auto 0;
      }
      .inner {
        position: relative;
        top: -7px;
        left: -7px;
        border: 1px solid #a4bab1;
        background: #ffffff;
      }
      .txtBox {
        .num {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          color: #ffffff;
          text-align: center;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/voice_num_bg.png)
            no-repeat;
          background-size: 100% auto;
          .span {
            font-size: 16px;
            line-height: 1;
          }
          .em {
            font-size: 24px;
            line-height: 1;
          }
        }
        .ttl {
          margin: 0 0 15px;
          padding: 0 0 5px;
          font-size: 30px;
          border-bottom: 1px solid #090908;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        .inner {
          display: flex;
          justify-content: space-between;
        }
        .photo {
          width: 40%;
        }
        .txtBox {
          width: 60%;
        }
        &:nth-child(odd) {
          .photo {
            position: relative;
            top: -30px;
            left: -30px;
          }
          .txtBox {
            padding: 20px 80px 20px 20px;
          }
          .num {
            position: absolute;
            top: -50px;
            right: -50px;
          }
        }
        &:nth-child(even) {
          .inner {
            flex-direction: row-reverse;
          }
          .photo {
            position: relative;
            top: -30px;
            right: -30px;
          }
          .txtBox {
            padding: 20px 60px;
          }
          .num {
            position: absolute;
            top: -50px;
            left: -50px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  company
///////////////////////////////////////////////////////////*/
.companyMain {
  .sec01 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://trust-logistics.jp/system_panel/uploads/images/company_sec01_bg.png)
      no-repeat;
    background-size: cover;
    .secWrap {
      position: relative;
    }
    .pageSecTtlBox {
      text-align: left;
    }
    .logo {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 180px;
    }
    .txt {
      margin: 0 0 40px;
      p + p {
        margin: 20px 0 0;
      }
    }
    .nameBox {
      text-align: right;
      p {
        display: inline-block;
      }
      .em {
        margin: 0 0 0 10px;
        font-size: 30px;
      }
    }
  }
  .sec02 {
    padding: 80px 0 0;
    .infoBox {
      .dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 2;
        .dt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 180px;
          min-height: 95px;
          padding: 15px;
          color: #36a476;
          border-bottom: 1px solid #121212;
        }
        .dd {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(100% - 182px);
          min-height: 95px;
          padding: 15px 20px;
          border-bottom: 1px solid #121212;
          a {
            display: inline-block;
          }
        }
      }
    }
    .mapBox {
      margin: 100px 0 0;
    }
  }
}

/*////////////////////////////////////////////////////////////
  contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .sec01 {
    padding: 80px 0 120px;
    .topTxt {
      margin: 0 0 20px;
      text-align: center;
    }
  }
  .sec02 {
    padding: 80px 0 120px;
    background: #e9f4ef;
    .telBox {
      max-width: 400px;
      margin: 0 auto;
      padding: 10px 20px;
      text-align: center;
      border-top: 1px solid #090908;
      border-bottom: 1px solid #090908;
      .tel {
        position: relative;
        a {
          p {
            display: inline-block;
            font-size: 30px;
          }
          .em {
            font-size: 40px;
          }
        }
        + p {
          font-size: 14px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #090908;
    background: #e9f4ef;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #090908;
    background: #e9f4ef;
    resize: none;
    // box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .btnSubmitBox {
    max-width: 220px;
    margin: 40px auto 0;
  }
  .contactForm button[type="submit"] {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    border: 1px solid #2a402f;
    background: url(https://trust-logistics.jp/system_panel/uploads/images/btn_more_arrow.png)
      right 10px center no-repeat #2a402f;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    padding: 0 0 60px;
    .checkList {
      .ul {
        padding: 12px 0 0;
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 25px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #090908;
        background: #ffffff;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #ee7800;
        border-right: 3px solid #ee7800;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      padding: 10px 0;
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #090908;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #ee7800;
      }
    }

    .postalBox {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
      + input {
        + input {
          margin: 5px 0;
        }
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #deebe4;
        border-radius: 15px;
        background: #f7f7f7;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    .formBox {
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        position: relative;
        display: flex;
        width: 100%;
        &.line {
          > .dt {
            vertical-align: top;
          }
        }

        > .dt {
          overflow: hidden;
          width: 280px;
          margin: 0 2px 0 0;
          padding: 20px 10px;
          border-bottom: 1px solid #121212;
          .span {
            display: inline-block;
            min-width: 165px;
            margin-right: 10px;
            padding: 0 0 0 5px;
            color: #36a476;
            vertical-align: middle;
          }

          .em {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            border-radius: 20px;
            background: #2a402f;
          }

          .small {
            font-size: 12px;
          }

          .aside {
            margin-top: 10px;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }

          @media (min-width: 1025px) {
            .span {
              float: left;
            }
            .em {
              float: right;
            }
          }
        }

        > .dd {
          position: relative;
          width: calc(100% - 282px);
          padding: 10px 20px;
          border-bottom: 1px solid #121212;
        }
      }
      .datePanel {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        + .datePanel {
          margin: 10px 0 0;
        }
        > * {
          display: flex;
          align-items: center;
        }
        input {
          width: 70px;
          border-radius: 15px;
        }
        .selectBox {
          width: 70px;
        }
        .dateTtl {
          margin: 0 10px 0 0;
        }
        .dateTxt {
          margin: 0 5px;
        }
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        padding: 10px;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border: 1px solid #090908;
          background: #e9f4ef;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 28%;
          font-size: 16px;
          color: #b4d2be;
          text-align: center;
          border: 1px solid #41ab6d;
          background: #ffffff;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #54765f;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}
.formMain {
  .contactForm01 input[type="text"],
  .contactForm01 input[type="email"],
  .contactForm01 input[type="tel"],
  .contactForm01 textarea {
    background: #ffffff;
  }
}
/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    margin: 0 auto;
  }
}

/*////////////////////////////////////////////////////////////
  blog
///////////////////////////////////////////////////////////*/
.blogMain {
  .blogSection {
    padding: 80px 0 120px;
    background: #f8f2e8;
  }
  .catePanel {
    padding: 40px 0;
    text-align: center;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        margin: 0 20px 0 0;
        a {
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          a {
            display: block;
          }
          .photo {
            margin: 0 0 20px;
          }
          .title {
            min-height: 30px;
            margin: 0 0 10px;
          }
          .more {
            p {
              display: block;
              padding: 10px 0;
              border-bottom: 1px solid #090908;
              background: url(https://trust-logistics.jp/system_panel/uploads/images/btn_more_arrow_black.png)
                right 5px center no-repeat;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -50px 0 0 -10px;
          .webgene-item {
            width: calc((100% / 4) - 10px);
            margin: 50px 0 0 10px;
            .photo {
              position: relative;
              height: 220px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #cdcdcd;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #0f0b09;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      max-width: 1100px;
      margin: 0 auto;
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            background: #171a1c;
          }
          .time {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 30px;
          padding: 0 0 10px;
          font-size: 30px;
          border-bottom: 1px solid #090908;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          max-width: 800px;
          margin: 0 0 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              // width: auto;
              max-height: 500px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
      }
      .btnBackBox {
        margin: 80px 0 0;
        text-align: center;
      }
      .btnContact {
        max-width: 330px;
        margin: 0 auto;
        a {
          display: block;
          padding: 12px 10px;
          color: #ffffff;
          text-align: center;
          background: #c2b43f;
        }
        p {
          display: inline-block;
          padding: 0 0 0 30px;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/footer_contact_mail.png)
            left center no-repeat;
          background-size: 20px auto;
        }
      }
      .btnBack {
        max-width: 260px;
        margin: 100px auto 0;
        a {
          display: block;
          padding: 15px 10px;
          color: #ffffff;
          text-align: center;
          border-radius: 30px;
          background: url(https://trust-logistics.jp/system_panel/uploads/images/btn_back_arrow.png)
            left 20px center no-repeat #ee7800;
          background-size: 20px auto;
        }
      }
      .webgene-item-aroundPageLink {
        display: inline-block;
        a {
          display: block;
          width: 40px;
          color: #ffffff;
          line-height: 44px;
          border-radius: 20px;
          background: #d10b14;
        }
      }
    }
  }
  // .blogPanel {
  //   &--list {
  //     @media (min-width: 1025px) {
  //       .webgene-blog {
  //         margin: -50px 0 0 -50px;
  //         .webgene-item {
  //           width: calc((100% / 4) - 50px);
  //           margin: 50px 0 0 50px;
  //           .photo {
  //             height: 300px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
