@charset "UTF-8";
/* CSS Document */
/*===================================================
    画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
  TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvPanel .kvWrap {
  position: relative;
  height: 800px;
}
.topMain .topKvPanel .topKv {
  position: relative;
  height: 800px;
}
.topMain .topKvPanel .topKv .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topMain .topKvPanel .topKv .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topMain .topKvPanel .topKv .kvBox .kv01 {
  background: url(https://moviement-kobe.com/system_panel/uploads/images/top_kv_01.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .topKv .kvBox .kv02 {
  background: url(https://moviement-kobe.com/system_panel/uploads/images/top_kv_02.png) center no-repeat;
  background-size: cover;
}
.topMain .topKvPanel .topKv .kvBox .kv03 {
  background: url(https://moviement-kobe.com/system_panel/uploads/images/top_kv_03.png) center no-repeat;
  background-size: cover;
}
@media (min-width: 1025px) {
  .topMain .topKvPanel .mvMovie {
    overflow: hidden;
    position: absolute;
    width: 125vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .topMain .topKvPanel .mvMovie--sp {
    display: none;
  }
  .topMain .topKvPanel .mvMovie video {
    width: 100%;
  }
}
.topMain .topKvPanel .kvTtl {
  position: absolute;
  right: 5%;
  bottom: 300px;
  color: #ffffff;
  text-align: right;
  z-index: 2;
}
.topMain .topKvPanel .kvTtl .topTitle {
  margin: 0 0 15px;
  font-size: 0;
}
.topMain .topKvPanel .kvTtl .topTitle p {
  display: inline;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.topMain .topKvPanel .kvTtl .topTitle .em {
  color: #ff5759;
}
.topMain .topKvPanel .kvTtl .title01 {
  font-size: 20px;
}
.topMain .topKvPanel .kvTtl .title01 h1 {
  position: relative;
  display: inline-block;
  padding: 0 0 0 120px;
}
.topMain .topKvPanel .kvTtl .title01 h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  margin: auto 0;
  background: #ffffff;
}
.topMain .sec01 {
  padding: 100px 0;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/top_sec01_bg.png) no-repeat;
  background-size: cover;
}
.topMain .sec01 .secTtlBox {
  position: relative;
  margin: 0 0 40px;
  padding: 0 0 15px;
  font-size: 0;
}
.topMain .sec01 .secTtlBox:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 1px;
  background: #4f4f4f;
}
.topMain .sec01 .secTtlBox p {
  display: inline;
  font-size: 34px;
}
.topMain .sec01 .secTtlBox .span {
  margin: 0 0 0 0.3em;
}
.topMain .sec01 .secTtlBox .em {
  color: #ff5759;
}
.topMain .sec01 .ttl {
  margin: 0 0 30px;
  font-size: 34px;
}
.topMain .sec01 .txt {
  margin: 0 0 60px;
}
.topMain .sec01 .more a {
  display: inline-block;
  padding: 3px 35px 3px 0;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/btn_more_arrow_01.png) right center no-repeat;
  background-size: 25px auto;
}
.topMain .sec02 {
  padding: 120px 0;
}
.topMain .sec02 .secTtlBox {
  position: relative;
  margin: 0 0 40px;
  padding: 0 0 15px;
  font-size: 0;
}
.topMain .sec02 .secTtlBox:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 1px;
  background: #4f4f4f;
}
.topMain .sec02 .secTtlBox p {
  display: inline;
  font-size: 34px;
}
.topMain .sec02 .secTtlBox .em {
  color: #ff5759;
}
.topMain .sec02 .secBox {
  margin: 0 0 60px;
}
.topMain .sec02 .secBox .left .ttlBox .ttl p {
  display: inline;
  font-size: 30px;
}
.topMain .sec02 .secBox .left .ttlBox .ttl .em {
  color: #ff5759;
}
@media (min-width: 1025px) {
  .topMain .sec02 .secBox {
    display: flex;
    justify-content: space-between;
  }
  .topMain .sec02 .secBox .left {
    width: 360px;
  }
  .topMain .sec02 .secBox .right {
    width: 65%;
  }
}
.topMain .sec02 .listBox {
  max-width: 1000px;
  margin: 0 auto 60px;
}
.topMain .sec02 .listBox .ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topMain .sec02 .listBox .ul .li {
  width: calc(25% - 50px);
}
.topMain .sec02 .listBox .ul .li .ttl {
  margin: 30px 0 0;
  text-align: center;
}
.topMain .secSlide {
  padding: 0 0 100px;
}
.topMain .secSlide .slidePanel {
  padding: 20px 0;
  background: #010101;
}
.topMain .secSlide .slidePanel .slideBox {
  padding: 15px 0;
  border-top: 6px dashed #ffffff;
  border-bottom: 6px dashed #ffffff;
}
.topMain .secSlide .slidePanel .slideBox .ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topMain .secSlide .slidePanel .slideBox .ul .li {
  width: 25%;
  margin: 0 1px;
}
.topMain .sec03 {
  padding: 100px 0;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/top_sec03_bg.png) no-repeat;
  background-size: cover;
}
.topMain .sec03 .secTtlBox {
  position: relative;
  margin: 0 0 40px;
  padding: 0 0 15px;
  font-size: 0;
}
.topMain .sec03 .secTtlBox:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 1px;
  background: #4f4f4f;
}
.topMain .sec03 .secTtlBox p {
  display: inline;
  font-size: 34px;
}
.topMain .sec03 .secTtlBox .span {
  margin: 0 0 0 0.3em;
}
.topMain .sec03 .secTtlBox .em {
  color: #ff5759;
}
.topMain .sec03 .secBox .left .inner {
  max-width: 450px;
}
.topMain .sec03 .secBox .left .txt {
  margin: 0 0 30px;
}
.topMain .sec03 .secBox .left .list .ul {
  border-top: 1px solid #4f4f4f;
}
.topMain .sec03 .secBox .left .list .ul .li {
  border-bottom: 1px solid #4f4f4f;
}
.topMain .sec03 .secBox .left .list .ul .li a {
  display: block;
  padding: 20px 10px;
}
.topMain .sec03 .secBox .left .list .ul .li a p {
  padding: 3px 35px 3px 0;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/btn_more_arrow_01.png) right center no-repeat;
  background-size: 25px auto;
}
.topMain .sec03 .secBox .right .logo {
  max-width: 700px;
}
@media (min-width: 1025px) {
  .topMain .sec03 .secBox {
    display: flex;
    align-items: center;
  }
  .topMain .sec03 .secBox .left {
    width: 50%;
  }
  .topMain .sec03 .secBox .right {
    width: 50%;
  }
}

/*////////////////////////////////////////////////////////////
  reason
///////////////////////////////////////////////////////////*/
.reasonMain .topSection {
  padding: 60px 0 100px;
}
.reasonMain .topSection .secPanel {
  position: relative;
}
.reasonMain .topSection .secPanel .pTtlBox {
  margin: 0 0 20px;
}
.reasonMain .topSection .secPanel .pTtlBox .pTtl {
  font-size: 0;
}
.reasonMain .topSection .secPanel .pTtlBox .pTtl p {
  display: inline;
  font-size: 34px;
}
.reasonMain .topSection .secPanel .pTtlBox .pTtl .em {
  color: #b52a2c;
}
.reasonMain .topSection .secPanel .txtBox {
  width: 70%;
  max-width: 830px;
  padding: 30px;
  background: #f1eaea;
}
.reasonMain .topSection .secPanel .txtBox .txt {
  width: 90%;
}
.reasonMain .topSection .secPanel .photo {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 38%;
  max-width: 450px;
}
.reasonMain .sec01 {
  padding: 0 0 100px;
}
.reasonMain .sec01 .secBoxList {
  margin: 0 0 100px;
}
.reasonMain .sec01 .secBoxList .secBox + .secBox {
  margin: 60px 0 0;
}
.reasonMain .sec01 .secBoxList .secBox .txtBox .ttlBpx {
  margin: 0 0 20px;
}
.reasonMain .sec01 .secBoxList .secBox .txtBox .ttlBpx .ttl {
  font-size: 0;
}
.reasonMain .sec01 .secBoxList .secBox .txtBox .ttlBpx .ttl p {
  display: inline;
  font-size: 34px;
}
.reasonMain .sec01 .secBoxList .secBox .txtBox .ttlBpx .ttl .em {
  color: #b52a2c;
}
@media (min-width: 1025px) {
  .reasonMain .sec01 .secBoxList .secBox {
    display: flex;
    justify-content: space-between;
  }
  .reasonMain .sec01 .secBoxList .secBox .photo {
    width: 40%;
  }
  .reasonMain .sec01 .secBoxList .secBox .txtBox {
    width: 55%;
  }
  .reasonMain .sec01 .secBoxList .secBox:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
.reasonMain .sec01 .offerPanel {
  padding: 40px 20px;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/reason_offer_bg.png) no-repeat;
  background-size: cover;
}
.reasonMain .sec01 .offerPanel .dl {
  max-width: 1000px;
  margin: 0 auto;
}
.reasonMain .sec01 .offerPanel .dl .dt {
  padding: 15px 0;
  font-size: 30px;
  line-height: 1.7;
}
.reasonMain .sec01 .offerPanel .dl .dd {
  line-height: 2.5;
}
@media (min-width: 1025px) {
  .reasonMain .sec01 .offerPanel .dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .reasonMain .sec01 .offerPanel .dl .dt {
    width: 45%;
    border-right: 1px solid #4f4f4f;
  }
  .reasonMain .sec01 .offerPanel .dl .dd {
    width: 50%;
  }
}
.reasonMain .secSlide {
  padding: 0 0 60px;
}
.reasonMain .secSlide .slidePanel {
  padding: 20px 0;
  background: #010101;
}
.reasonMain .secSlide .slidePanel .slideBox {
  padding: 15px 0;
  border-top: 6px dashed #ffffff;
  border-bottom: 6px dashed #ffffff;
}
.reasonMain .secSlide .slidePanel .slideBox .ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reasonMain .secSlide .slidePanel .slideBox .ul .li {
  width: 25%;
  margin: 0 1px;
}

/*////////////////////////////////////////////////////////////
  service
///////////////////////////////////////////////////////////*/
.serviceMain .topSection {
  padding: 60px 0 100px;
}
.serviceMain .topSection .secBox + .secBox {
  margin: 60px 0 0;
}
.serviceMain .topSection .secBox .txtBox .ttlBpx {
  margin: 0 0 20px;
}
.serviceMain .topSection .secBox .txtBox .ttlBpx .ttl {
  font-size: 0;
}
.serviceMain .topSection .secBox .txtBox .ttlBpx .ttl p {
  display: inline;
  font-size: 30px;
}
.serviceMain .topSection .secBox .txtBox .ttlBpx .ttl .em {
  color: #b52a2c;
}
@media (min-width: 1025px) {
  .serviceMain .topSection .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .serviceMain .topSection .secBox .photo {
    width: 38%;
  }
  .serviceMain .topSection .secBox .txtBox {
    width: 58%;
  }
}
.serviceMain .sec01 {
  padding: 0 0 100px;
}
.serviceMain .sec01 .listBox .ul .li .dl {
  margin: 10px;
}
.serviceMain .sec01 .listBox .ul .li .dl .dt {
  margin: 0 0 5px;
  font-size: 24px;
}
.serviceMain .sec01 .listBox .ul .li .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .serviceMain .sec01 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -60px 0 0 -60px;
  }
  .serviceMain .sec01 .listBox .ul .li {
    width: calc(33.3333333333% - 60px);
    margin: 60px 0 0 60px;
  }
}
.serviceMain .sec02 {
  padding: 0 0 60px;
}
.serviceMain .sec02 .listBox {
  color: #ffffff;
}
.serviceMain .sec02 .listBox .ul .li {
  position: relative;
  padding: 20px;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/service_sec02_list_bg.png) no-repeat;
  background-size: cover;
}
.serviceMain .sec02 .listBox .ul .li .ttl {
  margin: 0 0 10px;
  padding: 0 5px 5px;
  border-bottom: 1px solid #4f4f4f;
}
.serviceMain .sec02 .listBox .ul .li .ttl p {
  display: inline-block;
  font-size: 24px;
}
.serviceMain .sec02 .listBox .ul .li .ttl .em {
  color: #b52a2c;
}
.serviceMain .sec02 .listBox .ul .li .dl {
  padding: 5px;
}
.serviceMain .sec02 .listBox .ul .li .dl .dt {
  margin: 0 0 5px;
  font-size: 20px;
}
.serviceMain .sec02 .listBox .ul .li .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .serviceMain .sec02 .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -45px;
  }
  .serviceMain .sec02 .listBox .ul .li {
    width: calc(33.3333333333% - 45px);
    margin: 30px 0 0 45px;
  }
  .serviceMain .sec02 .listBox .ul .li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    bottom: 0;
    width: 24px;
    height: 40px;
    margin: auto 0;
    background: url(https://moviement-kobe.com/system_panel/uploads/images/service_sec02_list_arrow_01.png) no-repeat;
    background-size: 100% auto;
  }
}

/*////////////////////////////////////////////////////////////
  company
///////////////////////////////////////////////////////////*/
.companyMain .sec01 {
  position: relative;
  margin: 50px 0 120px;
  color: #ffffff;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/company_sec01_bg.png) no-repeat;
  background-size: cover;
}
.companyMain .sec01 .secBox {
  position: relative;
  padding: 60px 0;
  z-index: 1;
}
.companyMain .sec01 .secBox .ttl {
  margin: 0 0 20px;
  font-size: 34px;
}
.companyMain .sec01 .secBox .txt p + p {
  margin: 30px 0 0;
}
.companyMain .sec01 .secBox .name {
  margin: 30px 0 0;
  text-align: right;
}
.companyMain .sec01 .secBox .name p {
  display: inline-block;
}
.companyMain .sec01 .secBox .name .em {
  margin: 0 0 0 5px;
  font-size: 24px;
}
@media (min-width: 1025px) {
  .companyMain .sec01 {
    height: 800px;
    padding: 0 5%;
  }
  .companyMain .sec01 .photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 800px;
  }
  .companyMain .sec01 .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.companyMain .sec02 {
  padding: 0 0 60px;
}
.companyMain .sec02 .wrap {
  padding: 0 5%;
}
.companyMain .sec02 .infoBox {
  padding: 0 0 80px;
}
.companyMain .sec02 .infoBox .dl {
  line-height: 2;
}
.companyMain .sec02 .infoBox .dl + .dl {
  margin: 10px 0 0;
}
.companyMain .sec02 .infoBox .dl .dt {
  padding: 15px;
  border-bottom: 1px solid #b52a2c;
}
.companyMain .sec02 .infoBox .dl .dd {
  padding: 15px 40px;
  border-bottom: 1px solid #4f4f4f;
}
.companyMain .sec02 .infoBox .dl .dd a {
  display: inline-block;
}
@media (min-width: 1025px) {
  .companyMain .sec02 .infoBox .dl {
    display: flex;
    justify-content: space-between;
  }
  .companyMain .sec02 .infoBox .dl .dt {
    width: 120px;
  }
  .companyMain .sec02 .infoBox .dl .dd {
    width: calc(100% - 125px);
  }
}
.companyMain .sec02 .mapBox iframe {
  filter: grayscale(1);
}

/*////////////////////////////////////////////////////////////
  contact
///////////////////////////////////////////////////////////*/
.contactMain .sec01 {
  padding: 60px 0;
}
.contactMain .sec01 .secTtl01 .span {
  margin: 0 10px 0 0;
}
.contactMain .sec01 .topTxt {
  margin: 0 0 60px;
}
.contactMain .sec02 {
  padding: 60px 0;
}
.contactMain .sec02 .telBox {
  max-width: 550px;
  padding: 35px 20px;
  text-align: center;
  background: #f1eaea;
}
.contactMain .sec02 .telBox .tel {
  display: inline-block;
}
.contactMain .sec02 .telBox .tel a {
  display: inline-block;
  line-height: 1;
}
.contactMain .sec02 .telBox .tel a .span {
  display: inline-block;
  font-size: 24px;
}
.contactMain .sec02 .telBox .tel a .em {
  display: inline-block;
  font-size: 40px;
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid #f4f2f2;
  background: #f4f2f2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f4f2f2;
  background: #f4f2f2;
  resize: none;
  box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  max-width: 140px;
  width: 100%;
  margin: 60px auto 0;
  padding: 15px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(https://moviement-kobe.com/system_panel/uploads/images/btn_more_arrow.png) right center no-repeat;
  background-size: 25px auto;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkList02 {
  padding: 10px 0 0;
}
.formMain .contactForm .form .checkList02 .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 20px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #f4f2f2;
  background: #f4f2f2;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #121c11;
  border-right: 3px solid #121c11;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #f4f2f2;
  background: #f4f2f2;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #121c11;
}
.formMain .contactForm .form .postalBox {
  margin: 0 0 8px;
}
.formMain .contactForm .form .postalBox input {
  width: 90px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox + input + input {
  margin: 5px 0;
}
.formMain .contactForm .form .selectBox {
  display: inline-block;
  width: 120px;
}
.formMain .contactForm .form .selectBox select {
  display: block;
  width: 100%;
  padding: 11px 15px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #e9ecef;
  background: #fafafa;
  background-size: 10px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .form .selectBox + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm {
  padding: 40px 0 0;
  text-align: left;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.formMain .contactForm .formBox > .dl:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 300px;
  height: 1px;
  background: #b52a2c;
}
.formMain .contactForm .formBox > .dl:after {
  content: "";
  position: absolute;
  left: 305px;
  bottom: -1px;
  width: calc(100% - 305px);
  height: 1px;
  background: #4f4f4f;
}
.formMain .contactForm .formBox > .dl.line {
  align-items: flex-start;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  padding: 20px 20px 0;
}
.formMain .contactForm .formBox > .dl.visit {
  border-bottom: none;
}
.formMain .contactForm .formBox > .dl.visit::before, .formMain .contactForm .formBox > .dl.visit:after {
  display: none;
}
.formMain .contactForm .formBox > .dl.visit > .dd {
  padding-bottom: 20px;
  border-bottom: 1px solid #cfcfcf;
}
.formMain .contactForm .formBox > .dl > .dt {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 10px 20px 10px;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  display: inline-block;
}
.formMain .contactForm .formBox > .dl > .dt .em p {
  display: inline-block;
  padding: 3px 8px;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  background: #b52a2c;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
.formMain .contactForm .formBox > .dl > .dd {
  width: calc(100% - 305px);
  padding: 5px 20px;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox {
  border: 1px solid #171a1c;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox .ttl {
  max-width: 220px;
  padding: 3px;
  color: #ffffff;
  text-align: center;
  background: #171a1c;
}
.formMain .contactForm .formBox > .dl > .dd .reserveBox .txt {
  padding: 10px 20px;
  line-height: 2;
}
.formMain .contactForm .formBox > .dl > .dd .dogBox > p {
  font-size: 12px;
}
.formMain .contactForm .formBox .otherTtl {
  padding: 20px 20px 10px;
  border-bottom: none;
}
.formMain .contactForm .formBox .otherRadio .dt {
  display: block;
  text-align: right;
}
.formMain .contactForm .formBox .otherRadio .dt .span {
  display: block;
  max-width: 260px;
  margin: 0;
}
.formMain .contactForm .formBox .otherRadio01 {
  border-bottom: none;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 13px;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  margin: 30px auto 0;
  text-align: center;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  font-weight: 400;
  text-align: left;
  border: 1px solid #eae8e8;
  background: #eae8e8;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadPanel {
  padding: 20px;
}
.formMain .contactForm .fileUploadTtl {
  margin: 0 0 15px;
}
.formMain .contactForm .fileUploadBox .fileBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 32%;
  font-size: 16px;
  color: #000000;
  text-align: center;
  border: 1px solid #dadada;
  background: #f8f8f8;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 65%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox + p {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 100px 0;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 3;
}
.complete .btnMore {
  margin: 0 auto;
}