@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvContainer {
      padding: 0 0 20px 20px;
      .topKvPanel {
        height: 350px;
        padding: 20px;
        &::before {
          left: -20px;
          bottom: -10px;
          width: 50px;
          height: 50px;
          border-radius: 6px;
        }
        .kvTitleBox {
          h1 {
            margin: 0 0 10px;
            font-size: 26px;
          }
          .txt {
            font-size: 14px;
          }
        }
      }
    }
    .sec01 {
      padding: 40px 0 80px;
      .secWrap {
        padding: 60px 20px;
        background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/top_sec01_top_map.png)
          left top no-repeat;
        background-size: 90% auto;
      }
      .secContainer01 {
        margin: 0 0 120px;
        .secPanel {
          display: block;
          .secBox {
            width: 100%;
            padding: 0;
            .ttlBox {
              margin: 0 0 15px;
              .ttl {
                p {
                  font-size: 20px;
                }
              }
            }
            .photoBox {
              margin: 50px 0 0;
              .photo01 {
                max-width: 300px;
                margin: 0 auto 10px;
              }
              .photo02 {
                max-width: 300px;
                margin: 0 auto 10px;
              }
              .photo03 {
                max-width: 300px;
                margin: 0 auto;
              }
            }
          }
        }
      }
      .secContainer02 {
        max-width: 600px;
        margin: 0 auto;
        .headTtl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .listBox {
          .ul {
            .li {
              + .li {
                margin: 30px 0 0;
              }
            }
          }
        }
      }
      .messageContainer {
        padding: 0 0 0 20px;
        .messagePanel {
          width: 100%;
          padding: 40px 20px;
          .messageBox {
            text-align: center;
            .message {
              p {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .secTtlBox {
      margin: 0 0 40px;
      .secTtl {
        font-size: 24px;
      }
    }
    .sec02 {
      padding: 60px 0;
      &::before {
        width: 90%;
      }
      .secPanel01 {
        margin: 0 0 60px;
        .photoBox {
          &::before {
            content: "";
            position: absolute;
            top: -10px;
            right: -10px;
            width: 50px;
            height: 50px;
            border-radius: 6px;
          }
        }
        .txtBox {
          padding: 20px 0 0;

          .pTtl {
            margin: 0 0 40px;
            .service {
              max-width: 250px;
            }
            .ttl {
              bottom: -15px;
              font-size: 24px;
            }
          }
          .txt {
            margin: 0 0 30px;
          }
        }
      }
      .secPanel02 {
        .photoBox {
          &::before {
            left: -20px;
            bottom: -10px;
            width: 50px;
            height: 50px;
            border-radius: 6px;
          }
        }
        .txtBox {
          padding: 20px 0 0;
          .pTtl {
            margin: 0 0 40px;
            .service {
              max-width: 250px;
            }
            .ttl {
              bottom: -15px;
              font-size: 24px;
            }
          }
          .txt {
            margin: 0 0 30px;
          }
        }
      }
    }
    .sec03 {
      padding: 60px 0;
      .secPanel {
        .blogListPanel {
          padding: 30px 0 0;
          .webgene-blog {
            .webgene-item {
              + .webgene-item {
                margin: 30px 0 0;
              }
            }
          }
        }
      }
    }
    .sec04 {
      padding: 60px 0;
      &::before {
        width: 90%;
      }
      .secPanel {
        display: block;
        text-align: left;
      }
      .infoBox {
        width: 100%;
        max-width: 780px;
        text-align: left;
        .dl {
          .dt {
            width: 80px;
          }
          .dd {
            width: calc(100% - 85px);
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain {
    .topSection {
      padding: 60px 0;
      .ttlBox {
        margin: 0 0 15px;
        .ttl {
          p {
            font-size: 24px;
          }
        }
      }
      .txt {
        margin: 0 0 20px;
      }
      .list {
        .ul {
          gap: 5px;
          .li {
            width: calc((100% / 2) - 5px);
            height: 60px;
            padding: 5px;
            font-size: 12px;
          }
        }
      }
    }
    .secReason {
      padding: 60px 0;
      &::before {
        width: 90%;
        height: 90%;
      }
      .secTtlBox {
        margin: 0 0 40px;
        .secTtl {
          font-size: 24px;
        }
      }
      .secContainer01 {
        margin: 0 0 60px;
        .secBox {
          + .secBox {
            margin: 30px 0 0;
          }
          .ttlBox {
            margin: 0 0 5px;
            padding: 0 0 10px;
            border-bottom: 1px solid #44537f;
            .reason {
              max-width: 250px;
            }
            .ttl {
              margin: -15px 0 0;
              font-size: 20px;
              line-height: 1.2;
            }
          }
          .txtBox {
            padding: 10px 0;
          }
        }
      }
      .secContainer02 {
        .examplePanel {
          margin: 0 0 40px;
          .pTtl {
            font-size: 20px;
          }
          .listBox01 {
            .ul {
              .li {
                + .li {
                  margin: 20px 0 0;
                }
              }
              .dl {
                .dt {
                  font-size: 18px;
                }
                .dd {
                  padding: 15px 15px;
                }
              }
            }
          }
        }
        .logoBox {
          .logo {
            max-width: 280px;
            margin: 0 auto 20px;
          }
          .ttl {
            font-size: 20px;
          }
        }
      }
    }
    .pagingSection {
      .section {
        + .section {
          margin: 60px 0 0;
        }
      }
      .secTtlBox {
        margin: 0 0 40px;
        .secTtl {
          font-size: 24px;
        }
      }
      .topPanel {
        margin: 0 0 60px;
        .txtBox {
          width: 100%;
          margin: 20px 0 0;
          padding: 50px 20px 50px 0;
          .ttl {
            margin: 0 0 20px;
            font-size: 20px;
          }
          .txt {
            width: 100%;
            max-width: 720px;
          }
        }
      }
      .targetPanel {
        margin: 0 0 50px;
        .dl {
          .dt {
            padding: 20px 15px;
            font-size: 18px;
          }
          .dd {
            padding: 20px 20px;
            border-radius: 0 0 10px 10px;
            .ul {
              .li {
                padding: 0 0 0 30px;
                background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/service_list_check.png)
                  left center no-repeat;
                background-size: 22px auto;
                + .li {
                  margin: 15px 0 0;
                }
              }
            }
          }
        }
      }
      .solutionPanel {
        margin: 0 0 50px;
        .pTtl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .listBox {
          .ul {
            .li {
              + .li {
                margin: 30px 0 0;
              }
            }
            .photo {
              margin: 0 0 15px;
            }
            .dl {
              .dt {
                margin: 0 0 10px;
                font-size: 16px;
              }
            }
          }
        }
      }
      .casePanel {
        .pTtl {
          margin: 0 0 20px;
          font-size: 20px;
        }
        .subTtl {
          font-size: 18px;
        }
        .caseBox01 {
          .box01 {
            margin: 0 0 10px;
            padding: 15px;
            .dl {
              .dt {
                margin: 0 0 10px;
                font-size: 18px;
              }
            }
          }
          .box02 {
            padding: 15px;
            .dl {
              .dt {
                margin: 0 0 10px;
                font-size: 18px;
              }
            }
          }
        }
        .caseBox02 {
          padding: 15px;
          .dl {
            .dt {
              margin: 0 0 10px;
              font-size: 18px;
            }
          }
        }
        .caseBox03 {
          padding: 15px;
          .dl {
            .dt {
              margin: 0 0 10px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .topSection {
      padding: 60px 0 30px;
      .ttlBox {
        .ttl {
          p {
            font-size: 18px;
          }
        }
      }
    }
    .secTtlBox {
      margin: 0 0 40px;
      .secTtl {
        font-size: 24px;
      }
    }
    .sec01 {
      .telBox {
        max-width: 400px;
        .tel {
          a {
            .em {
              font-size: 24px;
            }
          }
        }
        > p {
          font-size: 12px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain {
    .contactForm {
      .form {
        .checkList {
          .ul {
            padding: 0;
          }
        }
      }
      .formBox {
        + .formBox {
          margin-top: 40px;
        }

        > .dl {
          display: block;
          width: 100%;
          padding: 10px 0;
          &::before {
            display: none;
          }
          &.line {
            .dt {
              padding: 10px;
            }
          }

          > .dt {
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px;

            .span {
              width: auto;
              min-width: 0;
              margin-right: 10px;
              padding: 0;
              font-size: 16px;
              text-align: left;

              br {
                display: none;
              }
            }

            .em {
              font-size: 12px;
              vertical-align: middle;
            }

            .aside {
              margin-top: 5px;

              p {
                font-size: 12px;

                br {
                  display: none;
                }
              }
            }
          }

          > .dd {
            display: block;
            width: 100%;
            padding: 10px;
            border-bottom: none;
          }
        }
        .radioBox {
          padding: 0;
        }
        .radioList01 {
          .list {
            display: block;
            margin: 0;
            + .list {
              margin: 20px 0 0;
            }
          }
        }

        .checkList01 {
          .ul {
            .li {
              display: block;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
          .checkItem {
            display: inline-block;
            padding: 0 5px 0 0;
            + input {
              display: inline-block;
              width: 150px;
            }
          }
        }

        .addressBox,
        .dateBox {
          .dl {
            display: block;

            .dt {
              display: block;
              width: 100%;
            }

            .dd {
              display: block;
            }
          }
        }

        .datePanel {
          display: block;
          font-size: 14px;
          + .datePanel {
            margin: 20px 0 0;
          }
          > * {
            padding: 0 0 5px;
          }
          input {
            width: 60px;
          }
          .selectBox {
            width: 60px;
          }
          .dateTtl {
            margin: 0 10px 0 0;
          }
          .dateTxt {
            margin: 0 5px;
          }
        }

        .dateBox {
          input[type="text"] {
            width: 70px;
          }

          .radioList {
            display: block;
            margin: 10px 0 0;
          }
        }

        .selectBox {
          width: 180px;
        }

        .privacy {
          .agreeBox {
            height: 250px;
            padding: 20px 10px;
          }
        }
      }
      .fileUploadBox {
        display: block;
        .fileBox {
          width: 100%;
        }
        .fileArea {
          display: block;
          .inputFile {
            width: 200px;
          }
          > p,
          .fileTxt {
            width: 100%;
            margin: 10px 0 0;
          }
        }
      }
      .fileUploadTitleBox {
        margin: 40px 0 20px;
        .fileUploadTitle {
          p {
            padding: 0 15px 0 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain {
    .catePanel {
      padding: 0 0 40px;
      .webgene-blog {
        .webgene-item {
          display: block;
          width: 200px;
          margin: 0 auto 20px;
        }
      }
    }
    .blogPanel {
      &--list {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -10px;
          .webgene-item {
            width: calc((100% / 2) - 10px);
            margin: 40px 0 0 10px;
            .photo {
              position: relative;
              height: 0;
              margin: 0 0 10px;
              padding: 0 0 80%;
              img {
                @include cover-image;
              }
            }
            .title {
              min-height: 0;
              margin: 0;
            }
            .more {
              p {
                padding: 5px 0;
                font-size: 12px;
                background: url(https://s-9891413.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png)
                  right 2px center no-repeat;
                background-size: 15px auto;
              }
            }
          }
        }
        .webgene-pagination {
          margin: 60px auto 0;
        }
      }
      &--detail {
        .webgene-blog {
          .ttlBox {
            font-size: 20px;
          }
          .slickSlide {
            margin: 0 0 40px;
            .slider {
              .li {
                > div {
                  padding: 0 0 70%;
                }
              }
            }
          }
          .thumb-item {
            &.slider {
              .li {
                > div {
                  overflow: hidden;
                  position: relative;
                  padding: 0 0 100%;
                }
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .slick-prev {
            left: -20px;
          }
          .slick-next {
            right: -20px;
          }
        }
        .btnBackBox {
          margin: 50px 0 0;
        }
        .btnBack {
          margin: 40px auto 0;
        }
      }
    }
  }
}
