@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
body {
  min-width: 0;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

/*改行*/
.pcBreak {
  display: none;
}

.spBreak {
  display: block;
}

/*spのみ表示*/
.pcHidden {
  display: block;
}

.spHidden {
  display: none;
}

#sideBtn {
  display: none;
}

.topicPath {
  display: none;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
  background: #ffffff;
}

header .headBox .logo {
  width: 140px;
}

header .headBox .logo a {
  display: block;
}

header .headContact {
  display: none;
}

header #menuBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 24px;
  z-index: 9999;
  cursor: pointer;
}

header #menuBtn span {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  z-index: 9999;
  background: #000;
  transition: all .4s;
}

header #menuBtn span:nth-child(1) {
  top: 0;
}

header #menuBtn span:nth-child(2) {
  top: 12px;
}

header #menuBtn span:nth-child(3) {
  top: 24px;
}

header #menuBtn.active {
  width: 40px;
  height: 40px;
}

header #menuBtn.active span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header #menuBtn.active span:nth-child(2) {
  right: -50%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 1s forwards;
}

header #menuBtn.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 20px 20px;
  z-index: 999;
  background: white;
}

nav ul {
  max-width: 280px;
  margin: 0 auto;
}

nav ul li {
  letter-spacing: 0.1em;
}

nav ul li + li {
  margin-top: 20px;
}

nav ul li a {
  display: block;
}

nav ul li em {
  display: block;
  font-size: 18px;
}

nav ul li span {
  font-weight: bold;
  color: #008475;
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
main {
  margin: 58px 0 0;
}

/* --------------------------------------------------
	kv
-------------------------------------------------- */
.kv {
  position: relative;
  height: 390px;
}

.kv .ttlBox {
  position: absolute;
  left: 20px;
  bottom: -70px;
  font-size: 30px;
  z-index: 1;
}

.kv .ttlBox h1 span {
  display: block;
  font-size: 28px;
  color: #d4ab37;
}

.kv .ttlBox h1 em {
  font-size: 30px;
}

.kv .imgBox {
  height: 390px;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
footer .footBox {
  padding: 30px 10px;
  text-align: center;
}

footer .footBox .info {
  float: none;
  margin-bottom: 40px;
}

footer .footBox .info .logo {
  display: inline-block;
  width: 140px;
  margin-bottom: 20px;
}

footer .footBox .info p {
  line-height: 2;
}

footer .footBox .recruit {
  float: none;
  padding: 0;
}

footer .footBox .recruit a {
  display: inline-block;
  width: 220px;
  padding: 20px 10px;
}

footer .footBox .recruit dl dt {
  font-size: 18px;
}

footer .footBox .recruit dl dd {
  font-size: 18px;
}
