@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top #topKv {
  position: relative;
  width: 100%;
  height: 800px;
}

#top #topKv .kvBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#top #topKv .kvBox > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#top #topKv .kvTtl {
  position: relative;
  top: 300px;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  letter-spacing: 0.2em;
}

#top #topKv .kvBox .kv01 {
  background: url("../image/top/kv_01.png") center no-repeat;
  background-size: cover;
}

#top #topKv .kvBox .kv02 {
  background: url("../image/top/kv_02.png") center no-repeat;
  background-size: cover;
}

#top #topKv .kvBox .kv03 {
  background: url("../image/top/kv_03.png") center no-repeat;
  background-size: cover;
}

#top h2 em {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  color: #d4ab37;
}

#top h2 span {
  color: #528675;
}

#top .linkBtn {
  display: block;
  max-width: 260px;
  padding: 15px 0;
  line-height: 1;
  text-align: center;
  border: 1px solid #000000;
  background: url("../image/common/link_btn_arrow.png") right 10px center no-repeat;
}

#top #sec01 {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 10px 0;
}

#top #sec01 .cntWrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 50px 0 90px;
}

#top #sec01 .cntWrap:after {
  content: '';
  position: absolute;
  top: 0;
  right: -280px;
  width: 1130px;
  height: 780px;
  background: url("../image/top/sec01_img_01.png") right -280px top no-repeat;
}

#top #sec01 .txtBox {
  max-width: 460px;
}

#top #sec01 .txtBox h2 {
  margin-bottom: 60px;
}

#top #sec01 .txtBox dl {
  margin-bottom: 60px;
}

#top #sec01 .txtBox dl dt {
  margin-bottom: 60px;
  font-size: 42px;
  color: #81c2bb;
}

#top #sec01 .txtBox dl dd {
  line-height: 2;
}

#top #sec01 .subTxtBox {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px;
}

#top #sec01 .subTxtBox dt {
  display: table-cell;
  width: 53%;
  font-size: 42px;
  color: #81c2bb;
  vertical-align: middle;
}

#top #sec01 .subTxtBox dd {
  display: table-cell;
  text-align: right;
  line-height: 2;
}

#top #sec01 .subTxtBox dd p {
  display: inline-block;
  max-width: 480px;
  text-align: left;
}

@media (min-width: 1025px) {
  #top #sec01 .cntWrap {
    height: 780px;
  }
}

#top #sec02 {
  max-width: 1220px;
  margin: 0 auto;
  padding: 180px 10px;
}

#top #sec02 h2 {
  margin-bottom: 60px;
}

#top #sec02 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -80px 0 120px;
}

#top #sec02 ul li {
  width: 32%;
  max-width: 32%;
  margin: 80px 0 0;
}

#top #sec02 ul li:nth-child(3n + 2):last-child {
  margin-left: auto;
  margin-right: 34%;
}

#top #sec02 ul li a {
  display: block;
  text-align: center;
}

#top #sec02 ul li .photo {
  margin-bottom: 20px;
}

#top #sec02 ul li .txt span {
  display: block;
}

#top #sec02 ul li .txt span + span {
  margin: 5px 0 0;
}

#top #sec02 .linkBtn {
  margin: 0 auto;
}

#top #sec03 .cntWrap {
  max-width: 1200px;
  margin: 0 auto;
}

#top #sec03 .topBox .txt dl dt {
  color: #81c2bb;
}

#top #sec03 .topBox .txt dl dd {
  line-height: 2;
}

#top #sec03 .topBox .txt dl dd p {
  display: inline-block;
  max-width: 530px;
  text-align: left;
}

@media (min-width: 1025px) {
  #top #sec03 .topBox {
    margin-bottom: 120px;
  }
  #top #sec03 .topBox .photo {
    float: left;
    width: 50%;
    margin: 0 0 0 -100px;
    padding: 40px 0 0;
  }
  #top #sec03 .topBox .txt {
    float: right;
    width: 50%;
    text-align: right;
  }
  #top #sec03 .topBox .txt h2 {
    margin-bottom: 30px;
  }
  #top #sec03 .topBox .txt dl dt {
    margin-bottom: 40px;
    font-size: 36px;
  }
  #top #sec03 .photoBox .photo01 {
    float: left;
    width: 40%;
  }
  #top #sec03 .photoBox .photo01 div {
    position: relative;
    top: -200px;
    max-width: 500px;
    width: 60%;
    margin: 0 auto;
  }
  #top #sec03 .photoBox .photo02 {
    float: right;
    width: 60%;
  }
}

#top #sec04 {
  margin: 100px 0 300px;
  text-align: center;
}

#top #sec04 h2 {
  margin-bottom: 40px;
}

#top #sec04 > div {
  position: relative;
}

#top #sec04 > div:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 360px;
}

#top #sec04 .box1:before {
  top: 0;
  left: 0;
  background: url("../image/top/sec04_img_01.png") no-repeat;
  background-size: cover;
}

#top #sec04 .box2:before {
  top: 0;
  right: 0;
  background: url("../image/top/sec04_img_02.png") no-repeat;
  background-size: cover;
}

#top #sec04 .box3:before {
  top: 0;
  left: 0;
  background: url("../image/top/sec04_img_03.png") no-repeat;
  background-size: cover;
}

#top #sec04 .infoBox .ttl {
  margin-bottom: 40px;
  font-size: 26px;
}

#top #sec04 .infoBox dl {
  display: table;
  width: 100%;
}

#top #sec04 .infoBox dl + dl {
  margin-top: 10px;
}

#top #sec04 .infoBox dl dt {
  display: table-cell;
  width: 90px;
}

#top #sec04 .infoBox dl dd {
  display: table-cell;
}

#top #sec04 .linkBtn {
  margin: 40px auto 0;
}

@media (min-width: 1025px) {
  #top #sec04 > div {
    overflow: hidden;
  }
  #top #sec04 .infoBox {
    width: 50%;
    padding: 60px;
    text-align: left;
  }
  #top #sec04 .box1 .infoBox, #top #sec04 .box3 .infoBox {
    float: right;
  }
  #top #sec04 .box2 .infoBox {
    float: left;
  }
}

#top #sec05 {
  margin-bottom: 220px;
  padding: 0 10px;
}

#top #sec05 .newsBox {
  overflow: hidden;
  max-width: 1090px;
  margin: 0 auto 60px;
  padding: 60px 10px;
  background: #f9f9f9;
}

#top #sec05 .newsBox .ttl {
  float: left;
  width: 40%;
  padding: 30px 0 0;
  text-align: center;
}

#top #sec05 .newsBox .ttl h2 {
  display: inline-block;
  text-align: left;
}

#top #sec05 .newsBox .newsList {
  float: right;
  width: 60%;
}

#top #sec05 .newsBox .newsList ul li {
  padding: 10px 0;
  border-bottom: 1px solid #000000;
}

#top #sec05 .newsBox .newsList ul li > * {
  display: inline-block;
}

#top #sec05 .newsBox .newsList ul li span {
  margin-right: 10px;
  padding: 0 10px;
  color: #ffffff;
  background: #000000;
}

#top #sec05 .newsBox .newsList ul li time {
  margin-right: 10px;
}

#top #sec05 .linkBtn {
  margin: 0 auto;
}

#top #sec06 {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 10px 100px;
}

#top #sec06 .cntWrap {
  overflow: hidden;
  margin-bottom: 60px;
}

#top #sec06 .linkBtn {
  margin: 0 auto;
}

@media (min-width: 1025px) {
  #top #sec06 .ttl {
    float: left;
    width: 100px;
    padding: 20px 0 0;
  }
  #top #sec06 .ttl h2 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  #top #sec06 .instaBox {
    float: right;
    width: 900px;
  }
}

/*////////////////////////////////////////////////////////////
	ABOUT
///////////////////////////////////////////////////////////*/
#about .kv .imgBox {
  background: url("../image/about/kv.png") center no-repeat;
  background-size: cover;
}

#about h2 {
  margin-bottom: 60px;
  text-align: center;
}

#about h2 em {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  color: #d4ab37;
}

#about h2 span {
  color: #528675;
}

#about h3 {
  margin-bottom: 60px;
  font-size: 25px;
  text-align: center;
}

#about #secTop {
  padding: 100px 0 80px;
}

#about .cntWrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

#about #sec01 {
  margin-bottom: 200px;
}

#about #sec01 .box1 {
  margin-bottom: 120px;
}

#about #sec01 .box1 .txt dl dt {
  margin-bottom: 20px;
  font-size: 42px;
  color: #81c2bb;
}

#about #sec01 .box2 .txt p {
  line-height: 2;
}

#about #sec01 .box2 .txt p + p {
  margin-top: 20px;
}

@media (min-width: 1025px) {
  #about #sec01 .box1 {
    display: table;
    width: 100%;
  }
  #about #sec01 .box1 .photo {
    display: table-cell;
    width: 52%;
  }
  #about #sec01 .box1 .photo div {
    position: relative;
    left: -100px;
  }
  #about #sec01 .box1 .txt {
    display: table-cell;
    padding: 0 0 40px;
    vertical-align: bottom;
  }
  #about #sec01 .box2 .photo {
    float: right;
    width: 50%;
  }
  #about #sec01 .box2 .photo div {
    position: relative;
    right: -100px;
  }
  #about #sec01 .box2 .txt {
    float: left;
    width: 50%;
  }
}

#about #sec02 h3 + p {
  margin-bottom: 60px;
  font-size: 42px;
  color: #81c2bb;
  text-align: center;
}

#about #sec02 .step {
  margin-bottom: 50px;
}

#about #sec02 .step li + li {
  margin-top: 60px;
}

#about #sec02 .step .txt dl dt {
  margin-bottom: 40px;
}

#about #sec02 .step .txt dl dt span {
  display: inline-block;
  margin-right: 20px;
  font-size: 40px;
  color: #81c2bb;
  vertical-align: middle;
}

#about #sec02 .step .txt dl dt em {
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
}

#about #sec02 .step .txt dl dd {
  max-width: 660px;
  line-height: 2;
}

@media (min-width: 1025px) {
  #about #sec02 .step li {
    overflow: hidden;
  }
  #about #sec02 .step li .photo {
    float: left;
    width: 33%;
  }
  #about #sec02 .step li .photo div + div {
    margin-top: 20px;
  }
  #about #sec02 .step li .txt {
    float: right;
    width: 60%;
    padding: 20px 0 0;
  }
  #about #sec02 .list {
    overflow: hidden;
  }
  #about #sec02 .list li {
    float: left;
    width: 32%;
  }
  #about #sec02 .list li + li {
    margin-left: 2%;
  }
}

#about #sec03 {
  padding: 60px 0;
  background: #f9f9f9;
}

#about #sec03 .list li {
  padding: 40px;
  background: #ffffff;
}

#about #sec03 .list li + li {
  margin-top: 20px;
}

#about #sec03 .list li .box {
  margin-bottom: 20px;
}

#about #sec03 .list li .box + p {
  line-height: 2;
}

#about #sec03 .list li .txt dl dt {
  margin-bottom: 20px;
  font-size: 26px;
}

#about #sec03 .list li .txt dl dd {
  line-height: 3;
}

@media (min-width: 1025px) {
  #about #sec03 .list li .box {
    overflow: hidden;
  }
  #about #sec03 .list li .photo {
    float: left;
    width: 33%;
  }
  #about #sec03 .list li .txt {
    float: right;
    width: 63%;
  }
}

#about #sec04 {
  padding: 60px 0;
}

#about #sec04 h3 + p {
  margin-bottom: 60px;
  font-size: 42px;
  color: #81c2bb;
  text-align: center;
}

#about #sec04 .step {
  margin-bottom: 50px;
}

#about #sec04 .step li + li {
  margin-top: 60px;
}

#about #sec04 .step .txt dl dt {
  margin-bottom: 40px;
}

#about #sec04 .step .txt dl dt span {
  display: inline-block;
  margin-right: 20px;
  font-size: 40px;
  color: #81c2bb;
  vertical-align: middle;
}

#about #sec04 .step .txt dl dt em {
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
}

#about #sec04 .step .txt dl dd {
  max-width: 660px;
  line-height: 2;
}

#about #sec04 .step .txt dl dd p + p {
  margin-top: 20px;
}

@media (min-width: 1025px) {
  #about #sec04 .step li .photo {
    width: 33%;
  }
  #about #sec04 .step li .photo div + div {
    margin-top: 20px;
  }
  #about #sec04 .step li .txt {
    width: 60%;
    padding: 20px 0 0;
  }
  #about #sec04 .step .left .photo {
    float: left;
  }
  #about #sec04 .step .left .txt {
    float: right;
  }
  #about #sec04 .step .right .photo {
    float: right;
    margin-top: -200px;
  }
  #about #sec04 .step .right .txt {
    float: left;
  }
}

#about .case {
  padding: 60px 10px;
  text-align: center;
  background: #f9f9f9;
}

#about .case dt {
  position: relative;
  margin-bottom: 60px;
  font-size: 32px;
}

#about .case dt:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  width: 140px;
  height: 1px;
  margin: 0 auto;
  background: #000000;
}

#about .case dd a {
  text-decoration: underline;
}

/*////////////////////////////////////////////////////////////
	COMPANY
///////////////////////////////////////////////////////////*/
#company .kv .imgBox {
  background: url("../image/company/kv.png") center no-repeat;
  background-size: cover;
}

#company h2 {
  margin-bottom: 60px;
  text-align: center;
}

#company h2 em {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  color: #d4ab37;
}

#company h2 span {
  color: #528675;
}

#company h3 {
  margin-bottom: 60px;
  font-size: 25px;
  text-align: center;
}

#company #secTop {
  padding: 100px 0 80px;
}

#company .cntWrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

#company .infoBox {
  max-width: 1000px;
  margin: 0 auto 120px;
}

#company .infoBox dl {
  overflow: hidden;
}

#company .infoBox dl + dl {
  margin-top: 25px;
}

#company .infoBox dl dt {
  float: left;
  width: 28%;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

#company .infoBox dl dd {
  float: right;
  width: 70%;
  padding: 15px 40px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

#company .mapBox,
#company .viewBox {
  position: relative;
  overflow: hidden;
  height: 0;
}

#company .mapBox iframe,
#company .viewBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  padding: 0 20px;
}

#company .mapBox {
  margin-bottom: 80px;
  padding: 0 0 40%;
}

#company .viewBox {
  padding: 0 0 50%;
}

/*////////////////////////////////////////////////////////////
	CONTACT
///////////////////////////////////////////////////////////*/
#contact .kv .imgBox {
  background: url("../image/contact/kv.png") center no-repeat;
  background-size: cover;
}

#contact h2 {
  margin-bottom: 60px;
  text-align: center;
}

#contact h2 em {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  color: #d4ab37;
}

#contact h2 span {
  color: #528675;
}

#contact h2 + p {
  margin-bottom: 60px;
  font-size: 30px;
  color: #81c2bb;
  line-height: 2;
}

#contact h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-size: 25px;
  text-align: center;
}

#contact h3:before {
  content: '';
  position: absolute;
  top: 0;
  left: -800px;
  bottom: 0;
  width: 700px;
  height: 1px;
  margin: auto 0;
  background: #e5e5e5;
}

#contact h3:after {
  content: '';
  position: absolute;
  top: 0;
  right: -800px;
  bottom: 0;
  width: 700px;
  height: 1px;
  margin: auto 0;
  background: #e5e5e5;
}

#contact h3 + p {
  margin-bottom: 60px;
  line-height: 2;
}

#contact #secTop {
  padding: 100px 0 80px;
  text-align: center;
}

#contact .cntWrap {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

#contact #sec01 {
  margin-bottom: 120px;
}

#contact #sec01 .list {
  overflow: hidden;
  max-width: 1080px;
  margin: 0 auto;
}

#contact #sec01 .list li {
  float: left;
  width: calc((100% / 3) - 30px);
  text-align: center;
}

#contact #sec01 .list li + li {
  margin: 0 0 0 30px;
}

#contact #sec01 .list a {
  position: relative;
  display: block;
  padding: 40px 10px;
  border: 1px solid #000000;
  background: #f9f9f9;
}

#contact #sec01 .list a:after {
  content: '';
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 34px;
  height: 34px;
  background: url("../image/contact/catalog_arrow.png") center no-repeat;
  background-size: 34px auto;
}

#contact #sec01 .list em {
  display: inline-block;
  font-size: 30px;
}

#contact #sec01 .list span {
  display: block;
  max-width: 140px;
  margin: 15px auto 0;
  padding: 20px 0 0;
  font-size: 18px;
  color: #d4ab37;
  border-top: 1px solid #000000;
}

#contact #sec02 {
  margin-bottom: 100px;
}

#contact #sec02 .telBox {
  max-width: 720px;
  margin: 0 auto;
  padding: 30px 10px;
  background: #81c2bb;
}

#contact #sec02 .telBox .tel {
  display: inline-block;
  margin-right: 40px;
  color: #edea42;
  vertical-align: middle;
}

#contact #sec02 .telBox .tel span {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}

#contact #sec02 .telBox .tel a {
  font-size: 40px;
  color: #edea42;
}

#contact #sec02 .telBox .txt {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  vertical-align: middle;
}

#contact #entryForm .formBox {
  margin-bottom: 120px;
  text-align: left;
}

#contact #entryForm .formBox .ttl {
  margin-bottom: 20px;
  font-size: 32px;
  color: #81c2bb;
}

#contact #entryForm .formBox .ttl + p {
  margin-bottom: 20px;
}

#contact #entryForm .formBox .formList > li:nth-child(odd) {
  background: #f9f9f9;
}

#contact #entryForm .formBox .formList > li:nth-child(even) {
  background: #ffffff;
}

#contact #entryForm .formBox .formList > li .formTtl {
  line-height: 2;
}

#contact #entryForm .formBox .formList > li .formTtl p + p {
  margin-top: 20px;
}

#contact #entryForm .formBox .formList .address .formInput dl {
  display: table;
  width: 100%;
}

#contact #entryForm .formBox .formList .address .formInput dl + dl {
  margin-top: 10px;
}

#contact #entryForm .formBox .formList .address .formInput dl dt {
  display: table-cell;
  width: 120px;
}

#contact #entryForm .formBox .formList .address .formInput dl dd {
  display: table-cell;
}

#contact #entryForm .formBox .formList .address .formInput .postal input {
  width: 200px;
}

#contact #entryForm .formBox .formList .address .formInput .postal .bar {
  display: inline-block;
  padding: 0 10px;
}

@media (min-width: 1025px) {
  #contact #entryForm .formBox .formList > li {
    display: table;
    width: 100%;
    padding: 10px 0;
  }
  #contact #entryForm .formBox .formList > li .formTtl {
    display: table-cell;
    padding: 20px;
  }
  #contact #entryForm .formBox .formList > li .formInput {
    display: table-cell;
  }
  #contact #entryForm #customer .formList > li .formTtl {
    width: 20%;
    padding: 0 40px;
  }
  #contact #entryForm #estimate .formList > li {
    padding: 20px 0;
  }
  #contact #entryForm #estimate .formList > li .formTtl {
    width: 40%;
    vertical-align: top;
  }
  #contact #entryForm #estimate .formList > li .formInput {
    vertical-align: middle;
  }
  #contact #entryForm #estimate .formList > li textarea {
    height: 140px;
  }
  #contact #entryForm #estimate .formList .chair .formInput input {
    width: 190px;
  }
  #contact #entryForm #estimate .formList .chair .formInput .bar {
    display: inline-block;
    padding: 0 10px;
  }
  #contact #entryForm #other .formList .formTtl {
    width: 20%;
    vertical-align: top;
  }
}

#contact #entryForm .agreeBox {
  padding: 60px 10px;
  background: #f9f9f9;
}

#contact #entryForm .agreeBox .agreeTxt {
  overflow: scroll;
  max-width: 1200px;
  height: 340px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px dashed #7c7c7c;
  border-bottom: 1px dashed #7c7c7c;
}

#contact #entryForm .agreeBox .agreeTxt > div {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#contact #entryForm .agreeBox .agreeTxt > div p {
  line-height: 2;
}

#contact #entryForm .checkAgree {
  padding: 60px 10px;
}

/*////////////////////////////////////////////////////////////
	入力項目
///////////////////////////////////////////////////////////*/
/*オートコンプリートの背景色を取り除く*/
#entryForm .wpcf7-text:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

/*テキストボックス・メール・電話*/
#entryForm input[type="text"],
#entryForm input[type="email"],
#entryForm input[type="tel"],
#entryForm input[type="url"] {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #000000;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*テキストエリア*/
#entryForm textarea {
  width: 100%;
  height: 200px;
  padding: 15px 20px;
  font-size: 16px;
  border: 1px solid #000000;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#entryForm input[type="text"]:focus,
#entryForm input[type="email"]:focus,
#entryForm input[type="tel"]:focus,
#entryForm input[type="url"]:focus,
#entryForm textarea:focus {
  outline: 0;
  border: 1px solid #4C7DFF;
}

#entryForm input::-webkit-input-placeholder {
  color: #899AB1;
}

#entryForm input::-moz-placeholder {
  color: #899AB1;
}

#entryForm input:-ms-input-placeholder {
  color: #899AB1;
}

#entryForm textarea::-webkit-input-placeholder {
  color: #899AB1;
}

#entryForm textarea::-moz-placeholder {
  color: #899AB1;
}

#entryForm textarea:-ms-input-placeholder {
  color: #899AB1;
}

/*ファイルアップロード*/
#entryForm .fileForm .isValid + .isValid {
  margin-top: 15px;
}

#entryForm .upBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#entryForm .upBox .photoTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 0;
}

#entryForm .upBox .inputFile {
  width: 230px;
}

#entryForm .upBox .inputFile > div {
  position: relative;
  height: 60px;
  text-align: center;
  border: 1px solid #000000;
  background: #ffffff;
}

#entryForm .upBox .inputFile label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

#entryForm .upBox .inputFile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#entryForm .upBox .inputFile input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}

#entryForm .upBox .inputFile input[type="file"] + input {
  display: none;
}

#entryForm .upBox .inputFile .file-1 .wpcf7-not-valid-tip,
#entryForm .upBox .inputFile .file-2 .wpcf7-not-valid-tip,
#entryForm .upBox .inputFile .file-3 .wpcf7-not-valid-tip {
  left: auto;
  right: -240px;
}

#entryForm .upBox .filename {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 330px);
  margin-left: 15px;
  padding: 0 20px 0 0;
  font-size: 12px;
  color: #899AB1;
}

#entryForm .upBox .filename .delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 8px;
  margin: auto 0;
  cursor: pointer;
  background: url("../image/contact/icon_file_delete.png") no-repeat;
  background-size: 8px auto;
}

#entryForm .upBox .filename.changed .filetxt {
  color: #2F4057;
}

#entryForm .upBox .filename.changed .delete {
  display: block;
}

#entryForm .wpcf7-custom-item-error + .upBox {
  margin-top: 15px;
}

#entryForm input[type="submit"] {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 16px;
  border: 1px solid #000000;
  background: url("../image/common/link_btn_arrow.png") right 10px center no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*////////////////////////////////////////////////////////////
	BLOG
///////////////////////////////////////////////////////////*/
.blogMain {
  padding: 60px 10px 100px;
}

.blogMain h2 {
  margin-bottom: 60px;
  text-align: center;
}

.blogMain h2 em {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  color: #d4ab37;
}

.blogMain h2 span {
  color: #528675;
}

.blogMain .blogWrap {
  max-width: 1200px;
  margin: 0 auto;
}

.blogMain .sidebar {
  padding: 20px 30px 80px;
  text-align: center;
  background: #f9f9f9;
}

.blogMain .sidebar dl + dl {
  margin-top: 60px;
}

.blogMain .sidebar dl dt {
  margin-bottom: 20px;
  font-size: 18px;
}

.blogMain .sidebar dl dd ul li + li {
  margin-top: 10px;
}

.blogMain .sidebar dl dd ul li a {
  display: block;
  padding: 15px 0;
  border: 1px solid #000000;
  background: url("../image/blog/blog_side_arrow.png") right 10px center no-repeat #ffffff;
}

@media (min-width: 1025px) {
  .blogMain .blogWrap {
    overflow: hidden;
  }
  .blogMain .blogWrap .leftMain {
    float: left;
    width: calc(100% - 390px);
  }
  .blogMain .blogWrap .sidebar {
    float: right;
    width: 330px;
  }
}

.blogMain #listBox ul li {
  padding: 0 0 40px;
  border-bottom: 1px solid #000000;
}

.blogMain #listBox ul li + li {
  margin: 40px 0 0;
}

.blogMain #listBox ul li .txt .infoTtl {
  margin-bottom: 10px;
}

.blogMain #listBox ul li .txt .infoTtl time {
  display: inline-block;
  margin-right: 20px;
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  background: #000000;
}

.blogMain #listBox ul li .txt h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.blogMain #listBox ul li .txt h3 + p {
  line-height: 2;
}

@media (min-width: 1025px) {
  .blogMain #listBox ul li section {
    overflow: hidden;
  }
  .blogMain #listBox ul li .txt {
    float: left;
    width: 55%;
  }
  .blogMain #listBox ul li .photo {
    float: right;
    width: 40%;
  }
}

.blogMain #detailBox .infoTtl {
  margin-bottom: 10px;
}

.blogMain #detailBox .infoTtl time {
  display: inline-block;
  margin-right: 20px;
  padding: 0 10px;
  font-size: 14px;
  color: #ffffff;
  background: #000000;
}

.blogMain #detailBox h3 {
  margin-bottom: 40px;
  font-size: 26px;
}

/*////////////////////////////////////////////////////////////
	ページネーション
///////////////////////////////////////////////////////////*/
.pagination {
  list-style-type: none;
  padding-left: 0;
  margin: 40px 0 0;
}

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination li + li {
  margin-left: 5px;
}

.pagination a {
  padding-top: 1px;
  text-decoration: none;
  border-left-width: 0;
  min-width: 50px;
  min-height: 50px;
  color: #000000;
  border: 1px solid #000000;
}

.pagination li.current a {
  color: #ffffff;
  background: #000000;
}

.pagination li:first-of-type a {
  border-left-width: 1px;
}

.pagination li.first span,
.pagination li.last span,
.pagination li.previous span,
.pagination li.next span {
  /* screen readers only */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination li.first a::before,
.pagination li.last a::after,
.pagination li.previous a::before,
.pagination li.next a::after {
  display: inline-block;
  font-family: Fontawesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.pagination li.first a::before {
  content: "\f100";
}

.pagination li.last a::after {
  content: "\f101";
}

.pagination li.previous a::before {
  content: "\f104";
}

.pagination li.next a::after {
  content: "\f105";
}

.pagination li.current a {
  cursor: default;
  pointer-events: none;
}

.pagination > li:first-child > a {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

@media only screen and (max-width: 680px) {
  .pagination li.first,
  .pagination li.last {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .pagination li.previous a {
    border-left-width: 1px;
  }
}

@media only screen and (max-width: 500px) {
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .pagination a {
    min-width: 40px;
    min-height: 40px;
  }
  .pagination li.current,
  .pagination li.first,
  .pagination li.last,
  .pagination li.previous,
  .pagination li.next {
    position: initial;
    top: initial;
    left: initial;
  }
  .pagination li.previous a {
    border-left-width: 0;
  }
}

@media only screen and (max-width: 400px) {
  .pagination li.first,
  .pagination li.last {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .pagination li.previous a {
    border-left-width: 1px;
  }
}

@media only screen and (max-width: 240px) {
  /* For watches? */
  .pagination li {
    width: 50%;
  }
  .pagination li.current {
    order: 2;
    width: 100%;
    border-left-width: 1px;
  }
}

.pagination li.current + .next,
.pagination li.current + .next + .last {
  display: none;
}

.pagingBox {
  position: relative;
  margin: 60px 0 0;
  font-size: 16px;
}

.pagingBox .paging li {
  display: inline-block;
  text-align: center;
}

.pagingBox .paging .back,
.pagingBox .paging .next {
  width: 50px;
}

.pagingBox .paging .back a,
.pagingBox .paging .next a {
  display: block;
  color: #000000;
  line-height: 50px;
  border: 1px solid #000000;
}

.pagingBox .paging .backList {
  width: 200px;
  margin: 0 15px;
  background: #000000;
}

.pagingBox .paging .backList a {
  display: block;
  color: #ffffff;
  line-height: 50px;
}
