@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Zen Kaku Gothic Antique", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #101010;
  font-size: 16px;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2;
}

/*リンク */
a {
  color: #101010;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
.header .hamburger {
  cursor: pointer;
  display: none;
  position: fixed;
  top: 35px;
  right: 40px;
  width: 50px;
  height: 40px;
  z-index: 10000;
}
.header .hamburger .span {
  background: #000000;
  position: absolute;
  left: 50%;
  width: 30px;
  height: 2px;
  transform: translateX(-50%);
  transition: 0.4s;
}
.header .hamburger .span:nth-of-type(1) {
  top: 10px;
}
.header .hamburger .span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .hamburger .span:nth-of-type(3) {
  bottom: 10px;
}
.header .hamburger.is-open .span:nth-of-type(1) {
  transform: translate(-50%, 9px) rotate(-45deg);
}
.header .hamburger.is-open .span:nth-of-type(2) {
  opacity: 0;
}
.header .hamburger.is-open .span:nth-of-type(3) {
  transform: translate(-50%, -9px) rotate(45deg);
}

@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
  }
  .header .headWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .header .logo a {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .header .hamburger {
    display: block;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1101px) {
  .navBox .navList .ul {
    display: flex;
  }
  .navBox .navList .ul .li {
    margin: 0 0 0 15px;
  }
  .navBox .navList .ul .li a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
  }
  .navBox .navList .ul .recruit a {
    width: 160px;
    color: #ffffff;
    border-radius: 20px;
    background: #27a9b8;
  }
  .navBox .navList .ul .contact a {
    width: 160px;
    color: #ffffff;
    border-radius: 20px;
    background: #97ae51;
  }
}
@media (max-width: 1100px) {
  .navBox {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    text-align: center;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.6s;
    overflow: auto;
  }
  .navBox.active {
    top: 0;
  }
  .navBox .navList .ul .li a {
    padding: 10px;
    font-size: 15px;
  }
  .navBox .navList .ul .li.recruit a {
    color: #ffffff;
    background: #27a9b8;
  }
  .navBox .navList .ul .li.contact a {
    color: #ffffff;
    background: #97ae51;
  }
  .navBox .navList .ul a {
    display: block;
    padding: 5px 0;
  }
  .navBox .navList > .ul {
    border-top: 1px solid #373737;
  }
  .navBox .navList > .ul > .li {
    border-bottom: 1px solid #373737;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
}

.pageKvContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/page_kv_bg.png) no-repeat;
  background-size: cover;
}
.pageKvContainer .pageKvTitle {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;
}
.pageKvContainer .pageKvTitle h1 {
  font-size: 50px;
  font-weight: 900;
  color: #ffffff;
  line-height: 1;
}

.pageSecTtlBox {
  margin: 0 0 40px;
  text-align: center;
}
.pageSecTtlBox .sub {
  margin: 0 0 5px;
  font-family: "IM Fell French Canon SC", serif;
  font-size: 24px;
  font-weight: 400;
  color: #1e296f;
}
.pageSecTtlBox .pageSecTtl {
  font-size: 40px;
  font-weight: 900;
}

.secWrap {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMore {
  width: 180px;
}
.btnMore a {
  display: block;
  padding: 5px 10px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #101010;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 10px center no-repeat #ffffff;
  background-size: 8px auto;
}

.btnMoreDummy {
  width: 180px;
}
.btnMoreDummy p {
  display: block;
  padding: 5px 10px;
  font-weight: 900;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #101010;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right 10px center no-repeat #ffffff;
  background-size: 8px auto;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  padding: 60px 0;
  color: #ffffff;
  text-align: center;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/footer_contact_bg.png) no-repeat;
  background-size: cover;
}
.footer .footContact .pageSecTtlBox .sub {
  color: #ffffff;
}
.footer .footContact .txt {
  margin: 0 0 40px;
}
.footer .footContact .list {
  max-width: 880px;
  margin: 0 auto;
}
.footer .footContact .list .ul .li a {
  display: block;
}
.footer .footContact .list .ul .li a p {
  display: inline-block;
  line-height: 1;
}
.footer .footContact .list .ul .tel a {
  padding: 15px 20px;
  font-size: 40px;
  color: #27a9b8;
  background: #e0edee;
}
.footer .footContact .list .ul .tel a p {
  padding: 0 0 0 35px;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/footer_contact_tel.png) left bottom 5px no-repeat;
  background-size: 25px auto;
}
.footer .footContact .list .ul .contact a {
  padding: 32px 20px;
  font-size: 18px;
  color: #ffffff;
  background: #27a9b8;
}
.footer .footContact .list .ul .contact a p {
  padding: 0 0 0 35px;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/footer_contact_mail.png) left center no-repeat;
  background-size: 20px auto;
}
@media (min-width: 1025px) {
  .footer .footContact .list .ul {
    display: flex;
    justify-content: space-between;
  }
  .footer .footContact .list .ul .li {
    width: 48%;
  }
}
.footer .footPanel {
  padding: 60px 0 20px;
  background: #f5f5f4;
}
.footer .footPanel .secWrap01 {
  position: relative;
}
.footer .footPanel .logo {
  max-width: 300px;
  margin: 0 0 20px;
}
.footer .footPanel .txt {
  margin: 0 0 20px;
}
.footer .footPanel .txt a {
  display: inline-block;
}
.footer .footPanel .insta a {
  display: inline-block;
  width: 30px;
}
.footer .footPanel .btnPartner {
  position: absolute;
  right: 20px;
  bottom: 60px;
  width: 100%;
  max-width: 330px;
}
.footer .footPanel .btnPartner a {
  display: block;
  padding: 2px;
  color: #ffffff;
  text-align: center;
  background: #97ae51;
}
.footer .footPanel .btnPartner a div {
  padding: 20px;
  border: 1px solid #ffffff;
}
.footer .footPanel .btnPartner a div p {
  display: inline-block;
  padding: 0 0 0 50px;
  background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/footer_icon_partner.png) left center no-repeat;
  background-size: 40px auto;
}
.footer .footPanel .copy {
  margin: 10px 0 0;
  text-align: center;
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}