@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain .topKvContainer {
    position: relative;
  }
  .topMain .topKvContainer .topKv {
    position: relative;
    height: 400px;
  }
  .topMain .topKvContainer .topKvTitlePanel {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 20px 20px 0;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle01 {
    margin: 0 0 5px;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle01 h1 {
    font-size: 40px;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle02 {
    position: relative;
    top: 15px;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle02 .ttlBg + .ttlBg {
    margin: 3px 0 0;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle02 .ttlBg .inner {
    padding: 5px 10px;
  }
  .topMain .topKvContainer .topKvTitlePanel .topKvTitle02 .ttlBg p {
    font-size: 18px;
    white-space: normal;
    word-break: break-all;
  }
  .topMain .topKvContainer .topKvScroll {
    display: none;
  }
  .topMain .sec01 {
    padding: 60px 0;
  }
  .topMain .sec02 .secPanel {
    padding: 50px 0;
    height: auto;
  }
  .topMain .sec02 .listBox .ul .li {
    text-align: center;
  }
  .topMain .sec02 .listBox .ul .ttl {
    font-size: 34px;
  }
  .topMain .sec02 .listBox .ul .box .btnMoreDummy {
    margin: 0 auto;
  }
  .topMain .sec03 {
    padding: 100px 0;
  }
  .topMain .sec03 .secPanel .ttlBox {
    text-align: center;
  }
  .topMain .sec03 .secPanel .ttlBox .pageSecTtlBox .sub {
    color: #b5b9d2;
  }
  .topMain .sec03 .secPanel .ttlBox .pageSecTtlBox .pageSecTtl {
    color: #ffffff;
  }
  .topMain .sec03 .secPanel .blogContainer .webgene-blog .webgene-item + .webgene-item {
    margin: 40px 0 0;
  }
  .topMain .sec03 .btnMore {
    margin: 40px auto 0;
  }
  .topMain .sec04 {
    padding: 100px 0;
  }
  .topMain .sec04 .ttl {
    font-size: 80px;
  }
  .topMain .sec04 .itemList {
    position: relative;
    top: -20px;
    max-width: 600px;
    margin: 0 auto;
  }
  .topMain .sec04 .itemList .itemBox + .itemBox {
    margin: 20px 0 0;
  }
  .topMain .sec04 .itemList .itemBox .dl .dt {
    max-width: 320px;
    margin: 0 auto 20px;
    padding: 0 0 5px;
    font-size: 30px;
  }
  .topMain .sec04 .itemList .itemBox .dl .more {
    width: 220px;
  }
}
/*////////////////////////////////////////////////////////////
	reason
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .reasonMain .sec01 {
    padding: 60px 0;
  }
  .reasonMain .sec01 .secPanel .photo {
    max-width: 500px;
    margin: 0 auto 20px;
  }
  .reasonMain .sec01 .secPanel .secTtl {
    margin: 0 0 15px;
    padding: 0 20px;
    font-size: 24px;
  }
  .reasonMain .sec01 .secPanel .txtBox {
    padding: 20px;
  }
  .reasonMain .sec01 .secPanel .txtBox .txt {
    max-width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .reasonMain .sec01 .secPanel .photo {
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 45%;
  }
  .reasonMain .sec01 .secPanel .txtBox {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .reasonMain .sec02 {
    padding: 60px 0;
  }
  .reasonMain .sec02 .secBox + .secBox {
    margin: 40px 0 0;
  }
  .reasonMain .sec02 .secBox .txtBox {
    padding: 15px 0 0;
  }
  .reasonMain .sec02 .secBox .txtBox .ttl {
    margin: 0 0 15px;
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .reasonMain .secBottom {
    padding: 60px 0;
  }
  .reasonMain .secBottom .secBox .message p {
    font-size: 18px;
  }
  .reasonMain .secBottom .secBox .message .em {
    color: #97ae51;
  }
}
/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain .sec01 {
    padding: 60px 0;
  }
  .serviceMain .sec01 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox {
    margin: 0 0 15px;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox .ttl01 p {
    font-size: 30px;
  }
  .serviceMain .sec01 .secBox .txtBox .ttlBox .ttl02 {
    font-size: 18px;
  }
  .serviceMain .sec02 {
    padding: 0 0 60px;
  }
  .serviceMain .sec02 .secBox + .secBox {
    margin: 20px 0 0;
  }
  .serviceMain .sec02 .secBox .ttlBox {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #000000;
  }
  .serviceMain .sec02 .secBox .ttlBox .ttl {
    font-size: 20px;
  }
  .serviceMain .slidePanel {
    padding: 60px 0 0;
  }
  .serviceMain .slidePanel .slideBox .ul .li {
    width: 50%;
  }
  .serviceMain .secPartner {
    padding: 0 0 60px;
  }
  .serviceMain .secPartner .partnerPanel a {
    padding: 30px 20px;
  }
  .serviceMain .secPartner .partnerPanel a:after {
    content: "";
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 15px;
    height: 15px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/service_partner_arrow.png) no-repeat;
    background-size: 15px auto;
  }
  .serviceMain .secPartner .partnerPanel .ttl {
    max-width: 300px;
    margin: 0 0 20px;
  }
}
/*////////////////////////////////////////////////////////////
	flow
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .flowMain .sec01 {
    padding: 60px 0;
  }
  .flowMain .sec01 .topTxt {
    margin: 0 0 40px;
  }
  .flowMain .sec01 .secPanel {
    padding: 0 20px 30px;
  }
  .flowMain .sec01 .secPanel .pTtl .step {
    width: 50px;
    margin: 0 10px 0 0;
  }
  .flowMain .sec01 .secPanel .pTtl .step .span {
    font-size: 16px;
  }
  .flowMain .sec01 .secPanel .pTtl .step .em {
    font-size: 20px;
  }
  .flowMain .sec01 .secPanel .pTtl .ttl {
    font-size: 24px;
  }
  .flowMain .sec01 .secPanel .txt {
    padding: 0;
  }
  .flowMain .sec01 .secPanel .contactPanel .ttl {
    font-size: 18px;
  }
  .flowMain .sec01 .secPanel .contactPanel .list {
    max-width: 400px;
    margin: 0 auto;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .li {
    margin: 5px 0;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .tel a {
    padding: 11px 20px;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .tel a .em {
    padding: 0 0 0 25px;
    font-size: 34px;
    color: #27a9b8;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_tel.png) left bottom 5px no-repeat;
    background-size: 20px auto;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .contact a .span {
    margin: 0 0 5px;
    font-size: 16px;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .contact a .em {
    padding: 0 0 0 25px;
    font-size: 20px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_mail.png) left center no-repeat;
    background-size: 20px auto;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .line a .span {
    margin: 0 0 5px;
    font-size: 16px;
  }
  .flowMain .sec01 .secPanel .contactPanel .list .ul .line a .em {
    padding: 0 0 0 25px;
    font-size: 20px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_line.png) left center no-repeat;
    background-size: 20px auto;
  }
  .flowMain .sec01 .secPanel .secBox .txtBox {
    padding: 20px 0 0;
  }
  .flowMain .sec01 .secPanel .point .dl .dt {
    padding: 0 0 0 40px;
    font-size: 22px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/flow_point_icon.png) left 5px center no-repeat;
    background-size: 30px auto;
  }
  .flowMain .sec01 .arrow {
    width: 40px;
    margin: 20px auto;
  }
}
/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .recruitMain .topSection .secWrap {
    height: 400px;
  }
  .recruitMain .topSection .titleBox {
    right: 10px;
    bottom: 30px;
  }
  .recruitMain .topSection .titleBox .title01 {
    font-size: 40px;
    line-height: 1.2;
  }
  .recruitMain .topSection .titleBox .title02 {
    margin: 10px 0 0;
    font-size: 20px;
  }
  .recruitMain .sec01 {
    padding: 60px 0;
  }
  .recruitMain .sec01 .txt p + p {
    margin: 30px 0 0;
  }
  .recruitMain .sec01 .name {
    margin: 40px 0 0;
  }
  .recruitMain .sec01 .name .em {
    font-size: 22px;
  }
  .recruitMain .sec02 {
    padding: 60px 0;
  }
  .recruitMain .sec02 .listBox {
    max-width: 380px;
    margin: 0 auto;
  }
  .recruitMain .sec02 .listBox .ul .li {
    padding: 15px;
  }
  .recruitMain .sec02 .listBox .ul .li + .li {
    margin: 20px 0 0;
  }
  .recruitMain .sec02 .listBox .ul .dl .dt {
    font-size: 20px;
  }
  .recruitMain .sec02 .more {
    width: 220px;
    margin: 40px auto 0;
  }
  .recruitMain .sec03 {
    padding: 60px 0;
  }
  .recruitMain .sec03 .infoBox .dl .dt {
    padding: 10px 20px;
  }
  .recruitMain .sec03 .infoBox .dl .dd {
    padding: 10px 20px;
  }
  .recruitMain .sec04 {
    padding: 60px 0;
  }
  .recruitMain .sec05 {
    padding: 60px 0;
  }
  .recruitMain .sec05 .secPanel {
    padding: 30px 20px;
  }
  .recruitMain .sec05 .secBoxList {
    max-width: 600px;
  }
  .recruitMain .sec05 .secBox {
    padding: 15px;
  }
  .recruitMain .sec05 .secBox .ttl {
    margin: 0 0 15px;
    font-size: 24px;
  }
  .recruitMain .sec05 .secBox01 {
    margin: 0 0 20px;
  }
  .recruitMain .sec05 .secBox01 .tel a {
    padding: 0;
  }
  .recruitMain .sec05 .secBox01 .tel a .em {
    padding: 0 0 0 25px;
    font-size: 34px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_tel_icon.png) left bottom 12px no-repeat;
    background-size: 20px auto;
  }
  .recruitMain .sec05 .secBox02 .qrBox {
    max-width: 340px;
    margin: 20px auto 0;
  }
  .recruitMain .sec05 .secBox02 .qrBox .ttlBox {
    margin: 0 0 15px;
  }
  .recruitMain .sec05 .secBox02 .qrBox .ttlBox .ttl {
    width: 160px;
    margin: 0 auto;
  }
  .recruitMain .sec05 .secBox02 .qrBox .qr {
    width: 100px;
    margin: 0 auto;
  }
}
/*////////////////////////////////////////////////////////////
	job
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .jobMain .sec01 {
    padding: 60px 0;
  }
  .jobMain .sec01 .messageBox {
    margin: 0 0 40px;
  }
  .jobMain .sec01 .messageBox p {
    font-size: 18px;
  }
  .jobMain .sec01 .aboutTtl {
    margin: 0 0 20px;
    padding: 5px 20px;
    font-size: 20px;
  }
  .jobMain .sec01 .aboutPanel {
    margin: 0 0 40px;
  }
  .jobMain .sec01 .aboutPanel .pTtl {
    margin: 0 0 20px;
    padding: 10px 20px;
    font-size: 18px;
  }
  .jobMain .sec01 .aboutPanel .secBox .txtBox {
    padding: 20px 0 0;
  }
  .jobMain .sec01 .wantedPanel .pTtl > * {
    font-size: 18px;
  }
  .jobMain .sec01 .wantedPanel .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .jobMain .sec01 .wantedPanel .listBox .ul .dl .dt {
    font-size: 18px;
  }
  .jobMain .sec02 {
    padding: 60px 0;
  }
  .jobMain .sec02 .secContainer .leftPanel::before {
    left: 30px;
    height: calc(100% - 100px);
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox .timeBox {
    width: 60px;
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox .timeBox .time {
    width: 60px;
    height: 60px;
    color: #ffffff;
    border-radius: 50%;
    background: #97ae51;
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox .dl {
    width: calc(100% - 70px);
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox .dl .dt {
    padding: 0 10px 5px;
    font-size: 20px;
  }
  .jobMain .sec02 .secContainer .leftPanel .secBox .dl .dd {
    padding: 5px 10px;
  }
  .jobMain .sec02 .secContainer .rightPanel {
    margin: 30px 0 0;
  }
  .jobMain .sec02 .secContainer .rightPanel .ul .li + .li {
    margin: 20px 0 0;
  }
  .jobMain .secBottom {
    padding: 60px 0;
  }
  .jobMain .secBottom .secBox .message p {
    font-size: 18px;
  }
  .jobMain .secBottom .secBox .message .em {
    color: #97ae51;
  }
}
/*////////////////////////////////////////////////////////////
	partner
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .partnerMain .topSection {
    padding: 50px 0 80px;
  }
  .partnerMain .topSection .listBox {
    margin: 0 0 40px;
    padding: 30px 20px;
  }
  .partnerMain .topSection .listBox .ul .li {
    padding: 0 0 0 30px;
    font-size: 18px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/partner_check.png) left center no-repeat;
    background-size: 20px auto;
  }
  .partnerMain .topSection .listBox .ul .li + .li {
    margin: 15px 0 0;
  }
  .partnerMain .topSection .messageBox p {
    font-size: 20px;
  }
  .partnerMain .sec01 {
    padding: 40px 0 60px;
  }
  .partnerMain .sec01 .list {
    max-width: 360px;
    margin: 0 auto;
  }
  .partnerMain .sec01 .list .ul .li + .li {
    margin: 30px 0 0;
  }
  .partnerMain .sec01 .list .ul .li .inner {
    top: 5px;
    left: 5px;
  }
  .partnerMain .sec01 .list .ul .li p {
    font-size: 20px;
  }
  .partnerMain .sec02 {
    padding: 60px 0 140px;
  }
  .partnerMain .sec02 .secPanel .secBoxList {
    margin: 0 0 20px;
  }
  .partnerMain .sec02 .secPanel .secBoxList .secBox {
    padding: 20px;
  }
  .partnerMain .sec02 .secPanel .secBoxList .secBox .dl .dt {
    margin: 0 0 5px;
    font-size: 20px;
    border-bottom: 1px solid #000000;
  }
  .partnerMain .sec02 .secPanel .photoList {
    max-width: 550px;
    margin: 0 auto;
  }
  .partnerMain .sec02 .secPanel .photoList .photo01 {
    position: relative;
    max-width: 280px;
    width: 60%;
  }
  .partnerMain .sec02 .secPanel .photoList .photo02 {
    position: absolute;
    left: -20px;
    bottom: -40px;
    max-width: 360px;
    width: 60%;
  }
}
@media (max-width: 1024px) and (min-width: 1025px) {
  .partnerMain .sec02 .secPanel {
    display: flex;
    justify-content: space-between;
  }
  .partnerMain .sec02 .secPanel .secBoxList {
    width: 70%;
  }
  .partnerMain .sec02 .secPanel .secBoxList .secBox .dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .partnerMain .sec02 .secPanel .secBoxList .secBox .dl .dt {
    width: 260px;
    border-right: 1px solid #000000;
  }
  .partnerMain .sec02 .secPanel .secBoxList .secBox .dl .dd {
    width: calc(100% - 280px);
  }
  .partnerMain .sec02 .secPanel .photoList {
    width: 30%;
  }
}
@media (max-width: 1024px) {
  .partnerMain .secBottom {
    padding: 60px 0;
  }
  .partnerMain .secBottom .secBox .message p {
    font-size: 18px;
  }
  .partnerMain .secBottom .secBox .message .em {
    color: #97ae51;
  }
}
/*////////////////////////////////////////////////////////////
	company
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .companyMain .sec01 .mainPanel {
    padding: 60px 0;
  }
  .companyMain .sec01 .mainPanel .txt p + p {
    margin: 20px 0 0;
  }
  .companyMain .sec01 .subPanel {
    padding: 50px 0 80px;
  }
  .companyMain .sec01 .subPanel .pTtl > * {
    padding: 0 15px 0 0;
    font-size: 30px;
  }
  .companyMain .sec01 .subPanel .dl .dt {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #000000;
  }
  .companyMain .sec01 .subPanel .dl .dt .em {
    font-size: 24px;
  }
  .companyMain .sec01 .subPanel .dl .dd {
    line-height: 2;
  }
  .companyMain .sec02 .infoBox .dl .dt {
    padding: 10px 20px;
  }
  .companyMain .sec02 .infoBox .dl .dd {
    padding: 10px 20px;
  }
}
/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain .sec01 {
    padding: 40px 0 60px;
  }
  .contactMain .sec02 {
    padding: 0 0 60px;
  }
  .contactMain .sec02 .secBox .box {
    padding: 15px;
  }
  .contactMain .sec02 .secBox01 {
    margin: 0 0 20px;
  }
  .contactMain .sec02 .secBox01 .tel a {
    padding: 0;
  }
  .contactMain .sec02 .secBox01 .tel a .em {
    padding: 0 0 0 25px;
    font-size: 34px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/recruit_tel_icon.png) left bottom 12px no-repeat;
    background-size: 20px auto;
  }
  .contactMain .sec02 .secBox02 .qrBox {
    max-width: 550px;
    margin: 0 auto;
  }
  .contactMain .sec02 .secBox02 .qrBox .ttlBox {
    margin: 0 0 15px;
    text-align: center;
  }
  .contactMain .sec02 .secBox02 .qrBox .ttlBox p {
    max-width: 100%;
  }
  .contactMain .sec02 .secBox02 .qrBox .qr {
    width: 100px;
    margin: 0 auto;
  }
}
/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain .contactForm .formBox + .formBox {
    margin-top: 40px;
  }
  .formMain .contactForm .formBox h3 {
    margin-bottom: 0;
    font-size: 18px;
  }
  .formMain .contactForm .formBox > .dl {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl.line .dt {
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl > .dt {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .formMain .contactForm .formBox > .dl > .dt::before {
    width: 100%;
  }
  .formMain .contactForm .formBox > .dl > .dt .span {
    width: auto;
    margin-right: 10px;
    font-size: 15px;
  }
  .formMain .contactForm .formBox > .dl > .dt .span br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dt .em {
    font-size: 12px;
    vertical-align: middle;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside {
    margin-top: 5px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p {
    font-size: 12px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dd {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .otherTtl {
    padding: 20px 10px 5px;
  }
  .formMain .contactForm .formBox .otherRadio .dt {
    text-align: left;
  }
  .formMain .contactForm .formBox .radioList01 {
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .radioList01 .list {
    display: block;
    margin: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list + .list {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li {
    display: block;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li + .li {
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem {
    display: inline-block;
    padding: 0 5px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem + input {
    display: inline-block;
    width: 150px;
  }
  .formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
    display: block;
  }
  .formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
    display: block;
  }
  .formMain .contactForm .formBox .dateBox input[type=text] {
    width: 70px;
  }
  .formMain .contactForm .formBox .dateBox .radioList {
    display: block;
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .selectBox {
    width: 180px;
  }
  .formMain .contactForm .formBox .privacy .agreeBox {
    height: 250px;
    padding: 20px 10px;
  }
  .formMain .contactForm .fileUploadPanel {
    padding: 20px 0;
  }
  .formMain .contactForm .fileUploadBox {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileBox {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .fileArea {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .fileArea .inputFile {
    width: 200px;
  }
  .formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
    width: 100%;
    margin: 10px 0 0;
  }
  .formMain .contactForm .fileUploadTitleBox {
    margin: 40px 0 20px;
  }
  .formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
    padding: 0 15px 0 0;
    font-size: 20px;
  }
}
/*////////////////////////////////////////////////////////////
	works
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .worksMain .catePanel {
    padding: 0 0 50px;
  }
  .worksMain .catePanel .webgene-blog .webgene-item {
    display: block;
    width: 180px;
    margin: 0 auto 10px;
  }
  .worksMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -10px;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(50% - 10px);
    margin: 40px 0 0 10px;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 0;
    margin: 0 0 10px;
    padding: 0 0 80%;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .title {
    min-height: 0;
    margin: 0;
  }
  .worksMain .blogPanel--list .webgene-blog .webgene-item .more p {
    padding: 5px 0;
    font-size: 12px;
    background: url(https://s-9897018.smooooth.jp/system_panel/uploads/images/works_more_arrow.png) right 2px center no-repeat;
    background-size: 15px auto;
  }
  .worksMain .blogPanel--list .webgene-pagination {
    margin: 60px auto 0;
  }
  .worksMain .blogPanel--detail .webgene-blog .ttlBox {
    font-size: 20px;
  }
  .worksMain .blogPanel--detail .webgene-blog .slickSlide {
    margin: 0 0 40px;
  }
  .worksMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
    padding: 0 0 70%;
  }
  .worksMain .blogPanel--detail .webgene-blog .thumb-item.slider .li > div {
    overflow: hidden;
    position: relative;
    padding: 0 0 100%;
  }
  .worksMain .blogPanel--detail .webgene-blog .thumb-item.slider .li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .worksMain .blogPanel--detail .webgene-blog .slick-prev {
    left: -20px;
  }
  .worksMain .blogPanel--detail .webgene-blog .slick-next {
    right: -20px;
  }
  .worksMain .btnBackBox {
    margin: 50px 0 0;
  }
  .worksMain .btnBack {
    margin: 40px auto 0;
  }
}