@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #101211;
  font-size: 16px;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2;
}

/*リンク */
a {
  color: #101211;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1140px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 60px;
  z-index: 999;
}
.header .headWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 260px;
}
.header .logo a {
  display: block;
}
.header .headTitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.header .headItem ul {
  display: flex;
}
.header .headItem ul li + li {
  margin: 0 0 0 25px;
}
.header .headItem ul li a {
  display: block;
}
.header .headItem ul .insta {
  width: 30px;
}
.header .headItem ul .line {
  width: 30px;
}
.header .headItem ul .youtube {
  width: 35px;
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
main {
  overflow: hidden;
}

.secWrap {
  max-width: 1800px;
  margin: 0 auto;
}

.secWrap01 {
  max-width: 1600px;
  margin: 0 auto;
}

.secWrap02 {
  max-width: 1280px;
  margin: 0 auto;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  padding: 200px 20px 80px;
  color: #ffffff;
  background: #000000;
}
.footer .logoBox {
  max-width: 815px;
  margin: 0 auto 120px;
}
.footer .logoBox .sub {
  max-width: 515px;
  margin: 30px auto 0;
}
.footer .footBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footBox .left {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.footer .footBox .left .copy {
  margin: 0 80px 0 0;
}
.footer .footBox .left .privacy a {
  color: #ffffff;
  text-decoration: underline;
}
.footer .footBox .right ul {
  display: flex;
}
.footer .footBox .right ul li + li {
  margin: 0 0 0 25px;
}
.footer .footBox .right ul li a {
  display: block;
}
.footer .footBox .right ul .insta {
  width: 30px;
}
.footer .footBox .right ul .line {
  width: 30px;
}
.footer .footBox .right ul .youtube {
  width: 35px;
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}