@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvContainer {
    position: relative;
    height: 800px;
    padding: 140px 20px 120px;
    background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv.png)
      center no-repeat;
    background-size: cover;
    .topKvPanel {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
    }
    .kvTitle {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 50px;
      color: #ffffff;
      text-align: right;
    }
    .kvBoxList {
      text-align: center;
      .kvBox01 {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        border: 8px solid #f61c24;
        background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_circle_bg_01.png)
          center no-repeat #ffffff;
        background-size: cover;
        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        .txt01 {
          font-size: 20px;
        }
        .txt02 {
          margin: 20px 0 40px;
          font-size: 0;
          .marker {
            display: inline-block;
            vertical-align: top;
            p {
              background: linear-gradient(transparent 60%, #ec1f27 60%);
            }
          }
          .span {
            display: inline-block;
            vertical-align: top;
          }
          p {
            display: inline;
            font-size: 50px;
          }
        }
        .click {
          display: inline-block;
          padding: 0 0 60px;
          font-size: 24px;
          background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_arrow_01.png)
            center bottom 15px no-repeat;
          background-size: 50px auto;
          transition: 0.6s;
        }
      }
      .kvBox02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        padding: 50px 0 0;
        cursor: pointer;
        border-radius: 50%;
        border: 8px solid #f61c24;
        background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_circle_bg_02.png)
          center no-repeat #ffffff;
        background-size: cover;
        .txt01 {
          margin: 0 0 30px;
          font-size: 24px;
        }
        .click {
          display: inline-block;
          padding: 0 0 40px;
          font-size: 20px;
          background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_arrow_02.png)
            center bottom 15px no-repeat;
          background-size: 40px auto;
          transition: 0.6s;
        }
      }
    }
    @media (min-width: 1025px) {
      .kvBoxList {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .kvBox01 {
          a {
            &:hover {
              color: #131313;
              opacity: 1;
              .click {
                background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_arrow_01.png)
                  center bottom no-repeat;
                background-size: 50px auto;
              }
            }
          }
        }
        .kvBox02 {
          &:hover {
            .click {
              background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_kv_arrow_02.png)
                center bottom no-repeat;
              background-size: 40px auto;
            }
          }
        }
      }
    }
  }
  .sec01 {
    padding: 100px 0 50px;
    .secWrap01 {
      position: relative;
    }
    .secTtlBox {
      position: relative;
      padding: 0 0 0 40px;
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 20px;
        height: 20px;
        background: #ec1f27;
      }
      .secTtl {
        font-size: 36px;
        .sub {
          font-size: 13px;
        }
      }
    }
    .secBox {
      .ttl {
        font-size: 30px;
      }
      .txt {
        font-size: 20px;
        p + p {
          margin: 20px 0 0;
        }
      }
    }
    @media (min-width: 1025px) {
      .secTtlBox {
        position: absolute;
        top: 0;
        right: 0;
      }
      .secBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ttl {
          width: 60px;
          writing-mode: vertical-lr;
        }
        .txt {
          width: calc(100% - 180px);
          padding: 140px 60px 0 0;
        }
      }
    }
  }
  .sec02 {
    padding: 60px 0;
    background: #f5f4f5;
    .topBox {
      margin: 0 0 20px;
      text-align: center;
      .ttl {
        margin: 0 0 15px;
        font-size: 30px;
      }
      .txt {
        font-size: 20px;
      }
    }
    .listBox {
      margin: 0 0 40px;
      .ul {
        .dl {
          padding: 15px 0 0;
          .dt {
            margin: 0 0 10px;
            font-size: 24px;
            text-align: center;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 60px);
          }
        }
      }
    }
    .btnMore {
      margin: 0 auto;
    }
  }
  .sec03 {
    padding: 120px 0;
    background: #f5f4f5;
    .secWrap01 {
      position: relative;
    }
    .secPanel {
      .ttlBox {
        .secTtlBox {
          position: relative;
          padding: 0 0 0 40px;
          &::before {
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            width: 20px;
            height: 20px;
            background: #ec1f27;
          }
          .secTtl {
            font-size: 36px;
            .sub {
              font-size: 13px;
            }
          }
        }
      }
      .blogContainer {
        .webgene-blog {
          .webgene-header {
            display: none;
          }
          .webgene-item {
            a {
              display: block;
            }
            .txtBox {
              padding: 10px 0;
            }
          }
        }
        @media (min-width: 1025px) {
          .webgene-blog {
            display: flex;
            margin: 0 0 0 -50px;
            .webgene-item {
              width: calc((100% / 3) - 50px);
              margin: 0 0 0 50px;
              .photo {
                position: relative;
                height: 265px;
                img {
                  @include cover-image;
                }
              }
            }
          }
        }
      }
    }
    .btnMore {
      width: 180px;
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .ttlBox {
          width: 200px;
        }
        .blogContainer {
          width: calc(100% - 300px);
        }
      }
      .btnMore {
        position: absolute;
        left: 30px;
        bottom: 60px;
      }
    }
  }
  .sec04 {
    padding: 60px 0;
    .secBox {
      padding: 0 0 100px;
      .infoBox {
        .dl {
          line-height: 2;
          .dt {
            padding: 15px 20px;
            border-bottom: 1px solid #c1272d;
          }
          .dd {
            padding: 15px 20px;
            border-bottom: 1px solid #3c3c3c;
            a {
              display: inline-block;
            }
            p + p {
              margin: 20px 0 0;
            }
          }
        }
        @media (min-width: 1025px) {
          .dl {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            .dt {
              width: 220px;
            }
            .dd {
              width: calc(100% - 222px);
            }
          }
        }
      }
      .photoBox {
        .photo {
          + .photo {
            margin: 20px 0 0;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .txtBox {
          width: 50%;
        }
        .photoBox {
          width: 45%;
        }
      }
    }
  }
  .sec05 {
    padding: 60px 0;
    .secTtlBox {
      position: relative;
      margin: 0 0 40px;
      padding: 0 0 0 40px;
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 20px;
        height: 20px;
        background: #ec1f27;
      }
      .secTtl {
        font-size: 36px;
        .sub {
          font-size: 13px;
        }
      }
    }
    .secBox01 {
      margin: 0 0 30px;
      .txtBox {
        .ttlBox {
          margin: 0 0 10px;
          .ttl01 {
            font-size: 20px;
          }
          .ttl02 {
            font-size: 30px;
          }
        }
        .date {
          display: inline-block;
          margin: 0 0 10px;
          padding: 5px 10px;
          font-size: 20px;
          color: #ffffff;
          background: #ec1f27;
        }
        .txt {
          a {
            display: inline-block;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox01 {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 45%;
        }
        .txtBox {
          width: 50%;
        }
      }
    }
    .secBox02 {
      .leftBox {
        .itemBox {
          padding: 40px 20px 35px;
          text-align: center;
          background: #71090d;
          .dl {
            .dt {
              display: inline-block;
              padding: 0 40px;
              font-size: 24px;
              color: #f5f4f5;
              text-align: center;
              background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_sec05_ttl_icon_01.png)
                  left center no-repeat,
                url(https://s-9907814.smooooth.jp/system_panel/uploads/images/top_sec05_ttl_icon_02.png)
                  right center no-repeat;
              background-size: 30px auto, 30px auto;
            }
            .dd {
              margin: 50px 0 0;
              .btnMore {
                margin: 0 auto;
              }
            }
          }
        }
      }
      .rightBox {
        .qrBox {
          max-width: 550px;
          padding: 20px;
          border: 1px solid #800a0f;
          .ttl {
            margin: 0 0 15px;
            font-size: 24px;
            text-align: center;
          }
          .box {
            max-width: 450px;
            margin: 0 auto;
            .qr {
              width: 120px;
              a {
                display: block;
              }
            }
            .txt {
              line-height: 1.5;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox02 {
        display: flex;
        justify-content: space-between;
        .leftBox {
          width: 44%;
          .itemList {
            display: flex;
            justify-content: space-between;
          }
          .itemBox {
            width: 48%;
          }
        }
        .rightBox {
          width: 52%;
          .qrBox {
            .box {
              display: flex;
              justify-content: space-between;
              flex-direction: row-reverse;
              .txt {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain {
  .sec01 {
    .secContainer01 {
      padding: 60px 0;
      .txtBox {
        margin: 0 0 20px;
        padding: 10px 50px;
        background: #f5f4f5;
        .txt {
          font-size: 20px;
        }
      }
      .message {
        padding: 5px 10px;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        background: #931318;
      }
    }
    .secContainer02 {
      padding: 60px 0;
      .topTxt {
        margin: 0 0 30px;
        font-size: 20px;
        text-align: center;
      }
      .listBox {
        .ul {
          .dl {
            padding: 15px 0 0;
            .dt {
              margin: 0 0 10px;
              font-size: 24px;
              text-align: center;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 3) - 60px);
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    .secPanel01 {
      margin: 0 0 60px;
      .secBox {
        padding: 40px 0;
        font-size: 20px;
        border-bottom: 1px solid #3c3c3c;
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ttlBox {
            width: 340px;
            padding: 0 10px 0 30px;
          }
          .txtBox {
            width: calc(100% - 340px);
            padding: 0 0 0 30px;
            border-left: 1px solid #c1272d;
          }
        }
      }
    }
    .secPanel02 {
      .ttlBox {
        margin: 0 0 30px;
        text-align: center;
        .ttl {
          display: inline-block;
          padding: 0 40px;
          font-size: 24px;
          text-align: center;
          background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/service_sec02_ttl_icon_01.png)
              left center no-repeat,
            url(https://s-9907814.smooooth.jp/system_panel/uploads/images/service_sec02_ttl_icon_02.png)
              right center no-repeat;
          background-size: 30px auto, 30px auto;
        }
      }
      .txtBox01 {
        margin: 0 0 20px;
        font-size: 20px;
      }
      .txtBox02 {
        padding: 30px;
        font-size: 20px;
        border: 1px solid #800a0f;
        background: #f5f4f5;
      }
    }
  }
  .sec03 {
    padding: 120px 0;
    background: #f5f4f5;
    .secPanel {
      position: relative;
      padding: 30px 40px;
      border: 1px solid #868686;
      background: #ffffff;
      .step {
        position: absolute;
        top: -25px;
        left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
          "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        color: #f5f4f5;
        text-align: center;
        line-height: 1.1;
        background: #3c3c3c;
        .span {
          font-size: 14px;
        }
        .em {
          font-size: 20px;
        }
      }
      .secTtl {
        margin: 0 0 20px;
        padding: 0 50px 5px;
        font-size: 30px;
        border-bottom: 1px solid #3c3c3c;
      }
    }
    .arrow {
      width: 50px;
      margin: 0 auto;
      + .secPanel {
        margin: 50px 0 0;
      }
    }
    .contactItem {
      max-width: 700px;
      margin: 20px auto 0;
      .itemBox {
        padding: 15px 0;
        color: #f5f4f5;
        text-align: center;
        background: #6f090d;
        .ttl {
          margin: 0 0 5px;
          font-size: 20px;
        }
        .tel {
          a {
            display: inline-block;
            padding: 0 0 0 25px;
            font-size: 30px;
            color: #f5f4f5;
            background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/footer_contact_tel.png)
              left center no-repeat;
            background-size: 20px auto;
          }
        }
        .btnContact {
          max-width: 260px;
          margin: 0 auto;
          a {
            display: block;
            padding: 15px;
            color: #f5f4f5;
            text-align: center;
            background: #931318;
            p {
              display: inline-block;
              padding: 0 0 0 25px;
              font-size: 15px;
              color: #f5f4f5;
              background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/footer_contact_mail.png)
                left center no-repeat;
              background-size: 15px auto;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .contactItem {
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: 48%;
        }
        .btnContact {
          position: relative;
          top: 10px;
        }
      }
    }
    .pointPanel {
      .txtBox {
      }
      .pointBox {
        padding: 20px 40px;
        border: 1px solid #800a0f;
        .dl {
          .dt {
            margin: 0 0 15px;
            font-size: 24px;
          }
          .dd {
            line-height: 1.7;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .pointPanel {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: 48%;
        }
        .pointBox {
          width: 48%;
        }
      }
    }
    .secBox {
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: 48%;
        }
        .photo {
          width: 350px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .sec01 {
    padding: 60px 0 120px;
    .topBox {
      margin: 0 0 40px;
      font-size: 18px;
      text-align: center;
    }
    .section {
      + .section {
        margin: 120px 0 0;
      }
      .sectionTtl {
        position: relative;
        margin: 0 0 20px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #3c3c3c;
        }
        h3 {
          position: relative;
          display: inline-block;
          padding: 0 30px 0 0;
          font-size: 26px;
          background: #ffffff;
        }
      }
      .topTxt {
        margin: 0 0 30px;
        font-size: 18px;
      }
    }
    .telBox {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
      color: #f5f4f5;
      text-align: center;
      background: #73090d;
      .ttl {
        margin: 0 0 15px;
        font-size: 20px;
      }
      .tel {
        a {
          display: inline-block;
          padding: 0 0 0 25px;
          font-size: 30px;
          color: #f5f4f5;
          background: url(https://s-9907814.smooooth.jp/system_panel/uploads/images/footer_contact_tel.png)
            left center no-repeat;
          background-size: 20px auto;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #dedede;
    background: #f5f4f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #dedede;
    background: #f5f4f5;
    resize: none;
    // box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .btnSubmitBox {
    max-width: 240px;
    margin: 40px auto 0;
  }
  .contactForm button[type="submit"] {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0;
    border: 1px solid #931318;
    background: #931318;
    transition: 0.6s;
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    padding: 0 0 60px;
    .checkList {
      .ul {
        padding: 12px 0 0;
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      > label {
        position: relative;
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      span {
        display: block;
        padding-left: 25px;
        position: relative;
      }
      span::before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #dedede;
        background: #f5f4f5;
      }
      input:checked + span::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: rotate(40deg);
        border-bottom: 3px solid #000000;
        border-right: 3px solid #000000;
      }
      &.agreeCheck {
        > label {
          display: inline-block;
        }
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      padding: 10px 0;
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #090908;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #ee7800;
      }
    }

    .postalBox {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
      + input {
        + input {
          margin: 5px 0;
        }
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #deebe4;
        border-radius: 15px;
        background: #f7f7f7;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    .formBox {
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        position: relative;
        display: flex;
        width: 100%;
        &.line {
          > .dt {
            vertical-align: top;
          }
        }

        > .dt {
          overflow: hidden;
          width: 280px;
          margin: 0 2px 0 0;
          padding: 20px 10px;
          border-bottom: 1px solid #c1272d;
          > .span {
            display: inline-block;
            min-width: 165px;
            margin-right: 10px;
            padding: 0 0 0 5px;
            vertical-align: middle;
          }

          > .em {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            background: #c1272d;
          }

          .small {
            font-size: 12px;
          }

          .aside {
            margin-top: 10px;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }
          .labelTxt {
            .span {
              margin: 0 0 5px;
            }
          }
          @media (min-width: 1025px) {
            > .span {
              float: left;
            }
            > .em {
              float: right;
            }
          }
        }

        > .dd {
          position: relative;
          width: calc(100% - 282px);
          padding: 10px 20px;
          border-bottom: 1px solid #3c3c3c;
        }
      }
      .datePanel {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        + .datePanel {
          margin: 10px 0 0;
        }
        > * {
          display: flex;
          align-items: center;
        }
        input {
          width: 70px;
          border-radius: 15px;
        }
        .selectBox {
          width: 70px;
        }
        .dateTtl {
          margin: 0 10px 0 0;
        }
        .dateTxt {
          margin: 0 5px;
        }
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        padding: 10px;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border: 1px solid #dedede;
          background: #f5f4f5;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      + .fileUploadBox {
        margin: 5px 0 0;
      }
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 28%;
          font-size: 16px;
          text-align: center;
          border: 1px solid #dedede;
          background: #f5f4f5;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #54765f;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    margin: 0 auto;
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
.blogMain {
  .blogSection {
    padding: 80px 0 120px;
    background: #f5f4f5;
  }
  .catePanel {
    padding: 0 0 80px;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        a {
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          background: #931318;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          a {
            display: block;
          }
          .photo {
            margin: 0 0 10px;
          }
          .title {
            min-height: 30px;
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -50px 0 0 -30px;
          .webgene-item {
            width: calc((100% / 4) - 30px);
            margin: 50px 0 0 30px;
            .photo {
              position: relative;
              height: 250px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #cdcdcd;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #000000;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            background: #171a1c;
          }
          .time {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 30px;
          padding: 0 0 10px;
          font-size: 30px;
          font-weight: 900;
          border-bottom: 1px solid #3c3c3c;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          max-width: 1200px;
          margin: 0 0 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              // width: auto;
              max-height: 550px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
            a {
              display: inline-block;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
      }
    }
  }
  .btnBackBox {
    margin: 80px 0 0;
    text-align: center;
  }
  .btnContact {
    max-width: 300px;
    margin: 0 auto;
    a {
      display: block;
      padding: 15px;
      color: #ffffff;
      text-align: center;
      background: #393939;
    }
  }
  .btnBack {
    max-width: 200px;
    margin: 60px auto 0;
    a {
      display: block;
      padding: 10px;
      color: #ffffff;
      text-align: center;
      background: #931318;
    }
  }
  .webgene-item-aroundPageLink {
    display: inline-block;
    a {
      display: block;
      width: 40px;
      color: #ffffff;
      line-height: 44px;
      border-radius: 20px;
      background: #d10b14;
    }
  }
}
