@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "M PLUS 1p", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-size: 16px;
  background: #ffffff;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2;
}

/*リンク */
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

.gothic {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #ffffff;
  }
  .header .headWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px 10px 5%;
  }
  .header .logo {
    width: 200px;
  }
  .header .logo a {
    display: block;
  }
  .header .hamburger {
    display: none;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox .navList > .ul {
    display: flex;
    align-items: center;
  }
  .navBox .navList > .ul > .li + .li {
    margin: 0 0 0 50px;
  }
  .navBox .navList > .ul > .li > a {
    display: inline-block;
  }
  .navBox .navList > .ul .pulldown {
    cursor: pointer;
  }
  .navBox .navList > .ul .servicePanel {
    position: absolute;
    right: 0;
    top: 56px;
    width: 80%;
    padding: 40px;
    background: #ffffff;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .left {
    width: 30%;
    border-right: 1px solid #000000;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .left .ttlBox .sub {
    font-size: 20px;
    color: #55bba4;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .left .ttlBox .ttl {
    font-size: 34px;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right {
    width: 60%;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul .li + .li {
    margin: 15px 0 0;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul .li a {
    display: inline-block;
  }
  .navBox .navList > .ul .servicePanel .serviceWrap .right .list .ul .li .ul {
    padding: 15px 0 0 1em;
  }
  .navBox .navItem {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    color: #90ceee;
    z-index: 999;
    background: #1c95d4;
  }
  .navBox .navItem .contact a {
    display: block;
  }
  .navBox .navItem .contact a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .navBox .navItem .contact a p {
    padding: 50px 10px 0;
    color: #ffffff;
    writing-mode: vertical-lr;
    background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/nav_mail.png) center top no-repeat;
    background-size: 40px auto;
  }
  .navBox .navItem .sns {
    padding: 50px 0;
    background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/nav_sns_bg.png) no-repeat;
    background-size: cover;
  }
  .navBox .navItem .sns .ul {
    width: 50px;
    margin: 0 auto;
  }
  .navBox .navItem .sns .ul .li + .li {
    margin: 15px 0 0;
  }
  .navBox .navItem .sns .ul .li a {
    display: block;
  }
  .navBox .navItem .copy p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    white-space: noWrap;
    transform: rotate(90deg);
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 86px 0 0;
  padding: 0 80px 0 0;
}

.pageKvPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 0 20px;
  background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/page_kv_bg.png) center no-repeat;
  background-size: cover;
}
.pageKvPanel .pageKvTitle {
  padding: 10px 100px;
  text-align: center;
  background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/page_kv_icon.png) left center no-repeat;
  background-size: 70px auto;
}
.pageKvPanel .pageKvTitle p {
  font-size: 40px;
}
.pageKvPanel .pageKvTitle h1 {
  font-size: 24px;
  color: #55bba4;
}
.pageKvPanel .pageKvTitle--type02 {
  background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/page_kv_icon_02.png) left center no-repeat;
  background-size: 80px auto;
}
.pageKvPanel .pageKvTitle--type03 {
  background: url(https://s-8233964.smooooth.jp/system_panel/uploads/images/page_kv_icon.png) left center no-repeat, url(https://s-8233964.smooooth.jp/system_panel/uploads/images/page_kv_icon_02.png) right center no-repeat;
  background-size: 70px auto, 90px auto;
}

.pageSecTtlBox {
  margin: 0 0 60px;
}
.pageSecTtlBox.center {
  text-align: center;
}
.pageSecTtlBox .sub {
  font-size: 20px;
  color: #55bba4;
}
.pageSecTtlBox .pageSecTtl {
  font-size: 34px;
}

.secWrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMore {
  width: 220px;
}
.btnMore a {
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #1c95d4;
  background: rgba(255, 255, 255, 0.5);
}
.btnMore a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  bottom: 0;
  width: 50px;
  height: 1px;
  margin: auto 0;
  background: #1c95d4;
}
.btnMore.green a {
  border: 1px solid #67aa9a;
}
.btnMore.green a:after {
  background: #67aa9a;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  padding: 60px 0;
  color: #ffffff;
  text-align: center;
  background: #1c95d4;
}
.footer .footContact .secWrap {
  position: relative;
}
.footer .footContact .pageSecTtlBox {
  margin: 0 0 15px;
}
.footer .footContact .pageSecTtlBox .sub {
  color: #e7f4f1;
}
.footer .footContact .txt {
  margin: 0 0 30px;
}
.footer .footContact .contactItem {
  max-width: 750px;
  margin: 0 auto;
}
.footer .footContact .contactItem .btnTel {
  max-width: 360px;
}
.footer .footContact .contactItem .btnTel a {
  display: block;
  padding: 15px;
  font-size: 24px;
  color: #ddedf6;
  border-radius: 30px;
  background: #0b6898;
}
.footer .footContact .contactItem .btnContact {
  max-width: 360px;
}
.footer .footContact .contactItem .btnContact a {
  display: block;
  padding: 15px;
  font-size: 20px;
  border-radius: 30px;
  background: #ffff00;
}
@media (min-width: 1025px) {
  .footer .footContact .contactItem {
    display: flex;
    justify-content: space-between;
  }
  .footer .footContact .contactItem > * {
    width: 48%;
  }
}
.footer .footContact .pagetop {
  position: absolute;
  top: 0;
  right: 5%;
  width: 50px;
  cursor: pointer;
}
.footer .footPanel {
  position: relative;
  padding: 60px 0;
  z-index: 1000;
  background: #ffffff;
}
.footer .footPanel .logo {
  width: 200px;
  margin: 0 0 20px;
}
.footer .footPanel .telFax > * {
  display: inline-block;
}
.footer .footPanel .telFax a {
  display: inline-block;
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/
body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/
body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}