@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain .topKvContainer {
  padding: 0 0 30px 10%;
}
.topMain .topKvContainer .topKvPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 700px;
  padding: 60px;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/top_kv_01.png) no-repeat;
  background-size: cover;
}
.topMain .topKvContainer .topKvPanel::before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -20px;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 10px;
  background: #27a9b8;
}
.topMain .topKvContainer .topKvPanel .kvTitleBox {
  color: #ffffff;
}
.topMain .topKvContainer .topKvPanel .kvTitleBox h1 {
  margin: 0 0 10px;
  font-size: 50px;
}
.topMain .topKvContainer .topKvPanel .kvTitleBox .txt {
  font-size: 20px;
}
.topMain .sec01 {
  padding: 60px 0 120px;
}
.topMain .sec01 .secWrap {
  padding: 100px 20px;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/top_sec01_top_map.png) left top no-repeat;
  background-size: 70% auto;
}
.topMain .sec01 .secContainer01 {
  position: relative;
  margin: 0 0 150px;
}
.topMain .sec01 .secContainer01 .secPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.topMain .sec01 .secContainer01 .secPanel .secBox {
  width: 45%;
  padding: 100px 0 0;
}
.topMain .sec01 .secContainer01 .secPanel .secBox .ttlBox {
  margin: 0 0 20px;
}
.topMain .sec01 .secContainer01 .secPanel .secBox .ttlBox .ttl {
  font-size: 0;
}
.topMain .sec01 .secContainer01 .secPanel .secBox .ttlBox .ttl p {
  display: inline;
  font-size: clamp(30px, 2vw, 45px);
}
.topMain .sec01 .secContainer01 .secPanel .secBox .ttlBox .ttl .em {
  color: #27a9b8;
}
.topMain .sec01 .secContainer01 .secPanel .secBox .photoBox {
  margin: 80px 0 0;
}
.topMain .sec01 .secContainer01 .secPanel .secBox .photoBox img {
  border-radius: 10px;
}
@media (min-width: 1025px) {
  .topMain .sec01 .secContainer01 .secPanel .secBox .photoBox .photo01 {
    position: absolute;
    top: 0;
    right: 55%;
    width: 30%;
    max-width: 330px;
  }
  .topMain .sec01 .secContainer01 .secPanel .secBox .photoBox .photo01::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -40px;
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius: 10px;
    background: #27a9b8;
  }
  .topMain .sec01 .secContainer01 .secPanel .secBox .photoBox .photo02 {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 30%;
    max-width: 330px;
  }
  .topMain .sec01 .secContainer01 .secPanel .secBox .photoBox .photo03 {
    position: relative;
    width: 330px;
  }
  .topMain .sec01 .secContainer01 .secPanel .secBox .photoBox .photo03::before {
    content: "";
    position: absolute;
    right: -40px;
    bottom: -20px;
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius: 10px;
    background: #63c6d1;
  }
}
.topMain .sec01 .secContainer02 {
  max-width: 1200px;
  margin: 0 auto;
}
.topMain .sec01 .secContainer02 .headTtl {
  margin: 0 0 30px;
  padding: 10px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: #27a9b8;
}
.topMain .sec01 .secContainer02 .listBox .ul .li .photo img {
  border-radius: 10px;
}
.topMain .sec01 .secContainer02 .listBox .ul .li .txt {
  padding: 10px;
  text-align: center;
}
@media (min-width: 1025px) {
  .topMain .sec01 .secContainer02 .listBox .ul {
    display: flex;
    justify-content: space-between;
  }
  .topMain .sec01 .secContainer02 .listBox .ul .li {
    width: calc(33.3333333333% - 20px);
  }
}
.topMain .sec01 .messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 20px;
}
.topMain .sec01 .messageContainer .messagePanel {
  width: 55%;
  padding: 50px 80px;
  border-radius: 10px 0 0 10px;
  background: #f2f9fa;
}
.topMain .sec01 .messageContainer .messagePanel .messageBox .message {
  font-size: 0;
}
.topMain .sec01 .messageContainer .messagePanel .messageBox .message p {
  display: inline;
  font-size: clamp(30px, 2vw, 45px);
}
.topMain .sec01 .messageContainer .messagePanel .messageBox .message .em {
  color: #205d89;
}
.topMain .sec01 .messageContainer .messagePanel .messageBox .marker {
  display: inline-block;
  background: linear-gradient(transparent 70%, #dfecb8 70%);
}
.topMain .secTtlBox {
  position: relative;
  display: inline-block;
  margin: 0 0 60px;
  padding: 0 0 8px;
  text-align: right;
}
.topMain .secTtlBox::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  background: #3a5282;
}
.topMain .secTtlBox .sub {
  color: #c8c8c4;
}
.topMain .secTtlBox .secTtl {
  font-size: 34px;
  color: #3a5282;
}
.topMain .sec02 {
  position: relative;
  padding: 120px 0;
}
.topMain .sec02::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: #f2f9fa;
}
.topMain .sec02 .secWrap {
  position: relative;
}
.topMain .sec02 .secPanel01 {
  margin: 0 0 100px;
}
.topMain .sec02 .secPanel01 .photoBox {
  position: relative;
}
.topMain .sec02 .secPanel01 .photoBox::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px;
  height: 100px;
  z-index: -1;
  border-radius: 10px;
  background: #97ae51;
}
.topMain .sec02 .secPanel01 .photoBox .photo img {
  border-radius: 10px;
}
.topMain .sec02 .secPanel01 .txtBox .pTtl {
  position: relative;
  margin: 0 0 60px;
}
.topMain .sec02 .secPanel01 .txtBox .pTtl .service {
  max-width: 400px;
}
.topMain .sec02 .secPanel01 .txtBox .pTtl .ttl {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 40px;
  line-height: 1;
}
.topMain .sec02 .secPanel01 .txtBox .txt {
  margin: 0 0 40px;
}
@media (min-width: 1025px) {
  .topMain .sec02 .secPanel01 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .topMain .sec02 .secPanel01 .photoBox {
    width: 55%;
  }
  .topMain .sec02 .secPanel01 .txtBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
  }
  .topMain .sec02 .secPanel01 .txtBox .inner {
    width: 90%;
  }
}
.topMain .sec02 .secPanel02 .photoBox {
  position: relative;
}
.topMain .sec02 .secPanel02 .photoBox::before {
  content: "";
  position: absolute;
  left: -40px;
  bottom: -20px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #27a9b8;
}
.topMain .sec02 .secPanel02 .photoBox .photo {
  position: relative;
}
.topMain .sec02 .secPanel02 .photoBox .photo img {
  border-radius: 10px;
}
.topMain .sec02 .secPanel02 .txtBox .pTtl {
  position: relative;
  margin: 0 0 60px;
}
.topMain .sec02 .secPanel02 .txtBox .pTtl .service {
  max-width: 400px;
}
.topMain .sec02 .secPanel02 .txtBox .pTtl .ttl {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 40px;
  line-height: 1;
}
.topMain .sec02 .secPanel02 .txtBox .txt {
  margin: 0 0 40px;
}
@media (min-width: 1025px) {
  .topMain .sec02 .secPanel02 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 15%;
  }
  .topMain .sec02 .secPanel02 .photoBox {
    width: 45%;
  }
  .topMain .sec02 .secPanel02 .txtBox {
    width: 50%;
  }
}
.topMain .sec03 {
  padding: 200px 0 100px;
}
.topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-header {
  display: none;
}
.topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item a {
  display: block;
}
.topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item .photo {
  position: relative;
}
.topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item .photo img {
  border-radius: 10px;
}
.topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item .title {
  margin: 10px 0 0;
}
@media (min-width: 1025px) {
  .topMain .sec03 .secPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .topMain .sec03 .secPanel .txtBox {
    width: 180px;
  }
  .topMain .sec03 .secPanel .listBox {
    width: calc(100% - 240px);
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog {
    display: flex;
    gap: 0 50px;
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 50px);
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item:nth-child(3) {
    position: relative;
    bottom: 30px;
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item:nth-child(4) {
    position: relative;
    bottom: 60px;
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item .photo {
    height: 400px;
  }
  .topMain .sec03 .secPanel .blogListPanel .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.topMain .sec04 {
  position: relative;
  margin: 0 0 102px;
  padding: 120px 0;
}
.topMain .sec04::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #f2f9fa;
}
.topMain .sec04 .secPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.topMain .sec04 .infoBox {
  width: 100%;
  max-width: 780px;
  text-align: left;
}
.topMain .sec04 .infoBox .dl {
  display: flex;
  justify-content: space-between;
}
.topMain .sec04 .infoBox .dl + .dl {
  margin: 10px 0 0;
}
.topMain .sec04 .infoBox .dl .dt {
  width: 120px;
  padding: 10px 10px;
  color: #3a5282;
  text-align: center;
  border-bottom: 1px solid #3a5282;
}
.topMain .sec04 .infoBox .dl .dd {
  width: calc(100% - 125px);
  padding: 10px 40px;
  border-bottom: 1px solid #1a1a1a;
}
.topMain .sec04 .infoBox .dl .dd a {
  display: inline-block;
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain .topSection {
  padding: 120px 0;
  text-align: center;
}
.serviceMain .topSection .ttlBox {
  margin: 0 0 20px;
}
.serviceMain .topSection .ttlBox .ttl {
  font-size: 0;
}
.serviceMain .topSection .ttlBox .ttl p {
  display: inline;
  font-size: clamp(35px, 2vw, 55px);
}
.serviceMain .topSection .ttlBox .ttl .em {
  color: #27a9b8;
}
.serviceMain .topSection .txt {
  margin: 0 0 30px;
}
.serviceMain .topSection .list .ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.serviceMain .topSection .list .ul .li {
  width: calc(25% - 10px);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  background: #64a7b6;
}
.serviceMain .secReason {
  position: relative;
  padding: 100px 0;
}
.serviceMain .secReason:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 900px;
  z-index: -1;
  border-radius: 0 10px 10px 0;
  background: #f2f9fa;
}
.serviceMain .secReason .secTtlBox {
  position: relative;
  margin: 0 0 60px;
  padding: 0 0 8px;
  text-align: center;
}
.serviceMain .secReason .secTtlBox::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  margin: 0 auto;
  background: #3a5282;
}
.serviceMain .secReason .secTtlBox .sub {
  color: #c8c8c4;
}
.serviceMain .secReason .secTtlBox .secTtl {
  font-size: 34px;
  color: #3a5282;
}
.serviceMain .secReason .secContainer01 {
  margin: 0 0 120px;
}
.serviceMain .secReason .secContainer01 .secBox + .secBox {
  margin: 40px 0 0;
}
.serviceMain .secReason .secContainer01 .secBox .ttlBox .reason {
  max-width: 350px;
}
.serviceMain .secReason .secContainer01 .secBox .ttlBox .ttl {
  margin: -20px 0 0;
  font-size: clamp(30px, 2vw, 40px);
  line-height: 1.2;
}
.serviceMain .secReason .secContainer01 .secBox .txtBox {
  padding: 10px 30px;
}
@media (min-width: 1025px) {
  .serviceMain .secReason .secContainer01 .secBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .serviceMain .secReason .secContainer01 .secBox .ttlBox {
    width: 35%;
  }
  .serviceMain .secReason .secContainer01 .secBox .txtBox {
    width: 65%;
    border-left: 1px solid #44537f;
  }
}
.serviceMain .secReason .secContainer02 {
  max-width: 1200px;
  margin: 0 auto;
}
.serviceMain .secReason .secContainer02 .examplePanel {
  margin: 0 0 60px;
}
.serviceMain .secReason .secContainer02 .examplePanel .pTtl {
  margin: 0 0 20px;
  padding: 10px;
  font-size: 34px;
  text-align: center;
  border-radius: 10px;
  background: #dcedf0;
}
.serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul .li {
  padding: 15px 10px 10px;
  background: #64a7b6;
}
.serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul .dl {
  text-align: center;
}
.serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul .dl .dt {
  margin: 0 0 10px;
  font-size: 24px;
  color: #ffffff;
}
.serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul .dl .dd {
  padding: 15px 20px;
  border-radius: 6px;
  background: #ffffff;
}
@media (min-width: 1025px) {
  .serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
  }
  .serviceMain .secReason .secContainer02 .examplePanel .listBox01 .ul .li {
    width: calc(33.3333333333% - 15px);
  }
}
.serviceMain .secReason .secContainer02 .logoBox {
  max-width: 750px;
  margin: 0 auto 40px;
}
.serviceMain .secReason .secContainer02 .logoBox .logo {
  max-width: 330px;
}
.serviceMain .secReason .secContainer02 .logoBox .ttl {
  font-size: 24px;
  text-align: center;
  line-height: 1.7;
}
@media (min-width: 1025px) {
  .serviceMain .secReason .secContainer02 .logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .serviceMain .secReason .secContainer02 .logoBox .logo {
    margin: 0 20px 0 0;
  }
}
.serviceMain .secReason .secContainer02 .listBox02 .ul .li {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #dde5e6;
  background: #f4f9fa;
}
.serviceMain .secReason .secContainer02 .listBox02 .ul .dl .dt {
  margin: 0 0 20px;
  font-size: 34px;
  color: #64a7b6;
  text-align: center;
}
.serviceMain .secReason .secContainer02 .listBox02 .ul .dl .dd .txt {
  margin: 0 0 20px;
}
.serviceMain .secReason .secContainer02 .listBox02 .ul .dl .dd .btnMore {
  text-align: center;
}
@media (min-width: 1025px) {
  .serviceMain .secReason .secContainer02 .listBox02 .ul {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
  }
  .serviceMain .secReason .secContainer02 .listBox02 .ul .li {
    width: calc(50% - 15px);
  }
  .serviceMain .secReason .secContainer02 .listBox02 .ul .dl .dd .txt {
    min-height: 140px;
    line-height: 2.2;
  }
}
.serviceMain .pagingSection .section + .section {
  margin: 120px 0 0;
}
.serviceMain .pagingSection .secTtlBox {
  position: relative;
  display: inline-block;
  margin: 0 0 60px;
  padding: 0 0 8px;
  text-align: right;
}
.serviceMain .pagingSection .secTtlBox::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  background: #3a5282;
}
.serviceMain .pagingSection .secTtlBox .sub {
  color: #c8c8c4;
}
.serviceMain .pagingSection .secTtlBox .secTtl {
  font-size: 34px;
  color: #3a5282;
}
.serviceMain .pagingSection .topPanel {
  position: relative;
  margin: 0 0 100px;
}
.serviceMain .pagingSection .topPanel .txtBox {
  position: relative;
  width: 80%;
  padding: 80px 0;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  background: #44537f;
}
.serviceMain .pagingSection .topPanel .txtBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50vw;
  height: 100%;
  z-index: -1;
  background: #44537f;
}
.serviceMain .pagingSection .topPanel .txtBox .ttl {
  margin: 0 0 20px;
  font-size: 34px;
}
.serviceMain .pagingSection .topPanel .txtBox .txt {
  width: 78%;
  max-width: 740px;
}
@media (min-width: 1025px) {
  .serviceMain .pagingSection .topPanel .photo {
    position: absolute;
    right: -5%;
    bottom: -30px;
    width: 40%;
    z-index: 1;
  }
  .serviceMain .pagingSection .topPanel .txtBox {
    min-height: 320px;
  }
}
.serviceMain .pagingSection .targetPanel {
  margin: 0 0 80px;
}
.serviceMain .pagingSection .targetPanel .dl {
  border-radius: 10px;
  border: 1px solid #64a7b6;
  background: #64a7b6;
}
.serviceMain .pagingSection .targetPanel .dl .dt {
  padding: 20px 15px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
.serviceMain .pagingSection .targetPanel .dl .dd {
  padding: 30px 30px;
  background: #f4f9fa;
}
.serviceMain .pagingSection .targetPanel .dl .dd .ul .li {
  padding: 0 0 0 35px;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/service_list_check.png) left center no-repeat;
  background-size: 25px auto;
}
@media (min-width: 1025px) {
  .serviceMain .pagingSection .targetPanel .dl {
    display: table;
    width: 100%;
  }
  .serviceMain .pagingSection .targetPanel .dl .dt {
    display: table-cell;
    width: 300px;
    vertical-align: middle;
  }
  .serviceMain .pagingSection .targetPanel .dl .dd {
    display: table-cell;
    vertical-align: middle;
    border-radius: 0 10px 10px 0;
  }
  .serviceMain .pagingSection .targetPanel .dl .dd .ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
  }
  .serviceMain .pagingSection .targetPanel .dl .dd .ul .li {
    width: calc(50% - 20px);
  }
}
.serviceMain .pagingSection .solutionPanel {
  margin: 0 0 80px;
}
.serviceMain .pagingSection .solutionPanel .pTtl {
  margin: 0 0 40px;
  padding: 10px;
  font-size: 34px;
  text-align: center;
  border-radius: 10px;
  background: #dcedf0;
}
.serviceMain .pagingSection .solutionPanel .listBox .ul .photo {
  margin: 0 0 20px;
}
.serviceMain .pagingSection .solutionPanel .listBox .ul .photo img {
  border-radius: 10px;
}
.serviceMain .pagingSection .solutionPanel .listBox .ul .dl .dt {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.serviceMain .pagingSection .solutionPanel .listBox .ul .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .serviceMain .pagingSection .solutionPanel .listBox .ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 15px;
  }
  .serviceMain .pagingSection .solutionPanel .listBox .ul .li {
    width: calc(25% - 15px);
  }
}
@media (min-width: 1025px) {
  .serviceMain .pagingSection .solutionPanel .listBox.listBox02 .ul .dl .dt {
    min-height: 55px;
  }
}
.serviceMain .pagingSection .casePanel .pTtl {
  margin: 0 0 40px;
  padding: 10px;
  font-size: 34px;
  text-align: center;
  border-radius: 10px;
  background: #dcedf0;
}
.serviceMain .pagingSection .casePanel .subTtl {
  margin: 0 0 20px;
  padding: 10px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: #64a7b6;
}
.serviceMain .pagingSection .casePanel .caseBox01 {
  margin: 0 0 20px;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box01 {
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #5493a6;
  background: #5493a6;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box01 .dl .dt {
  margin: 0 0 15px;
  font-size: 24px;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box01 .dl .dd {
  line-height: 2;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box02 {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #5493a6;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box02 .dl .dt {
  margin: 0 0 15px;
  font-size: 24px;
  color: #5493a6;
}
.serviceMain .pagingSection .casePanel .caseBox01 .box02 .dl .dd {
  line-height: 2.2;
}
@media (min-width: 1025px) {
  .serviceMain .pagingSection .casePanel .caseBox01 {
    display: flex;
    justify-content: space-between;
  }
  .serviceMain .pagingSection .casePanel .caseBox01 .box01 {
    width: 33%;
  }
  .serviceMain .pagingSection .casePanel .caseBox01 .box02 {
    width: 66%;
  }
}
.serviceMain .pagingSection .casePanel .caseBox02 {
  padding: 20px;
  border-radius: 10px;
  background: #dcedf0;
}
.serviceMain .pagingSection .casePanel .caseBox02 .dl .dt {
  margin: 0 0 10px;
  font-size: 24px;
}
.serviceMain .pagingSection .casePanel .caseBox02 .dl .dd {
  line-height: 2.2;
}
.serviceMain .pagingSection .casePanel .caseBox02 .dl .dd p + p {
  margin: 20px 0 0;
}
.serviceMain .pagingSection .casePanel .arrow {
  width: 30px;
  margin: 5px auto;
}
.serviceMain .pagingSection .casePanel .caseBox03 {
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  background: #9dac58;
}
.serviceMain .pagingSection .casePanel .caseBox03 .dl .dt {
  margin: 0 0 10px;
  font-size: 24px;
}
.serviceMain .pagingSection .casePanel .caseBox03 .dl .dd {
  line-height: 2.2;
}
.serviceMain .pagingSection .casePanel .caseBox03 .dl .dd p + p {
  margin: 20px 0 0;
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain .topSection {
  padding: 120px 0;
  text-align: center;
}
.contactMain .topSection .ttlBox .ttl {
  font-size: 0;
}
.contactMain .topSection .ttlBox .ttl p {
  display: inline;
  font-size: clamp(20px, 2vw, 26px);
}
.contactMain .topSection .ttlBox .ttl .em {
  color: #27a9b8;
}
.contactMain .secTtlBox {
  position: relative;
  margin: 0 0 60px;
  padding: 0 0 8px;
  text-align: center;
}
.contactMain .secTtlBox::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  margin: 0 auto;
  background: #3a5282;
}
.contactMain .secTtlBox .sub {
  color: #c8c8c4;
}
.contactMain .secTtlBox .secTtl {
  font-size: 34px;
  color: #3a5282;
}
.contactMain .sec01 {
  padding: 0 0 60px;
}
.contactMain .sec01 .telBox {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: #f2f9fa;
}
.contactMain .sec01 .telBox .tel a {
  display: inline-block;
}
.contactMain .sec01 .telBox .tel a .span {
  display: inline-block;
  font-size: 15px;
}
.contactMain .sec01 .telBox .tel a .em {
  display: inline-block;
  font-size: 30px;
}
.contactMain .sec01 .telBox > p {
  font-size: 14px;
}
.contactMain .sec02 {
  padding: 60px 0;
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  /*テキストエリア*/
}
.formMain .contactForm input[type=text],
.formMain .contactForm input[type=email],
.formMain .contactForm input[type=tel] {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #d8e6e8;
  background: #f2f9fa;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #d8e6e8;
  background: #f2f9fa;
  resize: none;
}
.formMain .contactForm input[type=text]:focus,
.formMain .contactForm input[type=email]:focus,
.formMain .contactForm input[type=tel]:focus,
.formMain .contactForm textarea:focus {
  outline: 0;
  border: 2px solid #90cefd;
}
.formMain .btnSubmitBox {
  max-width: 220px;
  margin: 40px auto 0;
}
.formMain .contactForm button[type=submit] {
  overflow: hidden;
  position: relative;
  display: block;
  width: 130px;
  padding: 10px 10px;
  font-size: 16px;
  color: #3a5282;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/btn_more_arrow.png) right center no-repeat;
  background-size: 30px auto;
  transition: 0.6s;
}
.formMain .contactForm button[type=submit][disabled] {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.formMain .contactForm .form {
  padding: 0 0 60px;
}
.formMain .contactForm .form .checkList .ul {
  padding: 12px 0 0;
}
.formMain .contactForm .form .checkList .ul + .ul {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList .ul .li + .li {
  margin: 10px 0 0;
}
.formMain .contactForm .form .checkList01 .ul .li {
  display: inline-block;
}
.formMain .contactForm .form .checkList01 .ul .li + .li {
  margin: 0 0 0 10px;
}
.formMain .contactForm .form .checkList01 .checkItem {
  display: inline-block;
  padding: 0 5px 0 0;
}
.formMain .contactForm .form .checkList01 .checkItem + input {
  display: inline-block;
  width: 150px;
}
.formMain .contactForm .form .checkList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .checkItem + .checkItem {
  margin-top: 10px;
}
.formMain .contactForm .form .checkItem > label {
  position: relative;
  display: block;
}
.formMain .contactForm .form .checkItem input {
  position: absolute;
  opacity: 0;
}
.formMain .contactForm .form .checkItem span {
  display: block;
  padding-left: 25px;
  position: relative;
}
.formMain .contactForm .form .checkItem span::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #d8e6e8;
  background: #f2f9fa;
}
.formMain .contactForm .form .checkItem input:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #27a9b8;
  border-right: 3px solid #27a9b8;
}
.formMain .contactForm .form .checkItem.agreeCheck > label {
  display: inline-block;
}
.formMain .contactForm .form .radioList01 .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .form .radioList01 .otherTxt {
  display: inline-block;
}
.formMain .contactForm .form .radioBox {
  padding: 10px 0;
}
.formMain .contactForm .form .radioBox .radio {
  position: relative;
  display: inline-block;
}
.formMain .contactForm .form .radioBox input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
.formMain .contactForm .form .radioBox label {
  position: relative;
  padding: 5px 0 5px 35px;
}
.formMain .contactForm .form .radioBox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  border-radius: 50%;
  border: 1px solid #090908;
  background: #ffffff;
  box-sizing: border-box;
}
.formMain .contactForm .form .radioBox input[type=radio]:checked + label:before {
  border: 8px solid #ee7800;
}
.formMain .contactForm .form .postalBox {
  margin: 0 0 5px;
}
.formMain .contactForm .form .postalBox input {
  width: 90px;
}
.formMain .contactForm .form .postalBox input + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .form .postalBox .postalTxt {
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
}
.formMain .contactForm .form .postalBox + input + input {
  margin: 5px 0;
}
.formMain .contactForm .form .selectBox {
  display: inline-block;
  width: 200px;
}
.formMain .contactForm .form .selectBox select {
  display: block;
  width: 100%;
  padding: 11px 20px;
  font-size: 16px;
  color: #000000;
  line-height: 1.5em;
  border-radius: 0;
  border: 1px solid #deebe4;
  border-radius: 15px;
  background: #f7f7f7;
  background-size: 10px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .form .selectBox + .span {
  display: inline-block;
  margin: 0 5px;
}
.formMain .contactForm .formBox + .formBox {
  margin-top: 60px;
}
.formMain .contactForm .formBox > .dl {
  position: relative;
  display: flex;
  width: 100%;
}
.formMain .contactForm .formBox > .dl.line > .dt {
  vertical-align: top;
}
.formMain .contactForm .formBox > .dl > .dt {
  overflow: hidden;
  width: 280px;
  margin: 0 2px 0 0;
  padding: 20px 10px;
  border-bottom: 1px solid #3a5282;
}
.formMain .contactForm .formBox > .dl > .dt .span {
  display: inline-block;
  min-width: 165px;
  margin-right: 10px;
  padding: 0 0 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox > .dl > .dt .em {
  display: inline-block;
  padding: 0 7px;
  font-size: 14px;
  color: #ffffff;
  vertical-align: middle;
  border-radius: 4px;
  background: #3a5282;
}
.formMain .contactForm .formBox > .dl > .dt .small {
  font-size: 12px;
}
.formMain .contactForm .formBox > .dl > .dt .aside {
  margin-top: 10px;
}
.formMain .contactForm .formBox > .dl > .dt .aside p {
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
}
@media (min-width: 1025px) {
  .formMain .contactForm .formBox > .dl > .dt .span {
    float: left;
  }
  .formMain .contactForm .formBox > .dl > .dt .em {
    float: right;
  }
}
.formMain .contactForm .formBox > .dl > .dd {
  position: relative;
  width: calc(100% - 282px);
  padding: 10px 20px;
  border-bottom: 1px solid #3a5282;
}
.formMain .contactForm .formBox .datePanel {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.formMain .contactForm .formBox .datePanel + .datePanel {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .datePanel > * {
  display: flex;
  align-items: center;
}
.formMain .contactForm .formBox .datePanel input {
  width: 70px;
  border-radius: 15px;
}
.formMain .contactForm .formBox .datePanel .selectBox {
  width: 70px;
}
.formMain .contactForm .formBox .datePanel .dateTtl {
  margin: 0 10px 0 0;
}
.formMain .contactForm .formBox .datePanel .dateTxt {
  margin: 0 5px;
}
.formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
  display: table;
  width: 100%;
}
.formMain .contactForm .formBox .addressBox .dl + .dl,
.formMain .contactForm .formBox .dateBox .dl + .dl {
  margin-top: 10px;
}
.formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
  display: table-cell;
  vertical-align: middle;
}
.formMain .contactForm .formBox .ageInput input {
  display: inline-block;
  width: 120px;
  margin: 0 5px 0 0;
}
.formMain .contactForm .formBox .ageInput > p {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox {
  margin: 0 0 20px;
}
.formMain .contactForm .formBox .meetingBox .radioList {
  display: inline-block;
}
.formMain .contactForm .formBox .meetingBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .dateBox + .dateBox {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox + .txt {
  margin: 10px 0 0;
}
.formMain .contactForm .formBox .dateBox input[type=text] {
  width: 90px;
}
.formMain .contactForm .formBox .dateBox .em {
  display: inline-block;
}
.formMain .contactForm .formBox .dateBox .span {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.formMain .contactForm .formBox .dateBox .radioList {
  display: inline-block;
  margin: 0 0 0 40px;
}
.formMain .contactForm .formBox .dateBox .radioList .list {
  display: inline-block;
  margin: 0 20px 0 0;
}
.formMain .contactForm .formBox .caution {
  margin-top: 10px;
  color: #d20000;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox {
  padding: 10px 10px 40px;
  font-size: 0;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}
.formMain .contactForm .formBox .telBox > * {
  display: inline-block;
  font-size: 14px;
}
.formMain .contactForm .formBox .telTxt {
  padding: 10px 10px 0;
}
.formMain .contactForm .formBox .privacy {
  padding: 10px;
}
.formMain .contactForm .formBox .privacy > p {
  margin: 0 0 20px;
  text-align: left;
}
.formMain .contactForm .formBox .privacy .agreeBox {
  overflow: scroll;
  height: 500px;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #d8e6e8;
  background: #f2f9fa;
}
.formMain .contactForm .formBox .privacy .agreeBox .box + .box {
  margin: 30px 0 0;
}
.formMain .contactForm .formBox .privacy .agreeBox .box .link a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy .agreeBox p {
  line-height: 2;
}
.formMain .contactForm .formBox .privacy .agreeBox .tel p,
.formMain .contactForm .formBox .privacy .agreeBox .tel a {
  display: inline-block;
}
.formMain .contactForm .formBox .privacy + .checkItem {
  margin: 40px 0;
  text-align: center;
}
.formMain .contactForm .fileUploadBox .ttl {
  margin: 0 0 10px;
  line-height: 2;
}
.formMain .contactForm .fileUploadBox .fileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formMain .contactForm .fileUploadBox .fileArea + .fileArea {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile {
  position: relative;
  width: 28%;
  font-size: 16px;
  color: #b4d2be;
  text-align: center;
  border: 1px solid #41ab6d;
  background: #ffffff;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.formMain .contactForm .fileUploadBox .fileArea .inputFile p {
  padding: 12px 10px;
}
.formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
  width: 70%;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt p {
  display: inline-block;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .fileName {
  margin: 0 10px 0 0;
}
.formMain .contactForm .fileUploadBox .fileArea .fileTxt .attention {
  font-size: 13px;
  color: #54765f;
}
.formMain .contactForm .fileUploadBox .txt {
  line-height: 2;
}
.formMain .contactForm .aside {
  margin: 10px 0 0;
}
.formMain .contactForm .fileUploadTitleBox {
  margin: 60px 0 30px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle {
  position: relative;
  max-width: 440px;
  margin: 0 0 20px;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  background: #000000;
}
.formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  font-size: 30px;
  font-weight: bold;
  background: #ffffff;
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
}
.complete .txt {
  margin: 0 0 40px;
  text-align: center;
  line-height: 2.5;
}
.complete .btnMoreBox {
  text-align: center;
}

/*////////////////////////////////////////////////////////////
  blog
///////////////////////////////////////////////////////////*/
.blogMain .blogSection {
  padding: 80px 0 120px;
}
.blogMain .catePanel {
  padding: 40px 0 80px;
}
.blogMain .catePanel .webgene-blog .webgene-header {
  display: none;
}
.blogMain .catePanel .webgene-blog .webgene-item {
  display: inline-block;
  width: 220px;
  margin: 0 20px 0 0;
}
.blogMain .catePanel .webgene-blog .webgene-item a {
  display: block;
  padding: 15px 10px;
  font-size: 16px;
  font-family: "Zen Maru Gothic";
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/blog_cate_arrow.png) right 10px center no-repeat #309aa7;
  background-size: 30px auto;
}
.blogMain .blogPanel--list .webgene-blog .webgene-header {
  display: none;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item a {
  display: block;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
  margin: 0 0 20px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .photo img {
  border-radius: 10px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .title {
  min-height: 30px;
  margin: 0 0 10px;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .more {
  padding: 0 0 5px;
  border-bottom: 1px solid #707c94;
}
.blogMain .blogPanel--list .webgene-blog .webgene-item .more p {
  display: block;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/blog_list_arrow.png) right 5px center no-repeat;
}
@media (min-width: 1025px) {
  .blogMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -40px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(33.3333333333% - 40px);
    margin: 50px 0 0 40px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 260px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.blogMain .blogPanel--list .webgene-pagination {
  overflow: hidden;
  width: 100%;
  margin: 100px auto 0;
  font-size: 14px;
}
.blogMain .blogPanel--list .webgene-pagination ul {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.blogMain .blogPanel--list .webgene-pagination ul li {
  display: inline-block;
  margin: 0 2px;
}
.blogMain .blogPanel--list .webgene-pagination ul li a {
  display: block;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 6px;
  background: #d0e5e8;
}
.blogMain .blogPanel--list .webgene-pagination ul .prev {
  margin: 0 2px 0 0;
}
.blogMain .blogPanel--list .webgene-pagination ul .next {
  position: relative;
  margin: 0 0 0 2px;
}
.blogMain .blogPanel--list .webgene-pagination ul .selected a {
  color: #ffffff;
  background: #309aa7;
}
@media (min-width: 1025px) {
  .blogMain .blogPanel--list .webgene-pagination ul .prev {
    float: left;
  }
  .blogMain .blogPanel--list .webgene-pagination ul .next {
    float: right;
  }
}
.blogMain .blogPanel--detail .webgene-blog .webgene-header {
  display: none;
}
.blogMain .blogPanel--detail .webgene-blog .info {
  margin: 0 0 15px;
}
.blogMain .blogPanel--detail .webgene-blog .info .cate {
  display: inline-block;
  min-width: 100px;
  margin: 0 10px 0 0;
  padding: 0 10px;
  color: #ffffff;
  text-align: center;
  background: #171a1c;
}
.blogMain .blogPanel--detail .webgene-blog .info .time {
  display: inline-block;
  vertical-align: middle;
}
.blogMain .blogPanel--detail .webgene-blog .ttlBox {
  margin: 0 0 30px;
  padding: 0 0 10px;
  font-size: 30px;
  border-bottom: 1px solid #309aa7;
}
.blogMain .blogPanel--detail .webgene-blog .slickSlide {
  margin: 0 0 40px;
}
.blogMain .blogPanel--detail .webgene-blog .slick-list {
  margin: 0 0 10px;
}
.blogMain .blogPanel--detail .webgene-blog .thumb-item {
  max-width: 850px;
  margin: 0 0 10px;
}
@media (min-width: 1025px) {
  .blogMain .blogPanel--detail .webgene-blog .thumb-item img {
    display: block;
    max-height: 500px;
    object-fit: cover;
  }
}
.blogMain .blogPanel--detail .webgene-blog .slick-slide img {
  border-radius: 10px;
}
.blogMain .blogPanel--detail .webgene-blog .slideNav .slider .li > div {
  overflow: hidden;
  position: relative;
  padding: 0 0 65%;
}
.blogMain .blogPanel--detail .webgene-blog .slideNav .slider .li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogMain .blogPanel--detail .webgene-blog .slideNav .slick-slide {
  margin: 0 5px;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .photo {
  margin-bottom: 40px;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .photo img {
  width: auto;
  max-width: 100%;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt {
  line-height: 2;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt p + p {
  margin: 30px 0 0;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .postTxt img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .pdfArea {
  margin: 40px 0 0;
}
.blogMain .blogPanel--detail .webgene-blog .postBox .pdfArea a {
  color: #2151a3;
}
.blogMain .blogPanel--detail .webgene-blog .videoBox {
  margin: 40px 0 0;
}
.blogMain .blogPanel--detail .btnBackBox {
  margin: 80px 0 0;
  text-align: center;
}
.blogMain .blogPanel--detail .btnContact {
  max-width: 280px;
  margin: 0 auto;
}
.blogMain .blogPanel--detail .btnContact a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  background: #8d9e5a;
}
.blogMain .blogPanel--detail .btnBack {
  margin: 100px auto 0;
  text-align: center;
}
.blogMain .blogPanel--detail .btnBack a {
  display: inline-block;
  padding: 10px 0 10px 40px;
  color: #3a5282;
  background: url(https://s-9951061.smooooth.jp/system_panel/uploads/images/btn_back_arrow.png) left center no-repeat;
  background-size: 30px auto;
}
.blogMain .blogPanel--detail .btnBack a p {
  display: inline-block;
  padding: 0 0 3px;
  border-bottom: 1px solid #7887a5;
}
.blogMain .blogPanel--detail .webgene-item-aroundPageLink {
  display: inline-block;
}
.blogMain .blogPanel--detail .webgene-item-aroundPageLink a {
  display: block;
  width: 40px;
  color: #ffffff;
  line-height: 44px;
  border-radius: 20px;
  background: #d10b14;
}